{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>
        {{title}} {% trans "Management" %}
      </legend>
      {% if request.user.is_access_administrator %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'project-user-add' %}">{% trans "Add Project User" %}</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "First Name" %}</th>
            <th>{% trans "Last Name" %}</th>
            <th>{% trans "User Groups" %}</th>
            {% if request.user.is_access_administrator %}
              <th colspan=2>{% trans "Actions" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.first_name}}</td>
              <td>{{item.last_name}}</td>
              <td>
                {% for group in item.groups.all %}
                  {{ group.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                  {% trans "No Groups" %}
                {% endfor %}
              </td>
              {% if request.user.is_access_administrator %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "project-user-update" item.id %}">{% trans "Edit" %}</a>
                  <a class='btn btn-delete' href="{% url "project-user-delete" item.id %}">{% trans "Delete" %}</a>
                  <a class="btn btn-edit" href="{% url "project-user-groups-update" item.id %}">{% trans "Manage Groups" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock content %}
