{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>
        {{title}} Management
      </legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'project-user-add' %}">Add Project User</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            {% if user.is_authenticated %}
              <th colspan=2>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.first_name}}</td>
              <td>{{item.last_name}}</td>
              {% if user.is_authenticated %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "project-user-update" item.id %}">Edit</a>
                  <a class='btn btn-delete' href="{% url "project-user-delete" item.id %}">Delete</a>
                  <a class="btn btn-edit" href="{% url "project-user-groups-update" item.id %}">Manage Groups</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock content %}
