{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>
        {{title}} Management
      </legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'project-group-add' %}">Add Project Group</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Description</th>
            {% if user.is_authenticated %}
              <th colspan=2>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for group in object_list %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{group.name}}</td>
              <td>{% for permission in group.permissions.all %}
                {{ permission.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                No group permissions assigned.
              {% endfor %}</td>
              {% if user.is_authenticated %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "project-group-update" group.id %}">Edit</a>
                  <a class='btn btn-delete' href="{% url "project-group-delete" group.id %}">Delete</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock content %}
