{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/plant-profile.css' %}" />
{% endblock extracss %}
{% block title %}{{ plant.english_name }} - {% trans "Plant Profile" %}{% endblock title %}
{{ title }}
{% block content %}
  <main class="main-content">
    {% include "project/plant_profile/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>{% trans "Update Plant Environmental Requirements" %}</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form method="post" action="{% url 'plant-environmental-requirement-update' plant.pk %}">
        {% csrf_token %}
        <div class="form inputs">
          <fieldset>
            <legend>{% trans "Sunlight Requirements" %}</legend>
            <div class="form-group">
              <input type="checkbox" id="id_full_sun" name="full_sun" {% if plant.full_sun %}checked{% endif %}>
              <label for="id_full_sun">{% trans "Full Sun" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_part_shade" name="part_shade" {% if plant.part_shade %}checked{% endif %}>
              <label for="id_part_shade">{% trans "Part Shade" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_full_shade" name="full_shade" {% if plant.full_shade %}checked{% endif %}>
              <label for="id_full_shade">{% trans "Full Shade" %}</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>{% trans "Moisture Requirements" %}</legend>
            <div class="form-group">
              <input type="checkbox" id="id_moisture_dry" name="moisture_dry" {% if plant.moisture_dry %}checked{% endif %}>
              <label for="id_moisture_dry">{% trans "Dry" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_moisture_medium" name="moisture_medium" {% if plant.moisture_medium %}checked{% endif %}>
              <label for="id_moisture_medium">{% trans "Medium" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_moisture_wet" name="moisture_wet" {% if plant.moisture_wet %}checked{% endif %}>
              <label for="id_moisture_wet">{% trans "Wet" %}</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>{% trans "Soil Preferences" %}</legend>
            <div class="form-group">
              <input type="checkbox" id="id_limestone_tolerant" name="limestone_tolerant" {% if plant.limestone_tolerant %}checked{% endif %}>
              <label for="id_limestone_tolerant">{% trans "Limestone Tolerant" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_sand_tolerant" name="sand_tolerant" {% if plant.sand_tolerant %}checked{% endif %}>
              <label for="id_sand_tolerant">{% trans "Sand Tolerant" %}</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="id_acidic_soil_tolerant" name="acidic_soil_tolerant" {% if plant.acidic_soil_tolerant %}checked{% endif %}>
              <label for="id_acidic_soil_tolerant">{% trans "Acidic Soil Tolerant" %}</label>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
        <a href="{% url 'plant-environmental-requirement-update' plant.pk %}" class="btn btn-primary">{% trans "Cancel" %}</a>
      </form>
    </div>
  </main>
{% endblock content %}
