{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ plant.latin_name }} - {% trans "Introductory Gardening Experience" %}{% endblock title %}
{{ title }}
{% block content %}
  <main class="main-content">
    {% include "project/plant_profile/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>{% trans "Update Introductory Gardening Experience" %}</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form method="post" action="{% url 'plant-introductory-gardening-experience-update' plant.pk %}">
        {% csrf_token %}
        <div class="form inputs">
            <!--Gardening Experience-->
          <fieldset class="form-group">
            <legend>{% trans "Gardening Experience" %}</legend>
                    <!--input checkbox for beginner_friendly-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_beginner_friendly" name="beginner_friendly" {% if plant.beginner_friendly %}checked{% endif %}>
              <label for="id_beginner_friendly">{% trans "Beginner Friendly" %}</label>
            </div>
                    <!--input checkbox for does_not_spread-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_does_not_spread" name="does_not_spread" {% if plant.does_not_spread %}checked{% endif %}>
              <label for="id_does_not_spread">{% trans "Does Not Spread" %}</label>
            </div>
                    <!--input checkbox for germinate_easy-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_germinate_easy" name="germinate_easy" {% if plant.germinate_easy %}checked{% endif %}>
              <label for="id_germinate_easy">{% trans "Easy to Germinate" %}</label>
            </div>
                    <!--input checkbox for self_seeding-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_self_seeding" name="self_seeding" {% if plant.self_seeding %}checked{% endif %}>
              <label for="id_self_seeding">{% trans "Self Seeding" %}</label>
            </div>
          </fieldset>
            <!--Starter Packs-->
          <fieldset class="form-group">
            <legend>{% trans "Starter Packs" %}</legend>
                    <!--input checkbox for starter_pack_shade-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_starter_pack_shade" name="starter_pack_shade" {% if plant.starter_pack_shade %}checked{% endif %}>
              <label for="id_starter_pack_shade">{% trans "Shade" %}</label>
            </div>
                    <!--input checkbox for starter_pack_sun_dry-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_starter_pack_sun_dry" name="starter_pack_sun_dry" {% if plant.starter_pack_sun_dry %}checked{% endif %}>
              <label for="id_starter_pack_sun_dry">{% trans "Sun/Dry" %}</label>
            </div>
                    <!--input checkbox for starter_pack_sun_wet-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_starter_pack_sun_wet" name="starter_pack_sun_wet" {% if plant.starter_pack_sun_wet %}checked{% endif %}>
              <label for="id_starter_pack_sun_wet">{% trans "Sun/Wet" %}</label>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        <a href="{% url 'plant-growth-characteristics-update' plant.pk %}" class="btn btn-primary">{% trans "Cancel" %}</a>
      </form>
    </div>
  </main>
{% endblock content %}
