{% extends "core/base.html" %}
{% load static %}

{% block title %}{{plant.latin_name}} - Sowing Information{% endblock title %}
{{title}}
{% block content %}
  <main class="main-content">
    {% include "project/plant_profile/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>Update Plant Sowing Information</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form method="post" action="{% url 'plant-sowing-update' plant.pk %}">
        {% csrf_token %}
        <div class="form inputs">
                <!--Sowing-->
          <fieldset class="form-group">
            <legend>Sowing</legend>
                    <!--use input select for sowing depth-->
            <div class="input-select">
              <label for="id_sowing_depth">Depth (inches)</label>
              <select id="id_sowing_depth" name="sowing_depth">
                <option value="">---------</option>
                {% for depth in sowing_depth %}
                  <option value="{{ depth.pk }}" {% if plant.sowing_depth.pk == depth.pk %}selected{% endif %}>{{ depth.sowing_depth }}</option>
                {% endfor %}
              </select>
            </div>
          </fieldset>
                <!--fieldset for stratification and dormancy-->
          <fieldset class="form-group">
            <legend>Stratification and Dormancy</legend>
            <div class="input-text">
              <label for="id_stratification_detail">Stratification Detail</label>
              <input type="text" id="id_stratification_detail" name="stratification_detail" value="{{ plant.stratification_detail }}">
            </div>
                    <!--input text for stratification duration-->
            <div class="input-text">
              <label for="id_stratification_duration">Stratification Duration (days)</label>
              <input type="number" id="id_stratification_duration" name="stratification_duration" value="{{ plant.stratification_duration }}" step="1" min="0">
            </div>
                    <!--input checkbox for double dormancy-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_double_dormancy" name="double_dormancy" {% if plant.double_dormancy %}checked{% endif %}>
              <label for="id_double_dormancy">Double Dormancy Required</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Notes</legend>
            <div class="input-text">
              <label for="id_sowing_notes">Sowing Notes</label>
              <textarea id="id_sowing_notes" name="sowing_notes">{{ plant.sowing_notes }}</textarea>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'plant-growth-characteristics-update' plant.pk %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </main>

{% endblock content %}
