{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <section class="flex-col-center">
    <fieldset class='flex-col-center'>

      <legend>
        {{title}} Management
      </legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'admin-seed-storage-add' %}">{% trans "Add Seed Storage" %}</a>
        </div>
      {% endif %}

      <table class='editor panel'>
        <thead>
          <tr>
            <th>{{title}}</th>
            <th>{% trans "Plant Count" %}</th>
            {% if user.is_authenticated %}
              <th colspan=2>{% trans "Actions" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.seed_storage}}</td>
              <td>{{item.plant_count}}</td>
              {% if user.is_authenticated %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "admin-seed-storage-update" item.id %}">{% trans "Edit" %}</a>
                  <a class='btn btn-delete' href="{% url "admin-seed-storage-delete" item.id %}">{% trans "Delete" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </fieldset>
  </section>

  </body>
  </html>
{% endblock content %}
