# Admin Image Form
{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class="flex-col-center">
    <fieldset class='flex-col-center'>
      <legend>
        {{ title }} Form
      </legend>
      <p class= "alert alert--info">{% trans "The image should be in jpeg format. Dimensions should be 450x600 pixels (0.75 aspect ratio) portrait style." %}<br>  {% trans "The image will be automatically resized to fit these dimensions." %}</p>
      <form method="POST" enctype="multipart/form-data" class='flex-col-center'>
        {% csrf_token %}
        {{ form.as_p }}
        <div class='center'>
          <button type="submit" class='btn btn-submit'>{% trans "Submit" %}</button>
          <a href="{% url 'admin-images-page' %}" class='btn btn-cancel'>{% trans "Cancel" %}</a>
        </div>
      </form>
    </fieldset>
  </div>
{% endblock content %}
