{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>
        {{title}} Management
      </legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'admin-harvesting-indicator-add' %}">{% trans "Add Harvesting Indicator" %}</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th colspan=2>{{title}}</th>
            <th>{% trans "Plant Count" %}</th>
            {% if user.is_authenticated %}
              <th colspan=2>{% trans "Actions" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.harvesting_indicator_en}}</td>
              <td>{{item.harvesting_indicator_fr}}</td>
              <td>{{item.plant_count}}</td>
              {% if user.is_authenticated %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "admin-harvesting-indicator-update" item.id %}">{% trans "Edit" %}</a>
                  <a class='btn btn-delete' href="{% url "admin-harvesting-indicator-delete" item.id %}">{% trans "Delete" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
{% endblock content %}
