{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <section class="flex-col-center">
    <header class='title'>
      <h2>{{title}} Management</h2>
    </header>
    {% if user.is_authenticated %}
      <div class='center'>
        <a class='btn btn-add' href="{% url 'admin-harvesting-mean-add' %}">Add Harvesting Mean</a>
      </div>
    {% endif %}

    <table class=''>
      <thead>
        <tr>
          <th>{{title}}</th>
          <th>plant count</th>
          {% if user.is_authenticated %}
            <th colspan=2>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
          <tr class="{% cycle 'odd-row' 'even-row' %}">
            <td>{{item.harvesting_mean}}</td>
            <td>{{item.plant_count}}</td>
            {% if user.is_authenticated %}
              <td class='actions'>
                <a class='btn btn-edit' href="{% url "admin-harvesting-mean-update" item.id %}">Edit</a>
                <a class='btn btn-delete' href="{% url "admin-harvesting-mean-delete" item.id %}">Delete</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </section>

  </body>
  </html>
{% endblock content %}
