{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}} Management{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>{{title}} Management</legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'admin-plant-morphology-add' %}">{% trans "Add New Plant Morphology Element" %}</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th>{% trans "Plant Morphology Element" %}</th>
            <th>{% trans "Plant Count" %}</th>
            <th>{% trans "Action" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.element}}</td>
              <td>{{item.image_count}}</td>
              {% if user.is_authenticated %}
                <td class="actions">
                  <a class='btn btn-edit' href="{% url "admin-plant-morphology-update" item.id %}">{% trans "Edit" %}</a>
                  <a class='btn btn-delete' href="{% url "admin-plant-morphology-delete" item.id %}">{% trans "Delete" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>

  </body>
  </html>
{% endblock content %}
