{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}} {% trans "Management" %}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>{{title}} {% trans "Management" %}</legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'admin-butterfly-species-add' %}">{% trans "Add New Butterfly Species" %}</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr></tr>
          <th>{% trans "Latin Name" %}</th>
          <th>{% trans "English Name" %}</th>
          <th>{% trans "French Name & Source" %}</th>
          <th>{% trans "iNaturalist Taxon ID" %}</th>
          <th>{% trans "Plant Count" %}</th>
          <th>{% trans "Action" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
          <tr class="{% cycle 'odd-row' 'even-row' %}">
            <td>{{item.latin_name}}</td>
            <td>{{item.english_name}}</td>
            <td>{{item.french_name}}<br><em>{{item.french_name_source}}</em></td>
            {% if item.inaturalist_taxon_id %}
              <td> <a target="_blank" href="https://www.inaturalist.org/taxa/{{item.inaturalist_taxon_id}}">{{item.inaturalist_taxon_id}}</a></td>
            {% else %}
            <!--a url using htmx relying on inaturalist to attempt to get the inaturalist taxon_id. if successful, display it-->
              <td>
                <button
                  class="btn btn-secondary btn-sm"
                  hx-get="{% url 'admin-butterfly-species-fetch-inaturalist-taxon-id' item.latin_name %}"
                  hx-target="this"
                  hx-swap="outerHTML"
                >
                  {% trans "Fetch from iNaturalist" %}
                </button>
              </td>
            {% endif %}
            <td>{{item.plant_count}}</td>
            {% if user.is_authenticated %}
              <td class="actions">
                <a class='btn btn-edit' href="{% url "admin-butterfly-species-update" item.id %}">{% trans "Edit" %}</a>
                <a class='btn btn-delete' href="{% url "admin-butterfly-species-delete" item.id %}">{% trans "Delete" %}</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
  </div>

  </body>
  </html>
{% endblock content %}
