<!--
  Admin Images Page
  This page allows admins to manage images associated with plant profiles.
  Features include uploading new images, deleting existing images, and viewing image details.
-->
{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/plant-gallery.css' %}" />
{% endblock extracss %}
{% block content %}
  {% include "project/admin/admin_links.html" %}


  <div class="flex-col-center">
    <fieldset class='flex-col-center'>
      <legend>
        {{title}} Management
      </legend>
      {% if user.is_authenticated %}
        <div class='flex-row'>
          <a class='btn btn-add' href="{% url 'admin-image-add' %}">Add New Image</a>
          <div class="form__field">
            <label for="any_plant_name" class="form-label tooltip info">Search by plant name
              <span class="tooltiptext">Enter 4 or more letters of the plant's latin, english, or french name</span>
            </label>
            <input id="any_plant_name" class="name-search-input"
                   name="any_plant_name"
                   hx-get="/search-plant-images"
                   hx-trigger="keyup[target.value.length >= 4] changed delay:500ms, keyup[key=='Enter']"
                   hx-target="#search-results"
                   hx-push-url="true"
                   hx-include="{{hx_include}}"
                   hx-indicator=".htmx-indicator"
                   type="text"
                   value="{{ any_plant_name }}"
                   class="form-input"
            >
          </div>
          <span class="htmx-indicator">
            <img src="{% static 'images/searching.svg' %}"/> Searching...
          </span>
        </div>
      {% endif %}
      {% if is_paginated %}
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% endif %}
      {% include "project/admin/admin-image-page-results.html" %}

    </fieldset>
  </div>





{% endblock content %}
