{% load i18n %}
{% if request.user.is_authenticated %}

  <nav class="flex-row xcenter row-spacer">
    {% if request.user.is_plant_profile_manager %}
      <div class="flex-col-center">
        <div class="title">{% trans "Taxonomy & Biology" %}</div>
        <div>
          <div><a href="{% url 'admin-growth-habit-page' %}">{% trans "Growth Habits" %}</a></div>
          <div><a href="{% url 'admin-lifespan-page' %}">{% trans "Lifespans" %}</a></div>
          <div><a href="{% url 'admin-colour-page' %}">{% trans "Colours" %}</a></div>
          <div><a href="{% url 'admin-plant-morphology-page' %}">{% trans "Plant Morphology Elements" %}</a></div>
          <div>
            <a href="{% url 'admin-conservation-status-page' %}">{% trans "Conservation Statuses" %}</a>
          </div>
          <div>
            <a href="{% url 'admin-toxicity-indicator-page' %}">{% trans "Toxicity Indicators" %}</a>
          </div>
          <div>
            <a href="{% url 'admin-ecozone-page' %}">{% trans "Ecozones" %}</a>
          </div>
        </div>
      </div>
      <div class="flex-col-center">
        <div class="title">{% trans "Seeds & Propagation" %}</div>
        <div>
          <div><a href="{% url 'admin-seed-head-page' %}">{% trans "Seed Heads" %}</a></div>
          <div>
            <a href="{% url 'admin-seed-preparation-page' %}">{% trans "Seed Preparations" %}</a>
          </div>
          <div><a href="{% url 'admin-seed-storage-page' %}">{% trans "Seed Storages" %}</a></div>
          <div>
            <a href="{% url 'admin-seed-viability-test-page' %}"
            >{% trans "Seed Viability Tests" %}</a
              >
            </div>
            <div>
              <a href="{% url 'admin-seed-event-table-page' %}">{% trans "Seed Event Tables" %}</a>
            </div>
            <div><a href="{% url 'admin-sowing-depth-page' %}">{% trans "Sowing Depths" %}</a></div>
            <div>
              <a href="{% url 'admin-stratification-duration-page' %}"
              >{% trans "Stratification Durations" %}</a
                >
              </div>
            </div>
          </div>

          <div class="flex-col-center">
            <div class="title">{% trans "Harvesting & Packaging" %}</div>
            <div>
              <div>
                <a href="{% url 'admin-harvesting-indicator-page' %}"
                >{% trans "Harvesting Indicators" %}</a
                  >
                </div>
                <div>
                  <a href="{% url 'admin-harvesting-mean-page' %}">{% trans "Harvesting Means" %}</a>
                </div>
                <div>
                  <a href="{% url 'admin-packaging-measure-page' %}">{% trans "Packaging Measures" %}</a>
                </div>
                <div><a href="{% url 'admin-one-cultivar-page' %}">{% trans "Cultivars" %}</a></div>
              </div>
            </div>

            <div class="flex-col-center">
              <div class="title">{% trans "Wildlife" %}</div>
              <div>
                <div>
                  <a href="{% url 'admin-butterfly-species-page' %}">{% trans "Butterfly Species" %}</a>
                </div>
                <div><a href="{% url 'admin-bee-species-page' %}">{% trans "Bee Species" %}</a></div>
                <div><a href="{% url 'admin-non-native-species-page' %}">{% trans "Non-Native Species" %}</a></div>
              </div>
            </div>
    {% endif %}

{% endif %}
</div>
</nav>
