{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{title}} {% trans "Management" %}{% endblock title %}
{% block content %}
  {% include "project/admin/admin_links.html" %}
  <div class='flex-col-center'>
    <fieldset class="flex-col-center">
      <legend>{{title}} {% trans "Management" %}</legend>
      {% if user.is_authenticated %}
        <div class='center'>
          <a class='btn btn-add' href="{% url 'admin-colour-add' %}">{% trans "Add New Colour" %}</a>
        </div>
      {% endif %}
      <table class=''>
        <thead>
          <tr>
            <th>{% trans "Colour" %}</th>
            <th>{% trans "Plant Count" %}</th>
            <th colspan=2>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
            <tr class="{% cycle 'odd-row' 'even-row' %}">
              <td>{{item.bloom_colour_en}} / {{item.bloom_colour_fr}}</td>

              <td>{{item.plant_count}}</td>
              {% if user.is_authenticated %}
                <td class='actions'>
                  <a class='btn btn-edit' href="{% url "admin-colour-update" item.id %}">{% trans "Edit" %}</a>
                  <a class='btn btn-delete' href="{% url "admin-colour-delete" item.id %}">{% trans "Delete" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>

  </body>
  </html>
{% endblock content %}
