.alert {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
}
.alert--info {
  background-color: #2196f3;
  color: #f3f3f3;
}
.alert--success {
  background-color: #359e64;
  color: #f3f3f3;
}
.alert--warning {
  background-color: #ff5722;
  color: #f3f3f3;
}
.alert--error {
  background-color: firebrick;
  color: #f3f3f3;
}
