@import "_mixins.scss";
@import "_variables";
.form-container {
  display: flex;
  justify-content: center;
}
.form {
  border-radius: $border-radius;
  background-color: $form;
  border: $border;
  border-top: none;
  max-width: 960px;
  section {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
  &__header {
    border-top: $border;
    border-bottom: $border;
    border-radius: $border-radius;
    background-color: $middle;
    color: $header-text;
    text-align: center;
    // font-size: 3rem;
    padding: 0 2rem;
  }
  &__fields {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 14px;
    padding: 1rem;
  }
  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 14px;
      padding: 0.2rem 1rem;
      @include break(sm) {
        flex-direction: column;
      }
    }
    &-checkbox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px;
      padding: 0.2rem 0;
      min-width: 120px;
      @include break(xxs) {
        flex-direction: column;
      }
    }
  }
}

.form-select {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form-select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #4b5544;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

.form-input,
.form-select {
  line-height: 1.1;
  background-color: #f3f3f3;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #4b5544;
  font-family: inherit;
  transition: 180ms box-shadow ease-in-out;
}
.form-input:focus,
.form-select:focus {
  border-color: #4b5544;
  box-shadow: 0 0 0 2px rgba(75, 85, 68, 0.8);
  outline: 3px solid transparent;
}
.form-input:hover,
.form-select:hover {
  opacity: 0.8;
  box-shadow: 0 3px 5px rgba(75, 85, 68, 0.8);
  background-color: #bec6b8;
}

.form-label {
  font-weight: 300;
  display: block;
  font-size: 1.2rem;
  color: #4b5544;
}

input,
textarea {
  font-size: calc(max(16px, 1rem));
  font-weight: 400;
}
select {
  appearance: none;
  position: relative;
  border: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  outline: none;
  font-size: calc(max(16px, 1rem));
  font-weight: 400;
}

select,
.form-select:after {
  grid-area: select;
}

textarea {
  grid-column: 1/-1;
  resize: vertical;
}
input[type="submit"] {
  height: 48px;
}
input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #f3f3f3;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.7em;
  height: 1.7em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em red;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.4);
}

input[type="checkbox"] :focus {
  outline: calc(max(2px, 0.15em)) solid currentColor;
  outline-offset: calc(max(2px, 0.15em));
}

input[type="checkbox"]:disabled {
  color: #959495;
  cursor: not-allowed;
}

.checkbox--disabled {
  color: #959495;
  cursor: not-allowed;
}
.btn {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: $submit;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $form;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 0.5em 1em;
  min-width: 15ch;
  min-height: 24px;
  transition: 220ms all ease-in-out;
  line-height: 1.1rem;
  text-decoration: none;
  margin: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  :active {
    opacity: 0.6;
    color: $hover;
  }
  &:focus {
    outline-style: solid;
    outline-color: transparent;
  }

  &-row {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 1rem;
  }
  &-add {
    background: url(../images/icon-btn-add.svg) 5px 1px no-repeat;
    background-color: #404040;
    background-size: 2rem;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
    min-width: fit-content;
  }
  &-edit {
    background: url(../images/icon-btn-edit.svg) 5px 1px no-repeat;
    background-color: #404040;
    background-size: 2rem;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
    min-width: fit-content;
  }
  &-delete {
    background: url(../images/icon-btn-delete.svg) 5px 1px no-repeat;
    background-size: 2rem;
    min-width: fit-content;
    background-color: #404040;
    padding-bottom: 0.1rem;
    padding-right: 1rem;
  }
  &-back {
    background-color: #404040;
  }
}
