@import "_mixins.scss";
@import "_variables";

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .input-text {
    display: flex;
    flex-direction: column;
  }
}

input#height,
input#width {
  width: 100px;
}
