@use "_variables";
// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  line-height: 1.5;
  font-family: system-ui, arial, sans-serif;
  color: #333;
  background-color: #fff;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

// Links
a {
  color: variables.$link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #ccc;
    background-color: variables.$hover;
  }
}
// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Lists
ul,
ol {
  margin: 0 0 1rem 1.5rem;
}

// Form elements
button {
  border: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
