$green: #79ac78;
$white: #fff;
$lightgrey: #f7f7f7;
$black: #333;
$none: grey;
$low: firebrick;
$medium: orange;
$high: green;

$submit: $green;
$form: $white;
$border: $green;
$hover: #618264;
$box-shadow: None; /*0 3px 5px rgba(75, 85, 68, 0.8);*/
$border-radius: 0.5rem;
$border: 1px solid light-dark($green, $green);
$small: 0.5rem;

/*Wildflower theme colors*/
$link-color: #79ac78;
$dark: $green;
$light_green: rgba(53, 76, 53, 0.1);
$middle: $lightgrey;
$light: $green;
$lightest: #fff;
$darkest: $white;
$background: light-dark($white, $black);
$foreground: light-dark($black, $white);
$header-text: $black;
$text: $foreground;
$link: light-dark($green, $green);
$filter-header: rgba($green, 0.4);

/*blue theme*/
// $darkest: #092834;
// $dark: #1a3e4c;
// $middle: #347b98;
// $light: #67afcb;
// $lightest: #e4f1f6;
