@import "_variables";
.form-login {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  padding: 1rem;
  border-radius: $border-radius;
  background-color: $light;
  text-align: center;
  margin: auto;
}
.btn-login {
  background-color: $submit;
}
