@import "_variables";
@import "_normalize";
@import "_form";
@import "_layout";
@import "_alerts";
html {
  color-scheme: light dark;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5rem;
  background-color: $background;
  color: $text;
}
a {
  color: $light;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  gap: 0.5rem;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  gap: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  color: $foreground;
  flex-shrink: 0;
}
.page-container {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.sheet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0.5rem;
  align-items: center;
}
img.logo {
  max-width: 225px;
}

.title {
  display: flex;
  flex-direction: column;
}
.dark-row {
  background-color: $lightgrey;
  padding: 0 1rem;
  &:last-child {
    border-radius: 0 0 1rem 1rem;
  }
}
.normal-row {
  padding: 0 1rem;
}

.center {
  display: flex;
  justify-content: center;
}
.priority {
  padding: 0 8px;
  border-radius: 10px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: light-dark($white, $black);
  color: light-dark($black, $white);
  border-radius: $border-radius;
  border: $border;
  max-width: 600px;
  width: 100%;
  gap: 1rem;
  a {
    color: $link;
  }
  &__header {
    background: $lightgrey;
    border-radius: $border-radius;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 4px 2rem;
    display: flex;
    justify-content: space-around;
  }
  &__detail {
    border-radius: $border-radius;
    div {
      display: flex;
      justify-content: space-between;
      span {
        padding: 0.25rem 0.75rem;
        & > span {
          padding: 0;
        }
      }
    }
  }
}

.ok {
  background: green;
  color: #fff;
}
.maybe {
  background: rgb(235, 201, 7);
  color: black;
}
.no {
  background: rgb(215, 19, 19);
  color: #fff;
}
.enough {
  background: lightskyblue;
  color: #000;
}
.checkmark::before {
  content: "\2713";
  display: inline-block;
  color: green;
  font-size: 24px;
}
.crossmark::before {
  content: "\2717";
  display: inline-block;
  color: red;
  font-size: 24px;
}
.toggler {
  cursor: pointer;
}
/*Table*/
table {
  border-collapse: collapse;
  @include break(xxs) {
    width: 790px;
  }
  @include break(sm) {
    width: 790px;
  }
}
table.editor td:nth-child(2) {
  min-width: 120px;
}
thead {
  border-top: $border;
  border-bottom: $border;
  background-color: $background;
  color: $foreground;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}
th {
  text-align: left;
  padding: 0 8px;
}
td {
  padding: 0 8px;
}
tr {
  border-bottom: $border;
}
.odd-row {
  background-color: $lightgrey;
  color: $text;
  a {
    color: $text;
  }
}
.even-row {
  background-color: $background;
  color: $text;
  a {
    color: $text;
  }
}
.table-overflow {
  @include break(xxs) {
    width: 360px;
    overflow-x: auto;
  }
  @include break(sm) {
    width: 790px;
    overflow-x: auto;
  }
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
