@import "_normalize";
@import "_mixins";
@import "_slider";
@import "_layout";
@import "_form";
@import "_alerts";
@import "_variables";
body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.logo {
  width: 250px;
}
.site-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: $link-color;
  margin: 5px auto;
  transition: all 0.3s ease;
}
.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  &-toggle {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: fit-content;
    }
  }
  &-links {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }
    &.show {
      display: flex;
    }
  }
}

.main-content {
  display: flex;
  margin: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.plant {
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-card {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 350px;
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &-caption {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &-not-active {
      background-color: red;
      color: white;
    }
    &-is-favourite,
    &-is-not-favourite {
      cursor: pointer;
      position: absolute;
      right: 30px;
      font-size: 36px;
    }
    &-is-favourite::after {
      content: "❤️";
    }
    &-is-not-favourite::after {
      content: "🤍";
    }
  }
  &-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }
  &-type-icon {
    width: 36px;
    height: 36px;
  }
}

#location-filter.collapsed,
#filter-wrapper.collapsed,
#environmental-requirements-filter.collapsed,
#gardening-experience-filter.collapsed,
#growth-characteristics-filter.collapsed,
#harvesting-and-seed-sharing-filter.collapsed,
#landscape-uses-and-applications-filter.collapsed,
#ecological-benefits-filter.collapsed,
#special-features-and-considerations-filter.collapsed,
#exclude-burs.collapsed {
  display: none;
}
.expanded {
  &::after {
    content: "▲";
    float: right;
  }
}
.collapser {
  cursor: pointer;
  &::after {
    content: "▼";
    float: right;
  }
}
.filter-wrapper {
  min-width: 200px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.filter {
  &__header {
    background-color: $filter-header;
  }
  &__sub-header {
    font-weight: bold;
    margin-top: 0.5rem;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.search-plants {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-wrap: wrap;
}

.square {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-bottom: -2px;
  &.blue {
    background-color: blue;
  }
  &.brown {
    background-color: brown;
  }
  &.green {
    background-color: green;
  }
  &.orange {
    background-color: orange;
  }
  &.pink {
    background-color: pink;
  }
  &.purple {
    background-color: purple;
  }
  &.red {
    background-color: red;
  }
  &.white {
    background-color: white;
    border: 1px solid #000;
  }
  &.yellow {
    background-color: yellow;
  }
}

.ok {
  background: green;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $link-color;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center;

  &:hover {
    background-color: #0056b3;
  }
}
