@use "variables";
@use "_mixins";

.plant-profile {
  &-characteristics {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &-characteristics-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    & > span {
      padding-right: 0.5rem;
    }
  }
  &-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: variables.$light_green;
    color: variables.$black;
    @include mixins.break(sm) {
      flex-direction: column;
    }
  }
  &-latin-name {
    font-style: italic;
    font-weight: regular;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  &-english-name {
    font-weight: bold;
    font-size: 1.4rem;
  }
  &-french-name {
    font-weight: regular;
    font-size: 1.4rem;
  }
  &-names {
    display: flex;
    flex-direction: column;
  }
  &-description {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  &-section {
    max-width: 600px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: variables.$lightgrey;
}
img {
  height: auto;
  max-width: 100%;
}

.plant-image {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 1px;
}
.image-title {
  background-color: variables.$green; // $lightgrey;
  color: variables.$white;
  text-align: center;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.low {
  background-color: variables.$low;
  color: variables.$white;
}
.none {
  background-color: variables.$none;
}
.medium {
  background-color: variables.$medium;
}
.high {
  background-color: variables.$high;
  color: variables.$white;
}
.inaturalist-legend {
  display: flex;
  gap: 4px;
  flex-flow: wrap;
  justify-content: center;
}
.profile-update-links {
  display: flex;
  // flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  a {
    padding: 0.5rem 1rem;
    border: 1px solid variables.$border;
    border-radius: variables.$border-radius;
    background-color: variables.$form;
    color: variables.$green;
    text-decoration: none;
    &:hover {
      background-color: variables.$hover;
      color: variables.$white;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
