@import "_variables";
img {
  height: auto;
  max-width: 100%;
}

.plant-image {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 1px;
}
.image-title {
  background-color: $green; // $lightgrey;
  color: $white;
  text-align: center;
}

.low {
  background-color: $low;
  color: $white;
}
.none {
  background-color: $none;
}
.medium {
  background-color: $medium;
}
.high {
  background-color: $high;
  color: $white;
}
