django
django-upgrade
pandas
django-filter
django-htmx
django-ninja
flake8
flake8-bugbear
flake8-comprehensions
flake8-print
flake8-logging
flake8-tidy-imports
flake8-typing-imports
pyupgrade
black
django_extensions
ipython
coverage
pytest
pytest-django
pre-commit
isort
flake8
flake8-bugbear
flake8-comprehensions
flake8-print
pyflakes
djhtml
pip-lock
rich
django-browser-reload
python-dotenv
gunicorn
Pillow
reportlab
pre-commit
exif
openpyxl
