{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}
{% block content %}
  <div class="container block block--centered">
    <section class="form">
      <header class="form__header">{% trans "Delete Action" %}</header>
      <form method="POST">
        {% csrf_token %}
        <p class='alert alert--warning'>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>

        <div class="flex-row">
          <a class='btn btn-back'
             {% if pk %}
               href="{% url back pk %}"
             {% else %}
               href="{% url back %}"
             {% endif %}
             style='text-decoration:none;'>{% trans "Back" %}
          </a>

          <input class='btn' type="submit" value="{% trans "Confirm" %}" />
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
