<nav class='nav no-print'>

  <ul class="nav-links">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      {% if request.path != '/' %}
        <a href="{% url 'search-plant-name' %}">Plant Catalogue</a>
      {% endif %}
    </li>
    <li>
      <a href="#">Resources</a>
    </li>
    <li>
      <a href="#">Support the library</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>

    {% if request.user.is_authenticated %}
      <li><a class='btn' href="{% url 'user-plant-collection' %}">My Collection</a></li>
      <li><a class='btn' href="{% url 'logout' %}">Logout</a></li>
      {% if request.path != '/site-admin/' %}
        <li><a class='btn' href="{% url 'site-admin' %}">Admin</a></li>
      {% endif %}
    {% else %}
    {% comment %} <a class='btn' href="{% url 'login' %}">Login</a> {% endcomment %}
    {% endif %}
  </ul>
</nav>
