<nav class='nav no-print'>
  <button class="nav-toggle" onclick="document.querySelector('.nav-links').classList.toggle('show')">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <ul class="nav-links">
    <li>
      <a href="{% url 'index' %}">Learn about the plant catalogue</a>
    </li>
    <li>
      {% if request.path != '/search-plant-name/' %}
        <a href="{% url 'search-plant-name' %}">Search Catalogue</a>
      {% endif %}
    </li>
    <li>
      <a href="{% url 'butterfly-supporting-plants' %}">Butterfly Plants</a>
    </li>
    <li>
      <a href="{% url 'bee-supporting-plants' %}">Specialized Bee Plants</a>
    </li>
    {% if request.user.is_authenticated %}
      <li>
        <a href="{% url 'plant_ecozones' %}">Ecozones (CSV)</a>
      </li>
    {% endif %}
    <li><a href="{% url 'plants-needing-seeds-csv' %}">Plants Needing Seeds (CSV)</a></li>
    <li>
      <a target="_blank" href="https://wildflowerseedlibrary.ca/events/">Events</a>
    </li>
    <li>
      <a target="_blank" href="https://wildflowerseedlibrary.ca/about-us/">About Us</a>
    </li>

    {% if request.user.is_authenticated %}
      {% comment %} <li><a class='btn' href="{% url 'user-plant-collection' %}">My Collection</a></li> {% endcomment %}
      <li><a class='btn' href="{% url 'logout' %}">Logout {{request.user}}</a></li>
    {% else %}
      <a class='btn' href="{% url 'login' %}">Login</a>
    {% endif %}
    {% if request.user.is_plant_profile_manager or request.user.is_image_manager or request.user.library_manager %}
      <li><a class='btn' href="{% url 'site-admin' %}">Library Management</a></li>
    {% endif %}
  </ul>
</nav>
