.profile-reference {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
