/*0 3px 5px rgba(75, 85, 68, 0.8);*/
/*Wildflower theme colors*/
/*blue theme*/
.name-search-input {
  min-width: 360px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form .input-text {
  display: flex;
  flex-direction: column;
}
