/*greening theme*/
/*blue theme*/
.form-login {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: #67afcb;
  text-align: center;
}

.btn-login {
  background-color: #092834;
}

.btn-forgot {
  background-color: #8fbcbc;
}