.show {
  display: block;
}

.hide {
  display: none;
}
.hide div {
  display: flex;
  justify-content: space-between;
}
.hide div span {
  padding: 0 0.75rem;
}

img {
  height: auto;
  max-width: 100%;
}