<div class='filter__sub-header'>Conservation Status</div>

<!--Input checkbox for endangered-->
<input
  type="checkbox"
  id="endangered"
  name="endangered"
  value="Endangered"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if endangered %} checked {% endif %}
/>
<label for="endangered">Endangered</label><br />

<!--Input checkbox for GRASP candidate-->
<input
  type="checkbox"
  id="grasp_candidate"
  name="grasp_candidate"
  value="GRASP Candidate"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if grasp_candidate %} checked {% endif %}
/>

<label for="grasp_candidate" class="tooltip">GRASP candidate ✔ <span class='tooltiptext'>Gathering Rare and Special Plants in Ottawa</span></label><br />



<!--Input checkbox for native to Ottawa region-->
<input
  type="checkbox"
  id="native_to_ottawa_region"
  name="native_to_ottawa_region"
  value="Native to Ottawa Region"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if native_to_ottawa_region %} checked {% endif %}
/>
<label for="native_to_ottawa_region" class="tooltip">Native to Ottawa Region <span class='tooltiptext'>Plants that are native to the Ottawa region</span></label><br />

<div class='filter__sub-header'>Safety and Compatibility</div>

<!--Input checkbox for septic tank safe-->
<input
  type="checkbox"
  id="septic_tank_safe"
  name="septic_tank_safe"
  value="Septic Tank Safe"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if septic_tank_safe %} checked {% endif %}
/>
<label for="septic_tank_safe">Septic tank safe ✔</label><br />

<!--Input checkbox for cause dermatitis-->
<input
  type="checkbox"
  id="cause_dermatitis"
  name="cause_dermatitis"
  value="Cause Dermatitis"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if cause_dermatitis %} checked {% endif %}
/>
<label for="cause_dermatitis">Exclude plants that cause dermatitis ✔</label><br />

<!--class filter to exclude plants with burs-->
<input
  type="checkbox"
  id="produces_burs"
  name="produces_burs"
  value="Produces Burs"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if produces_burs %} checked {% endif %}
/>
<label for="produces_burs">Exclude plants with burs or needles ✔</label><br />

<!--class filter to exclude plant known to be toxic-->
<input
  type="checkbox"
  id="exclude_toxic"
  name="exclude_toxic"
  value="Exclude Toxic"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if exclude_toxic %} checked {% endif %}
/>
<label for="exclude_toxic">Exclude plants known to be toxic to mammals</label><br />
