

  <!--Provincial range distribution filter class checkbox options-->
<div class="filter">
  <div
    class="collapser"
    onclick="toggleFilter('#provincial-range-distribution')"
  >
    Range Distribution
  </div>
  <div id="provincial-range-distribution" class="collapsed">
    <input type="checkbox" id="AB" name="AB" value="AB" />
    <label for="AB">Alberta</label><br />
    <input type="checkbox" id="BC" name="BC" value="BC" />
    <label for="BC">British Columbia</label><br />
    <input type="checkbox" id="MB" name="MB" value="MB" />
    <label for="MB">Manitoba</label><br />
    <input type="checkbox" id="NB" name="NB" value="NB" />
    <label for="NB">New Brunswick</label><br />
    <input type="checkbox" id="NL" name="NL" value="NL" />
    <label for="NL">Newfoundland and Labrador</label><br />
    <input type="checkbox" id="NS" name="NS" value="NS" />
    <label for="NS">Nova Scotia</label><br />
    <input type="checkbox" id="NT" name="NT" value="NT" />
    <label for="NT">North West Territories</label><br />
    <input type="checkbox" id="NU" name="NU" value="NU" />
    <label for="NU">Nunavut</label><br />
    <input type="checkbox" id="ON" name="ON" value="ON" />
    <label for="ON">Ontario</label><br />
    <input type="checkbox" id="PE" name="PE" value="PE" />
    <label for="PE">Prince Edward Island</label><br />
    <input type="checkbox" id="QC" name="QC" value="QC" />
    <label for="QC">Québec</label><br />
    <input type="checkbox" id="SK" name="SK" value="SK" />
    <label for="SK">Saskatchewan</label><br />
    <input type="checkbox" id="YT" name="YT" value="YT" />
    <label for="YT">Yukon</label><br />
  </div>
</div>

  <!--Recommended For-->
<div class="filter">
  <div class="collapser" onclick="toggleFilter('#recommended-for')">
    Recommended For
  </div>
  <div id="recommended-for" class="collapsed">






  </div>
</div>

  <!--Suitable For-->
<div class="filter">
  <div class="collapser" onclick="toggleFilter('#suitable-for')">
    Suitable for
  </div>
  <div id="suitable-for" class="collapsed">
  <!--Plant Characteristics-->
    <div class="filter">
      <div class="collapser" onclick="toggleFilter('#plant-characteristics')">
        Characteristics
      </div>
      <div id="plant-characteristics" class="collapsed">


        <input
          type="checkbox"
          id="does-not-spread"
          name="does-not-spread"
          value="Does not spread"
        />
        <label for="does-not-spread">Does not spread</label><br />


        <input
          type="checkbox"
          id="endangered"
          name="endangered"
          value="Endangered"
        />
        <label for="endangered">Endangered</label><br />

      </div>
    </div>

  <!--Tolerances-->
    <div class="filter">
      <div class="collapser" onclick="toggleFilter('#tolerates')">Tolerates</div>
      <div id="tolerates" class="collapsed">

      </div>
    </div>

<!--Conservation and special status-->
    <div class="filter">
      <div class="collapser" onclick="toggleFilter('#conservation-status')">
        Conservation and Special Status
      </div>
      <div id="conservation-status" class="collapsed">

      </div>
    </div>


  <!--class filter to exclude plant known to be toxic-->
    <div class="filter">
      <div class="collapser" onclick="toggleFilter('#toxicity')">Toxicity</div>
      <div id="toxicity" class="collapsed">
        <input
          type="checkbox"
          id="Exclude-toxic"
          name="Exclude-toxic"
          value="Exclude-Toxic"
        />
        <label for="toxic">Exclude plants known to be toxic to mammals</label><br />
      </div>
    </div>

    <div class="filter">
      <div class="collapser" onclick="toggleFilter('#exclude-burs')">Burs</div>
      <div id="exclude-burs" class="collapsed">

      </div>
    </div>


    <div class="filter">
      <div
        class="collapser"
        onclick="toggleFilter('#winter-sowing-requirements')"
      >
        Winter Sowing Requirements
      </div>

    </div>


  </aside>
