  <!--Input box for beginner friendly-->
<input
  type="checkbox"
  id="beginner_friendly"
  name="beginner_friendly"
  value="Beginner Friendly"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if beginner_friendly %} checked {% endif %}
/>
<label for="beginner_friendly">Beginner friendly ✔</label><br />

<!--Input checkbox for Does not spread-->
<input
  type="checkbox"
  id="does_not_spread"
  name="does_not_spread"
  value="Does Not Spread"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if does_not_spread %} checked {% endif %}
/>
<label for="does_not_spread">Does not spread ✔</label><br />

<!--Input checkbox for germinate_easy-->
<input
  type="checkbox"
  id="germinate_easy"
  name="germinate_easy"
  value="Germinate Easy"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if germinate_easy %} checked {% endif %}
/>
<label for="germinate_easy">Easy to germinate ✔</label><br />

<!--Input checkbox for transplantation_tolerant-->
