<aside id="filter-wrapper" class="filter-wrapper">
  <!--Add a reset filter button-->
  <a href="{% url 'search-plant-name' %}" class="btn">Reset Filter</a>
  <a href="{% url 'search-plant-name' %}?any_plant_name=" class="btn btn-primary">Show all plants</a>

  <span>Filter by:</span>

  <!--Environmental Requirements-->

  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Environmental Requirements
    </div>
    <div id="environmental-requirements-filter" class="collapsed">
      {% include "project/_filter_environmental_requirements.html" %}
    </div>
  </div>

  <!--Introductory Gardening Experience-->

  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Introductory Gardening Experience
    </div>
    <div id="gardening-experience-filter" class="collapsed">
      {% include "project/_filter_gardening_experience.html" %}
    </div>
  </div>

  <!--Growth Characteristics-->

  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Growth Characteristics
    </div>
    <div id="growth-characteristics-filter" class="collapsed">
      {% include "project/_filter_growth_characteristics.html" %}
    </div>
  </div>

  <!--Harvesting and Seed sharing-->

  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Harvesting and Seed Sharing
    </div>
    <div id="harvesting-and-seed-sharing-filter" class="collapsed">
      {% include "project/_filter_harvesting_and_seed_sharing.html" %}
    </div>
  </div>

  <!--Landscape Uses and Applications-->

  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Landscape Uses and Applications
    </div>
    <div id="landscape-uses-and-applications-filter" class="collapsed">
      {% include "project/_filter_landscape_uses_and_applications.html" %}
    </div>
  </div>

  <!--Ecological benefits-->
  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Ecological Benefits
    </div>
    <div id="ecological-benefits-filter" class="collapsed">
      {% include "project/_filter_ecological_benefits.html" %}
    </div>
  </div>

<!--Special Features and Considerations-->
  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Special Features and Considerations
    </div>
    <div id="special-features-and-considerations-filter" class="collapsed">
      {% include "project/_filter_special_features_and_considerations.html" %}
    </div>
  </div>

<!--Location-->
  <div class="filter">
    <div class="filter__header collapser" onclick="toggleNextSibling(event)">
      Location
    </div>
    <div id="location-filter" class="collapsed">
      {% include "project/_filter_location.html" %}
    </div>
  </div>

</aside>
