<div class='filter__sub-header'>Provinces</div>
<input type="checkbox" id="AB" name="AB" value="AB"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if AB %} checked {% endif %}
/>
<label for="AB">Alberta</label><br />
<input type="checkbox" id="BC" name="BC" value="BC"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if BC %} checked {% endif %}
/>
<label for="BC">British Columbia</label><br />
<input type="checkbox" id="MB" name="MB" value="MB"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if MB %} checked {% endif %}
/>
<label for="MB">Manitoba</label><br />
<input type="checkbox" id="NB" name="NB" value="NB"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if NB %} checked {% endif %}
/>
<label for="NB">New Brunswick</label><br />
<input type="checkbox" id="NL" name="NL" value="NL"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if NL %} checked {% endif %}
/>
<label for="NL">Newfoundland and Labrador</label><br />
<input type="checkbox" id="NS" name="NS" value="NS"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if NS %} checked {% endif %}
/>
<label for="NS">Nova Scotia</label><br />
<input type="checkbox" id="NT" name="NT" value="NT"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if NT %} checked {% endif %}
/>
<label for="NT">Northwest Territories</label><br />
<input type="checkbox" id="NU" name="NU" value="NU"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if NU %} checked {% endif %}
/>
<label for="NU">Nunavut</label><br />
<input type="checkbox" id="ON" name="ON" value="ON"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if ON %} checked {% endif %}
/>
<label for="ON">Ontario</label><br />
<input type="checkbox" id="PE" name="PE" value="PE"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if PE %} checked {% endif %}
/>
<label for="PE">Prince Edward Island</label><br />
<input type="checkbox" id="QC" name="QC" value="QC"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if QC %} checked {% endif %}
/>
<label for="QC">Quebec</label><br />
<input type="checkbox" id="SK" name="SK" value="SK"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if SK %} checked {% endif %}
/>
<label for="SK">Saskatchewan</label><br />
<input type="checkbox" id="YT" name="YT" value="YT"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if YT %} checked {% endif %}
/>
<label for="YT">Yukon</label><br />

<div class="filter__sub-header">Ecozones</div>
<input type="checkbox" id="tbd" name="tbd" value="tbd" />
<label for="tbd">TBD</label>


<div class="filter__sub-header">Other</div>
<input type="checkbox" id="native_to_ottawa_region" name="Native to Ottawa Region" value="native_to_ottawa_region"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
>
<label for="native_to_ottawa_region" class="tooltip">Native to Ottawa Region <span class='tooltiptext'>Plants that are native to the Ottawa region</span></label><br />
