<aside id="filter-wrapper" class="filter-wrapper">
  <!--Add a reset filter button-->
  <button>Reset Filters</button>
  <span>Filter by:</span>
  <!--Sun Exposure-->
  <div class="filter">
    <div class="collapser" onclick="toggleFilter('#sun-exposure')">
      Sun Exposure
    </div>
    <div id="sun-exposure" class="collapsed">
      <input type="checkbox" id="full-sun" name="full-sun" value="Full Sun" />
      <label for="full-sun" class="tooltip"
      >Full sun
        <span class="tooltiptext"
        >More than 6 hours of direct sun a day
        </span></label
        ><br />
        <input type="checkbox" id="part-sun" name="part-sun" value="Part Sun" />
        <label for="part-sun" class="tooltip"
        >Part sun
          <span class="tooltiptext"
          >More than 2 or 3 hours but less than 6 hours of direct sun a day
          </span></label
          ><br />
          <input
            type="checkbox"
            id="full-shade"
            name="full-shade"
            value="Full Shade"
          />
          <label for="full-shade" class="tooltip"
          >Full shade
            <span class="tooltiptext"
            >Less than 2 or 3 hours of direct sun a day
            </span></label
            ><br />
          </div>
        </div>

  <!--Moisture-->
        <div class="filter">
          <div class="collapser" onclick="toggleFilter('#moisture')">Moisture</div>
          <div id="moisture" class="collapsed">
            <input type="checkbox" id="dry" name="dry" value="Dry" />
            <label for="dry" class="tooltip"
            >Dry<span class="tooltiptext"
              >Water runs through after rainfall</span
                ></label
                ><br />
                <input type="checkbox" id="medium" name="medium" value="Medium" />
                <label for="medium" class="tooltip"
                >Medium<span class="tooltiptext"
                  >Sometimes holds water but for short periods of time</span
                    ></label
                    ><br />
                    <input type="checkbox" id="wet" name="wet" value="Wet" />
                    <label for="wet" class="tooltip"
                    >Wet<span class="tooltiptext">Stays damp all year</span></label
                      ><br />
                    </div>
                  </div>

  <!--Plant types-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#plant-types')">
                      Plant Types
                    </div>
                    <div id="plant-types" class="collapsed">
      <!--Input checkbox for flowering plant-->
                      <input
                        type="checkbox"
                        id="flowering_plant"
                        name="flowering_plant"
                        value="Flowering plant"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,
                                    #boulevard_tolerant,
                                    #butterfly_friendly,
                                    #cedar_hedge_replacement,
                                    #container_suitable,
                                    #drought_tolerant,
                                    #flowering_plant,
                                    #germinate_easy,
                                    #growth_habit_vine,
                                    #juglone_tolerant,
                                    #keystones_species,
                                    #nitrogen_fixer,
                                    #produces_burs,
                                    #sand_tolerant"
                        {% if flowering_plant %} checked {% endif %}
                      />
                      <label for="flowering_plant">Flowering Plant ✔</label><br />

      <!--Input checkbox for grass-->
                      <input
                        type="checkbox"
                        id="id-checkbox-grass"
                        name="grass"
                        value="Grass"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if checkbox_grass_sedge_rush %} checked {% endif %}
                      />

                      <label for="id-checkbox-grass">Grass/sedge/rush ✔</label><br />
      <!--Input checkbox for shrub-->
                      <input
                        type="checkbox"
                        id="shrub"
                        name="shrub"
                        value="Shrub"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if shrub %} checked {% endif %}
                      />
                      <label for="shrub">Shrub ✔</label><br />
      <!--Input checkbox for tree-->
                      <input
                        type="checkbox"
                        id="id_checkbox_tree"
                        name="tree"
                        value="Tree"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if tree %} checked {% endif %}
                      />
                      <label for="id_checkbox_tree">Tree ✔</label><br />


      <!--Input checkbox for vine-->
                      <input
                        type="checkbox"
                        id="id_checkbox_vine"
                        name="vine"
                        value="Vine"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if id_checkbox_vine %} checked {% endif %}
                      />
                      <label for="id_checkbox_vine">Vine ✔</label><br />


                    </div>
                  </div>

  <!--Colours of the flower-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#colours')">Colours</div>
                    <div id="colours" class="collapsed">
      <!--Input checkbox for color blue-->
                      <input
                        type="checkbox"
                        id="color_blue"
                        name="color_blue"
                        value="Blue"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_blue %} checked {% endif %}
                      />
                      <label for="color_blue">Blue ✔</label><br />
      <!--Input checkbox for color green-->
                      <input
                        type="checkbox"
                        id="color_green"
                        name="color_green"
                        value="Green"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_green %} checked {% endif %}
                      />
                      <label for="color_green">Green ✔</label><br />
      <!--Input checkbox for color orange-->
                      <input
                        type="checkbox"
                        id="color_orange"
                        name="color_orange"
                        value="Orange"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_orange %} checked {% endif %}
                      />
                      <label for="color_orange">Orange ✔</label><br />
      <!--Input checkbox for color pink-->
                      <input
                        type="checkbox"
                        id="color_pink"
                        name="color_pink"
                        value="Pink"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_pink %} checked {% endif %}
                      />
                      <label for="color_pink">Pink ✔</label><br />
      <!--Input checkbox for color purple-->
                      <input
                        type="checkbox"
                        id="color_purple"
                        name="color_purple"
                        value="Purple"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_purple %} checked {% endif %}
                      />
                      <label for="color_purple">Purple ✔</label><br />
      <!--Input checkbox for color red-->
                      <input
                        type="checkbox"
                        id="color_red"
                        name="color_red"
                        value="Red"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_red %} checked {% endif %}
                      />
                      <label for="color_red">Red ✔</label><br />
      <!--Input checkbox for color white-->
                      <input
                        type="checkbox"
                        id="color_white"
                        name="color_white"
                        value="White"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_white %} checked {% endif %}
                      />
                      <label for="color_white">White ✔</label><br />
      <!--Input checkbox for color yellow-->
                      <input
                        type="checkbox"
                        id="color_yellow"
                        name="color_yellow"
                        value="Yellow"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                        {% if color_yellow %} checked {% endif %}
                      />
                      <label for="color_yellow">Yellow ✔</label><br />
                    </div>
                  </div>

  <!--Bloom Period-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#bloomperiod')">
                      Bloom Period
                    </div>
                    <div id="bloomperiod" class="slider-wrapper collapsed">
                      <div class="slider-values">
                        <span id="rangeFromBloomPeriod"> 0 </span>
                        <span> &dash; </span>
                        <span id="rangeToBloomPeriod"> 12 </span>
                      </div>
                      <div class="slider-container">
                        <div class="slider-track-bloom-period"></div>
                        <input
                          type="range"
                          min="0"
                          max="11"
                          value="0"
                          id="sliderFromBloomPeriod"
                          oninput="slideFromBloomPeriod()"
                        />
                        <input
                          type="range"
                          min="0"
                          max="11"
                          value="11"
                          id="sliderToBloomPeriod"
                          oninput="slideToBloomPeriod()"
                        />
                      </div>
                    </div>
                  </div>

  <!--Plant Height-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#plantheight')">Height</div>
                    <div id="plantheight" class="slider-wrapper collapsed">
                      <div class="slider-values">
                        <span id="rangeFromPlantHeight"> 0 </span>
                        <span> &dash; </span>
                        <span id="rangeToPlantHeight"> 120 </span>
                      </div>
                      <div class="slider-container">
                        <div class="slider-track-plant-height"></div>
                        <input
                          type="range"
                          min="0"
                          max="120"
                          value="0"
                          id="sliderFromPlantHeight"
                          oninput="slideFromPlantHeight()"
                        />
                        <input
                          type="range"
                          min="0"
                          max="120"
                          value="120"
                          id="sliderToPlantHeight"
                          oninput="slideToPlantHeight()"
                        />
                      </div>
                    </div>
                  </div>

  <!--Plant Width-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#plantwidth')">Width</div>
                    <div id="plantwidth" class="slider-wrapper collapsed">
                      <div class="slider-values">
                        <span id="rangeFromPlantWidth"> 0 </span>
                        <span> &dash; </span>
                        <span id="rangeToPlantWidth"> 120 </span>
                      </div>
                      <div class="slider-container">
                        <div class="slider-track-plant-width"></div>
                        <input
                          type="range"
                          min="0"
                          max="120"
                          value="0"
                          id="sliderFromPlantWidth"
                          oninput="slideFromPlantWidth()"
                        />
                        <input
                          type="range"
                          min="0"
                          max="120"
                          value="120"
                          id="sliderToPlantWidth"
                          oninput="slideToPlantWidth()"
                        />
                      </div>
                    </div>
                  </div>

  <!--Provincial range distribution filter class checkbox options-->
                  <div class="filter">
                    <div
                      class="collapser"
                      onclick="toggleFilter('#provincial-range-distribution')"
                    >
                      Range Distribution
                    </div>
                    <div id="provincial-range-distribution" class="collapsed">
                      <input type="checkbox" id="AB" name="AB" value="AB" />
                      <label for="AB">Alberta</label><br />
                      <input type="checkbox" id="BC" name="BC" value="BC" />
                      <label for="BC">British Columbia</label><br />
                      <input type="checkbox" id="MB" name="MB" value="MB" />
                      <label for="MB">Manitoba</label><br />
                      <input type="checkbox" id="NB" name="NB" value="NB" />
                      <label for="NB">New Brunswick</label><br />
                      <input type="checkbox" id="NL" name="NL" value="NL" />
                      <label for="NL">Newfoundland and Labrador</label><br />
                      <input type="checkbox" id="NS" name="NS" value="NS" />
                      <label for="NS">Nova Scotia</label><br />
                      <input type="checkbox" id="NT" name="NT" value="NT" />
                      <label for="NT">North West Territories</label><br />
                      <input type="checkbox" id="NU" name="NU" value="NU" />
                      <label for="NU">Nunavut</label><br />
                      <input type="checkbox" id="ON" name="ON" value="ON" />
                      <label for="ON">Ontario</label><br />
                      <input type="checkbox" id="PE" name="PE" value="PE" />
                      <label for="PE">Prince Edward Island</label><br />
                      <input type="checkbox" id="QC" name="QC" value="QC" />
                      <label for="QC">Québec</label><br />
                      <input type="checkbox" id="SK" name="SK" value="SK" />
                      <label for="SK">Saskatchewan</label><br />
                      <input type="checkbox" id="YT" name="YT" value="YT" />
                      <label for="YT">Yukon</label><br />
                    </div>
                  </div>

  <!--Recommended For-->
                  <div class="filter">
                    <div class="collapser" onclick="toggleFilter('#recommended-for')">
                      Recommended For
                    </div>
                    <div id="recommended-for" class="collapsed">
      <!--Input checkbox for bird friendly-->
                      <input
                        type="checkbox"
                        id="bird_friendly"
                        name="bird_friendly"
                        value="Bird Friendly"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant,#salt_tolerant"
                        {% if bird_friendly %} checked {% endif %}
                      />
                      <label for="bird_friendly">Birding ✔</label><br />

      <!--Input checkbox for boulevard tolerant-->
                      <input
                        type="checkbox"
                        id="boulevard_tolerant"
                        name="boulevard_tolerant"
                        value="boulevard_tolerant"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant,#salt_tolerant"
                        {% if boulevard_tolerant %} checked {% endif %}
                      />
                      <label for="boulevard_tolerant">Boulevard garden ✔</label><br />

      <!--Input checkbox for pollinator friendly-->
                      <input
                        type="checkbox"
                        id="butterfly_friendly"
                        name="butterfly_friendly"
                        value="Butterfly Friendly"
                        hx-get="/search-plant-name"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="true"
                        hx-include="#bird_friendly,#boulevard_tolerant,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant,#salt_tolerant"
                        {% if butterfly_friendly %} checked {% endif %}
                      />
                      <label for="butterfly_friendly">Butterfly/pollinators garden ✔</label
                        ><br />

      <!--Input checkbox for cedar hedge replacement-->
                        <input
                          type="checkbox"
                          id="cedar_hedge_replacement"
                          name="cedar_hedge_replacement"
                          value="Cedar Hedge Replacement"
                          hx-get="/search-plant-name"
                          hx-trigger="click"
                          hx-target="#search-results"
                          hx-push-url="true"
                          hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant,#salt_tolerant"
                          {% if cedar_hedge_replacement %} checked {% endif %}
                        />
                        <label for="cedar_hedge_replacement">Cedar hedge replacement ✔</label
                          ><br />

      <!--Input checkbox for container suitable-->
                          <div class="form__field">
                            <input
                              type="checkbox"
                              id="container_suitable"
                              name="container_suitable"
                              value="container_suitable"
                              hx-get="/search-plant-name"
                              hx-trigger="click"
                              hx-target="#search-results"
                              hx-push-url="true"
                              hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                              {% if container_suitable %} checked {% endif %}
                            />
                            <label for="container_suitable">Container gardening ✔</label>
                          </div>

      <!--Input checkbox for ground cover-->
                          <input
                            type="checkbox"
                            id="ground_cover"
                            name="ground_cover"
                            value="Ground Cover"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if ground_cover %} checked {% endif %}
                          />
                          <label for="ground_cover">Groundcover/lawn replacement ✔</label><br />

      <!--Input checkbox for hummingbird friendly-->
                          <input
                            type="checkbox"
                            id="hummingbird_friendly"
                            name="hummingbird_friendly"
                            value="Hummingbird Friendly"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if hummingbird_friendly %} checked {% endif %}
                          />
                          <label for="hummingbird_friendly">Hummingbird garden ✔</label><br />
                        </div>
                      </div>

  <!--Suitable For-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#suitable-for')">
                          Suitable for
                        </div>
                        <div id="suitable-for" class="collapsed">
                          <input type="checkbox" id="hedge" name="hedge" value="Hedge" />
                          <label for="hedge">Hedge</label><br />
                          <input type="checkbox" id="rocky" name="rocky" value="Rocky" />
                          <label for="rocky">Rocky</label><br />
                          <input
                            type="checkbox"
                            id="septic-tank"
                            name="septic-tank"
                            value="Septic Tank"
                          />
                          <label for="septic-tank">Septic tank</label><br />

      <!--Input checkbox for shoreline_rehab-->
                          <input
                            type="checkbox"
                            id="shoreline_rehab"
                            name="shoreline_rehab"
                            value="Shoreline restauration"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if shoreline_rehab %} checked {% endif %}
                          />
                          <label for="shoreline_rehab">Shoreline restauration ✔</label><br />

                          <input type="checkbox" id="wetlands" name="wetlands" value="Wetlands" />
                          <label for="wetlands">Wetlands</label><br />
                        </div>
                      </div>

  <!--Plant Characteristics-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#plant-characteristics')">
                          Characteristics
                        </div>
                        <div id="plant-characteristics" class="collapsed">

      <!--Input box for beginner friendly-->
                          <input
                            type="checkbox"
                            id="beginner_friendly"
                            name="beginner_friendly"
                            value="Beginner Friendly"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if beginner_friendly %} checked {% endif %}
                          />
                          <label for="beginner_friendly">Beginner friendly ✔</label><br />

                          <input
                            type="checkbox"
                            id="does-not-spread"
                            name="does-not-spread"
                            value="Does not spread"
                          />
                          <label for="does-not-spread">Does not spread</label><br />

      <!--Input checkbox for germinate_easy-->
                          <input
                            type="checkbox"
                            id="germinate_easy"
                            name="germinate_easy"
                            value="Germinate Easy"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable#drought_tolerant,#container_suitable,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if germinate_easy %} checked {% endif %}
                          />
                          <label for="germinate_easy">Easy to germinate ✔</label><br />

      <!--Inpit checkbox for juglone tolerant-->
                          <input
                            type="checkbox"
                            id="juglone_tolerant"
                            name="juglone_tolerant"
                            value="Juglone Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#germinate_easy,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if juglone_tolerant %} checked {% endif %}
                          />
                          <label for="juglone_tolerant">Juglone tolerant ✔</label><br />

                          <input
                            type="checkbox"
                            id="endangered"
                            name="endangered"
                            value="Endangered"
                          />
                          <label for="endangered">Endangered</label><br />
                          <input
                            type="checkbox"
                            id="host-plant"
                            name="host-plant"
                            value="Host Plant"
                          />
                          <label for="host-plant">Host plant</label><br />

      <!--Input checkbox for keystones species-->
                          <input
                            type="checkbox"
                            id="keystones_species"
                            name="keystones_species"
                            value="Keystones Species"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if keystones_species %} checked {% endif %}
                          />
                          <label for="keystones_species">Keystone species ✔</label><br />

      <!--Input checkbox for nitrogen_fixer-->
                          <input
                            type="checkbox"
                            id="nitrogen_fixer"
                            name="nitrogen_fixer"
                            value="Nitrogen Fixer"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#produces_burs,#sand_tolerant"
                            {% if nitrogen_fixer %} checked {% endif %}
                          />
                          <label for="nitrogen_fixer">Nitrogen fixer✔</label><br />
                        </div>
                      </div>

  <!--Tolerances-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#tolerates')">Tolerates</div>
                        <div id="tolerates" class="collapsed">
                          <input type="checkbox" id="acidic" name="acidic" value="Acidic" />
                          <label for="acidic">Acidic conditions</label><br />
                          <input type="checkbox" id="deer" name="deer" value="Deer" />
                          <label for="deer">Deer</label><br />
      <!--Input checkbox for drought tolerant-->
                          <input
                            type="checkbox"
                            id="drought_tolerant"
                            name="drought_tolerant"
                            value="Drought Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if drought_tolerant %} checked {% endif %}
                          />
                          <label for="drought_tolerant">Drought ✔</label><br />
                          <input
                            type="checkbox"
                            id="foot traffic"
                            name="foot-traffic"
                            value="Foot traffic"
                          />
                          <label for="foot traffic">Foot traffic</label><br />

      <!--Input checkbox for limestone tolerant-->
                          <input
                            type="checkbox"
                            id="limestone_tolerant"
                            name="limestone_tolerant"
                            value="Limestone Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if limestone_tolerant %} checked {% endif %}
                          />
                          <label for="limestone_tolerant">Limestone ✔</label><br />
                          <input type="checkbox" id="rabbits" name="rabbits" value="Rabbits" />
                          <label for="rabbits">Rabbits</label><br />
      <!--Input checkbox for salt toretant-->
                          <input
                            type="checkbox"
                            id="salt_tolerant"
                            name="salt_tolerant"
                            value="Salt Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if salt_tolerant %} checked {% endif %}
                          />
                          <label for="salt_tolerant">Salt ✔</label><br />

      <!--Input checkbox for sand tolerant-->
                          <input
                            type="checkbox"
                            id="sand_tolerant"
                            name="sand_tolerant"
                            value="Sand Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs"
                            {% if sand_tolerant %} checked {% endif %}
                          />
                          <label for="sand_tolerant">Sand ✔</label><br />

      <!--Input checkbox for transplantation_tolerant-->
                          <input
                            type="checkbox"
                            id="transplantation_tolerant"
                            name="transplantation_tolerant"
                            value="Transplantation Tolerant"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#produces_burs,#sand_tolerant"
                            {% if transplantation_tolerant %} checked {% endif %}
                          />
                          <label for="transplantation_tolerant">Transplantation ✔</label><br />
                        </div>
                      </div>

  <!--class filter to exclude plant known to be toxic-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#toxicity')">Toxicity</div>
                        <div id="toxicity" class="collapsed">
                          <input
                            type="checkbox"
                            id="Exclude-toxic"
                            name="Exclude-toxic"
                            value="Exclude-Toxic"
                          />
                          <label for="toxic">Exclude plants known to be toxic</label><br />
                        </div>
                      </div>

  <!--class filter to exclude plants with burs-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#produces_burs')">Burs</div>
                        <div id="burs" class="collapsed">
      <!--Input checkbox to exclude plants with burs-->
                          <input
                            type="checkbox"
                            id="produces_burs"
                            name="produces_burs"
                            value="Produces Burs"
                            hx-get="/search-plant-name"
                            hx-trigger="click"
                            hx-target="#search-results"
                            hx-push-url="true"
                            hx-include="#bird_friendly,#boulevard_tolerant,#butterfly_friendly,#cedar_hedge_replacement,#container_suitable,#drought_tolerant,#germinate_easy,#juglone_tolerant,#keystones_species,#nitrogen_fixer,#sand_tolerant"
                            {% if produces_burs %} checked {% endif %}
                          />
                          <label for="produces_burs">Exclude plants with burs ✔</label><br />
                        </div>
                      </div>

  <!--Winter Sowing Requirements-->
                      <div class="filter">
                        <div
                          class="collapser"
                          onclick="toggleFilter('#winter-sowing-requirements')"
                        >
                          Winter Sowing Requirements
                        </div>
                        <div id="winter-sowing-requirements" class="slider-wrapper collapsed">
                          <div class="slider-values">
                            <span id="winter-sowing-value"> 60 days</span>
                          </div>
                          <div class="slider-container">
                            <div class="slider-track-winter-sowing-requirements"></div>
                            <input
                              type="range"
                              min="0"
                              max="6"
                              value="3"
                              id="sliderWinterSowingRequirements"
                              oninput="updateWinterSowingValue(this.value)"
                            />
                          </div>
                        </div>
                      </div>

  <!--Harvesting period start-->
                      <div class="filter">
                        <div class="collapser" onclick="toggleFilter('#harvesting-period-start')">
                          Harvesting Period Start
                        </div>
                        <div id="harvesting-period-start" class="slider-wrapper collapsed">
                          <div class="slider-values">
                            <span id="harvesting-period-start-value"> Sept</span>
                          </div>
                          <div class="slider-container">
                            <div class="slider-track-harvesting-period-start"></div>
                            <input
                              type="range"
                              min="0"
                              max="9"
                              value="7"
                              id="sliderHarvestingPeriodStart"
                              oninput="updateHarvestingPeriodStart(this.value)"
                            />
                          </div>
                        </div>
                      </div>
                    </aside>
