<div class='filter__sub-header'>Provinces and Territories</div>
<input type="checkbox" id="distribution_in_AB" name="distribution_in_AB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_AB %} checked {% endif %}
/>
<label for="distribution_in_AB">Alberta</label><br />

<input type="checkbox" id="distribution_in_BC" name="distribution_in_BC" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_BC %} checked {% endif %}
/>
<label for="distribution_in_BC">British Columbia</label><br />

<input type="checkbox" id="distribution_in_MB" name="distribution_in_MB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_MB %} checked {% endif %}
/>
<label for="distribution_in_MB">Manitoba</label><br />

<input type="checkbox" id="distribution_in_NB" name="distribution_in_NB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_NB %} checked {% endif %}
/>
<label for="distribution_in_NB">New Brunswick</label><br />

<input type="checkbox" id="distribution_in_NL" name="distribution_in_NL" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_NL %} checked {% endif %}
/>
<label for="NL">Newfoundland and Labrador</label><br />

<input type="checkbox" id="distribution_in_NS" name="distribution_in_NS" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_NS %} checked {% endif %}
/>
<label for="NS">Nova Scotia</label><br />

<input type="checkbox" id="distribution_in_NT" name="distribution_in_NT" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_NT %} checked {% endif %}
/>
<label for="NT">Northwest Territories</label><br />

<input type="checkbox" id="distribution_in_NU" name="distribution_in_NU" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_NU %} checked {% endif %}
/>
<label for="NU">Nunavut</label><br />

<input type="checkbox" id="distribution_in_ON" name="distribution_in_ON" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_ON %} checked {% endif %}
/>
<label for="ON">Ontario</label><br />

<input type="checkbox" id="distribution_in_PE" name="distribution_in_PE" value="PE"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_PE %} checked {% endif %}
/>
<label for="PE">Prince Edward Island</label><br />

<input type="checkbox" id="distribution_in_QC" name="distribution_in_QC" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_QC %} checked {% endif %}
/>
<label for="QC">Quebec</label><br />

<input type="checkbox" id="distribution_in_SK" name="distribution_in_SK" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_SK %} checked {% endif %}
/>
<label for="distribution_in_SK">Saskatchewan</label><br />

<input type="checkbox" id="distribution_in_YT" name="distribution_in_YT" value="YT"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if distribution_in_YT %} checked {% endif %}
/>
<label for="distribution_in_YT">Yukon</label><br />

<div class="filter__sub-header">Ecozones</div>
<input type="checkbox" id="tbd" name="tbd" value="tbd" />
<label for="tbd">TBD</label>


<div class="filter__sub-header">Other</div>
<input type="checkbox" id="native_to_ottawa_region" name="Native to Ottawa Region" value="native_to_ottawa_region"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
>
<label for="native_to_ottawa_region" class="tooltip info">Native to Ottawa Region <span class='tooltiptext'>Plants that are native to the Ottawa region</span></label><br />
