<div class='filter__sub-header'>Physical Attributes</div>
<div class="filter">
  <input
    type="number"
    id="max_height"
    name="max_height"
    value=""
    hx-get="/search-plant-name"
    hx-trigger="change delay:500ms, keyup"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  />
  <label for="height">Max. Height (Feet)</label><br />
</div>
<div class="filter">
  <input
    type="number"
    id="max_width"
    name="max_width"
    value="Width"
    hx-get="/search-plant-name"
    hx-trigger="change delay:500ms, keyup"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  />
  <label for="width">Max. Width (Feet)</label><br />
</div>

<div class='filter__sub-header'>Lifespan</div>
<div class="filter">
  <input
    type="checkbox"
    id="annual"
    name="annual"
    value="Annual"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if annual %} checked {% endif %}
  />
  <label for="annual" class="tooltip info">Annual<span class="tooltiptext">Plants that have a lifespan of one year</span></label><br />
  <input
    type="checkbox"
    id="biennial"
    name="biennial"
    value="Biennial"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if biennial %} checked {% endif %}
  />
  <label for="biennial" class="tooltip info">Biennial<span class="tooltiptext">Plants that will take two years to bloom, and then will die</span></label><br />
  <input
    type="checkbox"
    id="perennial"
    name="perennial"
    value="Perennial"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if perennial %} checked {% endif %}
  />
  <label for="perennial" class="tooltip info">Perennial<span class="tooltiptext">Plants that will come back year after year</span></label><br />
  <input
    type="checkbox"
    id="spring_ephemeral"
    name="spring_ephemeral"
    value="Spring Ephemeral"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if spring_ephemeral %} checked {% endif %}
  />
  <label for="spring_ephemeral" class="tooltip info">Spring Ephemeral<span class="tooltiptext">Plants that bloom in the spring then lose their leaves later in the season</span></label><br />

</div>

<div class='filter__sub-header'>Bloom period</div>
<div id="bloom_period">
  <!--2 input select options that define a period between which a plant blooms-->
  <select
    id="bloom_start"
    name="bloom_start"
    hx-get="/search-plant-name"
    hx-trigger="change"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  >
    <option value="">Start Month</option>
    {% for month in months_numbered %}
      <option value="{{ month.0 }}" {% if bloom_start == month.0 %} selected {% endif %}>{{ month.1 }}</option>
    {% endfor %}
  </select>
  <select
    id="bloom_end"
    name="bloom_end"
    hx-get="/search-plant-name"
    hx-trigger="change"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  >
    <option value="">End Month</option>
    {% for month in months_numbered %}
      <option value="{{ month.0 }}" {% if bloom_end == month.0 %} selected {% endif %}>{{ month.1 }}</option>
    {% endfor %}
  </select>
</div>

<div class='filter__sub-header'>Bloom colours</div>
<div id="colours" class="">
      <!--Input checkbox for color blue-->
  <input
    type="checkbox"
    id="color_blue"
    name="color_blue"
    value="Blue"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_blue %} checked {% endif %}
  />
  <label for="color_blue">Blue</label><br />
      <!--Input checkbox for color green-->
  <input
    type="checkbox"
    id="color_green"
    name="color_green"
    value="Green"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_green %} checked {% endif %}
  />
  <label for="color_green">Green</label><br />
      <!--Input checkbox for color orange-->
  <input
    type="checkbox"
    id="color_orange"
    name="color_orange"
    value="Orange"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_orange %} checked {% endif %}
  />
  <label for="color_orange">Orange</label><br />
      <!--Input checkbox for color pink-->
  <input
    type="checkbox"
    id="color_pink"
    name="color_pink"
    value="Pink"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_pink %} checked {% endif %}
  />
  <label for="color_pink">Pink</label><br />
      <!--Input checkbox for color purple-->
  <input
    type="checkbox"
    id="color_purple"
    name="color_purple"
    value="Purple"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_purple %} checked {% endif %}
  />
  <label for="color_purple">Purple</label><br />
      <!--Input checkbox for color red-->
  <input
    type="checkbox"
    id="color_red"
    name="color_red"
    value="Red"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_red %} checked {% endif %}
  />
  <label for="color_red">Red</label><br />
      <!--Input checkbox for color white-->
  <input
    type="checkbox"
    id="color_white"
    name="color_white"
    value="White"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_white %} checked {% endif %}
  />
  <label for="color_white">White</label><br />
      <!--Input checkbox for color yellow-->
  <input
    type="checkbox"
    id="color_yellow"
    name="color_yellow"
    value="Yellow"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if color_yellow %} checked {% endif %}
  />
  <label for="color_yellow">Yellow</label><br />
</div>

<div class="filter__sub-header">Plant Type</div>

  <!--Input checkbox for conifer tree-->
<input
  type="checkbox"
  id="conifer_tree"
  name="conifer_tree"
  value="Conifer Tree"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if conifer_tree %} checked {% endif %}
/>
<label for="conifer_tree">Conifer tree</label><br />

  <!--Input checkbox for decideous tree-->
<input
  type="checkbox"
  id="deciduous_tree"
  name="deciduous_tree"
  value="Deciduous Tree"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if deciduous_tree %} checked {% endif %}
/>
<label for="deciduous_tree">Deciduous tree</label><br />

<div id="plant-types" class="">
      <!--Input checkbox for flowering plant-->
  <input
    type="checkbox"
    id="flowering_plant"
    name="flowering_plant"
    value="Flowering plant"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if flowering_plant %} checked {% endif %}
  />
  <label for="flowering_plant">Flowering Plant</label><br />

      <!--Input checkbox for grass-->
  <input
    type="checkbox"
    id="grass_sedge_rush"
    name="grass"
    value="Grass"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if grass_sedge_rush %} checked {% endif %}
  />
  <label for="grass_sedge_rush">Grass/sedge/rush</label><br />

      <!--Input checkbox for shrub-->
  <input
    type="checkbox"
    id="shrub"
    name="shrub"
    value="Shrub"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if shrub %} checked {% endif %}
  />
  <label for="shrub">Shrub</label><br />

      <!--Input checkbox for vine-->
  <input
    type="checkbox"
    id="id_checkbox_vine"
    name="vine"
    value="Vine"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if id_checkbox_vine %} checked {% endif %}
  />
  <label for="id_checkbox_vine">Vine</label><br />
</div>

<div class='filter__sub-header'>Soil Tolerances</div>
      <!--Input checkbox for acidic soil tolerant-->
<input
  type="checkbox"
  id="acidic_soil_tolerant"
  name="acidic_soil_tolerant"
  value="Acidic Soil Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if acidic_soil_tolerant %} checked {% endif %}
/>
<label for="acidic_soil_tolerant">Acidic soil</label><br />

      <!--Input checkbox for limestone tolerant-->
<input
  type="checkbox"
  id="limestone_tolerant"
  name="limestone_tolerant"
  value="Limestone Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if limestone_tolerant %} checked {% endif %}
/>
<label for="limestone_tolerant">Limestone</label><br />
      <!--Input checkbox for sand tolerant-->
<input
  type="checkbox"
  id="sand_tolerant"
  name="sand_tolerant"
  value="Sand Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if sand_tolerant %} checked {% endif %}
/>
<label for="sand_tolerant">Sand</label><br />
