<div class='filter__sub-header'>Gardening Experience</div>
  <!--Input box for beginner friendly-->
<input
  type="checkbox"
  id="beginner_friendly"
  name="beginner_friendly"
  value="Beginner Friendly"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if beginner_friendly %} checked {% endif %}
/>
<label for="beginner_friendly">Beginner friendly ✔</label><br />

<!--Input checkbox for Does not Spread-->
<input
  type="checkbox"
  id="does_not_spread"
  name="does_not_spread"
  value="Does Not Spread"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if does_not_spread %} checked {% endif %}
/>
<label for="does_not_spread">Does not Spread ✔</label><br />

<!--Input checkbox for germinate_easy-->
<input
  type="checkbox"
  id="germinate_easy"
  name="germinate_easy"
  value="Germinate Easy"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if germinate_easy %} checked {% endif %}
/>
<label for="germinate_easy">Easy to germinate ✔</label><br />

<!--Input checkbox for self_seeding-->
<input
  type="checkbox"
  id="self_seeding"
  name="self_seeding"
  value="Self Seeding"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if self_seeding %} checked {% endif %}
/>
<label for="self_seeding" class="tooltip info">Self-Seeding ✔<span class="tooltiptext">Plants that will produce seeds abundantly resulting in new plants</span></label><br />

<div class="filter__sub-header">Starter Packs</div>
<!--Radio button group for starter packs-->
<div class="starter-pack-options">
  <div>
    <input
      type="radio"
      id="starter_pack_shade"
      name="starter_pack"
      value="starter_pack_shade"
      hx-get="/search-plant-name"
      hx-trigger="click"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="{{hx_include}}"
      {% if starter_pack_shade %} checked {% endif %}
    />
    <label for="starter_pack_shade">Shade ✔</label>
  </div>

  <div>
    <input
      type="radio"
      id="starter_pack_sun_dry"
      name="starter_pack"
      value="starter_pack_sun_dry"
      hx-get="/search-plant-name"
      hx-trigger="click"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="{{hx_include}}"
      {% if starter_pack_sun_dry %} checked {% endif %}
    />
    <label for="starter_pack_sun_dry">Sun Dry ✔</label>
  </div>

  <div>
    <input
      type="radio"
      id="starter_pack_sun_wet"
      name="starter_pack"
      value="starter_pack_sun_wet"
      hx-get="/search-plant-name"
      hx-trigger="click"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="{{hx_include}}"
      {% if starter_pack_sun_wet %} checked {% endif %}
    />
    <label for="starter_pack_sun_wet">Sun Wet ✔</label>
  </div>
</div>
