<div class='filter__sub-header'>Provinces and Territories</div>
<input type="checkbox" id="is_native_to_AB" name="is_native_to_AB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_AB %} checked {% endif %}
/>
<label for="is_native_to_AB">Alberta</label><br />

<input type="checkbox" id="is_native_to_BC" name="is_native_to_BC" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_BC %} checked {% endif %}
/>
<label for="is_native_to_BC">British Columbia</label><br />

<input type="checkbox" id="is_native_to_MB" name="is_native_to_MB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_MB %} checked {% endif %}
/>
<label for="is_native_to_MB">Manitoba</label><br />

<input type="checkbox" id="is_native_to_NB" name="is_native_to_NB" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_NB %} checked {% endif %}
/>
<label for="is_native_to_NB">New Brunswick</label><br />

<input type="checkbox" id="is_native_to_NL" name="is_native_to_NL" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_NL %} checked {% endif %}
/>
<label for="is_native_to_NL">Newfoundland and Labrador</label><br />

<input type="checkbox" id="is_native_to_NT" name="is_native_to_NT" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_NT %} checked {% endif %}
/>
<label for="is_native_to_NT">Northwest Territories</label><br />

<input type="checkbox" id="is_native_to_NS" name="is_native_to_NS" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_NS %} checked {% endif %}
/>
<label for="is_native_to_NS">Nova Scotia</label><br />

<input type="checkbox" id="is_native_to_NU" name="is_native_to_NU" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_NU %} checked {% endif %}
/>
<label for="is_native_to_NU">Nunavut</label><br />

<input type="checkbox" id="is_native_to_ON" name="is_native_to_ON" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_ON %} checked {% endif %}
/>
<label for="is_native_to_ON">Ontario</label><br />

<input type="checkbox" id="is_native_to_PE" name="is_native_to_PE" value="PE"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_PE %} checked {% endif %}
/>
<label for="is_native_to_PE">Prince Edward Island</label><br />

<input type="checkbox" id="is_native_to_QC" name="is_native_to_QC" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_QC %} checked {% endif %}
/>
<label for="is_native_to_QC">Quebec</label><br />

<input type="checkbox" id="is_native_to_SK" name="is_native_to_SK" value="N"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_SK %} checked {% endif %}
/>
<label for="is_native_to_SK">Saskatchewan</label><br />

<input type="checkbox" id="is_native_to_YT" name="is_native_to_YT" value="YT"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
       {% if is_native_to_YT %} checked {% endif %}
/>
<label for="is_native_to_YT">Yukon</label><br />

<div class="filter__sub-header">Ecozones</div>
{% for ecozone in ecozones %}
  <input type="checkbox" id="ecozone_{{ ecozone.id }}" name="ecozone_{{ ecozone.id }}" value="{{ ecozone.id }}"
         hx-get="/search-plant-name"
         hx-trigger="click"
         hx-target="#search-results"
         hx-push-url="true"
         hx-include="{{hx_include}}"
  />
  <label for="ecozone_{{ ecozone.id }}">{{ ecozone.ecozone }}</label><br />
{% endfor %}


<div class="filter__sub-header">Other</div>
<input type="checkbox" id="native_to_ottawa_region" name="Native to Ottawa Region" value="native_to_ottawa_region"
       hx-get="/search-plant-name"
       hx-trigger="click"
       hx-target="#search-results"
       hx-push-url="true"
       hx-include="{{hx_include}}"
>
<label for="native_to_ottawa_region" class="tooltip info">Native to Ottawa Region <span class='tooltiptext'>Plants that are native to the Ottawa region</span></label><br />
