<!--This template displays the sowing information for the plant-->
{% load static %}
<div>
  <h4>Sowing Information</h4>
  <ul>
    <li>Sowing depth: {{ plant.sowing_depth }}</li>
    <li>Sowing period: {{ plant.sowing_period }}</li>
    {% if plant.self_seeding %}
      <li>Self-seeding</li>
    {% endif %}
    {% if plant.dormancy %}
      <li>Dormancy period: {{ plant.dormancy }}</li>
    {% endif %}
    <li>Stratification duration: {{ plant.stratification_duration }} days</li>
    {% if plant.stratification_details %}
      <li>Stratification details: {{ plant.stratification_details }}</li>
    {% endif %}
  </ul>
</div>
