
{% load static %}
{% load months %}
<div>

  <ul>
    {% if plant.harvesting_start %}
      <li>Harvest start month: {{ plant.harvesting_start|month_name }}</li>
    {% endif %}
    <li>Harvesting indicator: {{ plant.harvesting_indicator }}</li>
    <li>Harvesting mean: {{ plant.harvesting_mean }}</li>
    <li>Seed viability test: {{ plant.seed_viability_test }}</li>
    <li>Packaging measure: {{ plant.packaging_measure }}</li>
    <li>Seed storage: {{ plant.seed_storage }}</li>
    <li>At least one cultivar: {{ plant.on_cultivar }}</li>
    {% if plant.remove_non_seed_material %}
      <li>Remove non seed material</li>
    {% endif %}
  </ul>
</div>
