{% load static %}
        <!--Display message if plant is not accepted by OWSL-->
{% if not plant.is_accepted %}
  <div class="alert alert--warning">
    This plant is not accepted by the Ottawa Wildflower Seed Library at this time.
    {% if plant.not_accepted_reason %}
      Reason: {{ plant.not_accepted_reason }}
    {% endif %}
  </div>
{% endif %}
        <!--Display message if plant is not active-->
{% if not plant.is_active %}
  <div class="alert alert--warning">
    This plant profile is not active. Activate it through the Information Identification tab
  </div>
{% endif %}
        <!--Display message if plant is known to be toxic-->
{% if is_toxic %}
  <div class="flex-col-center alert alert--error">
    <img class='icon square white' src="{% static 'images/plant-toxic.svg' %}" alt="Toxic Plant">
    {{ plant.toxicity_indicator }} - {{ plant.toxicity_indicator_notes }}
  </div>
{% endif %}
<!--Display message if plant is a recall-->
{% if plant.has_recall %}
  <div class="alert alert--error">
    This plant has been recalled.
    {% if plant.recall_reason %}
      Reason: {{ plant.recall_reason }}
    {% endif %}
  </div>
{% endif %}
<!--Display message if plant profile is a draft-->
{% if plant.is_draft %}
  <div class="alert alert--info">
    This plant profile is a draft and may be incomplete. Please help us complete it!
  </div>
{% endif %}
