
{% load static %}
{% load months %}
<div id="harvesting-and-seed-sharing" class="plant-profile-section">

  <ul>
    {% if plant.harvesting_start %}
      <li>Harvest start month: {{ plant.harvesting_start|month_name }}</li>
    {% endif %}
    <li>Harvesting indicator: {{ plant.harvesting_indicator }}</li>
    <li>Harvesting mean: {{ plant.harvesting_mean }}</li>
    <li>Seed viability test: {{ plant.seed_viability_test }}</li>
    <li>Packaging measure: {{ plant.packaging_measure }}</li>
    <li>Seed storage: {{ plant.seed_storage }}</li>
    <li>At least one cultivar: {{ plant.on_cultivar }}</li>
    {% if plant.remove_non_seed_material %}
      <li>Remove non seed material</li>
    {% endif %}
    {% if plant.harvesting_notes %}
      <li>Harvesting notes: {{ plant.harvesting_notes }}</li>
    {% endif %}
    {% if plant.harvesting_video_link %}
      <li>Harvesting video: <a target="_blank" href="{{ plant.harvesting_video_link }}">Watch here</a></li>
    {% endif %}
  </ul>
</div>
