<!--This template displays the sowing information for the plant-->
{% load static %}
<div>
  <!--link to pdf sowing label-->
  <a href="{% url 'plant-label-pdf' plant.pk %}" target="_blank">Download Sowing Label (PDF)</a>
  <ul>
    <li>Sowing depth: {{ plant.sowing_depth }}</li>
    <li>{{ sow_before|default:"Sow anytime" }}</li>
    <li>Stratification duration: {{ plant.stratification_duration }} days</li>
    {% if plant.self_seeding %}
      <li>Self-seeding</li>
    {% endif %}
    {% if plant.double_dormancy %}
      <li>Double dormancy required</li>
    {% endif %}
    {% if plant.stratification_details %}
      <li>Stratification details: {{ plant.stratification_details }}</li>
    {% endif %}
    {% if plant.sowing_notes %}
      <li>Notes: {{ plant.sowing_notes }}</li>
    {% endif %}
  </ul>
</div>
