{% load static %}
<section class="">
  <div class="flex-col">
    <!-- Environmental Requirements -->
    <section class="profile-reference mb-1">
      <h3>Environmental Requirements</h3>

      <!-- Light Requirements -->
      <article>
        <h4>Light Preferences</h4>
        <article class="mb-1">
          <span>Indicates how much sunlight the plant needs to thrive.</span>
          <!-- Full Sun -->
          <div class="card-box">
            <div class="card">
              <img
                src="{% static 'images/plant-full-sun.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>Full Sun:</span>
              <span>More than 6 hours of direct sunlight daily</span>
            </div>
            <!-- Part Shade -->
            <div class="card">
              <img
                src="{% static 'images/plant-part-shade.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>Part Shade:</span>
              <span>Between 3 to 6 hours of direct sunlight daily</span>
            </div>
            <!-- Full Shade -->
            <div class="card">
              <img
                src="{% static 'images/plant-full-shade.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>Full Shade:</span>
              <span>Less than 3 hours of direct sunlight daily</span>
            </div>
          </div>
        </article>
      </article>

      <!-- Moisture Preferences -->
      <article class="profile-reference">
        <h4>Moisture Preferences</h4>
        <article class="mb-1">
          <span class="">Indicates the moisture level the plant prefers.</span>
          <div class="card-box">
            <!--Dry-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-dry.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>Dry:</span>
              <span>Water runs through after rainfall</span>
            </div>
            <!--Medium-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-medium.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>Medium:</span>
              <span>Water is retained but not soggy</span>
            </div>
            <!--Wet-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-wet.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>Wet:</span>
              <span>Stays damp all year</span>
            </div>
          </div>
        </article>
      </article>
    </section>

    <!-- Gardening Experience -->
    <section class="profile-reference mb-1">
      <h3>Introductory Gardening Experience</h3>
      <h4>Gardening Experience</h4>
      <article class="mb-1">
        <!--Beginner Friendly-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-beginner-friendly.svg' %}"
            alt="Beginner Friendly Icon"
            class="icon"
          />
          <span>Beginner Friendly:</span>
          <span>Suitable for novice gardeners</span>
        </div>
        <!--Does not Spread-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-does-not-spread.svg' %}"
            alt="Native to Ottawa Region Icon"
            class="icon"
          />
          <span>Does not Spread:</span>
          <span>Plants will remain at the same place in the garden</span>
        </div>
        <!--Easy to Germinate-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-germinate-easy.svg' %}"
            alt="Easy to Germinate Icon"
            class="icon"
          />
          <span>Easy to Germinate:</span>
          <span>Indicates if the plant is easy to germinate from seeds</span>
        </div>
        <!--Self-Seeding-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-self-seeding.svg' %}"
            alt="Self Seeding Icon"
            class="icon"
          />
          <span>Self-Seeding:</span>
          <span>Plants that will produce seeds abundantly resulting in new plants</span>
        </div>
      </article>

      <article class="mb-1">
        <h4>Starter Packs</h4>
        <p>
          Starter Packs provide ideas for plants that go well together in the
          specified conditions (e.g. Shade, Sun Dry, Sun Wet)
        </p>
      </article>
    </section>

    <!-- Growth Characteristics -->
    <section class="profile-reference mb-1">
      <h3>Growth Characteristics</h3>
      <article class="mb-1">
        <p>
          This section includes information on the expected growth, life span
          and soil tolerances.
        </p>

        <article>
          <h4>Physical Attributes</h4>
          <p>
            While exact heights and widths will vary, this section gives the
            typically observed maximums for the plant.
          </p>
          <p>
            Max Height (feet)<br />
            Max Width (feet)
          </p>
        </article>

        <article>
          <h4>Lifespan</h4>
          <ul>
            <li>Annual: plants that have a lifespan of one year</li>
            <li>
              Biennial: plants that will take two years to bloom, and then will
              die
            </li>
            <li>Perennial: plants that will that come back year after year</li>
            <li>
              Spring Ephemeral: plants that bloom in the spring that loose their
              leaves later in the year
            </li>
          </ul>
        </article>

        <article>
          <h4>Bloom Period</h4>
          <p>
            While exact bloom times will vary, this section gives the months
            blooms are typically observed for the plant.
          </p>
        </article>

        <article>
          <h4>Bloom Colours</h4>
          <p>Provides the dominant bloom colour of a plant.</p>
        </article>
      </article>

      <!--Plant type-->
      <article class="profile-reference mb-1">
        <h4 class="">Plant Type</h4>
        <!--Conifer Tree-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Conifer Tree.svg' %}"
            alt="Conifer Tree Icon"
            class="icon"
          />
          <span>Conifer Tree</span>
        </div>
        <!--Deciduous Tree-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Deciduous Tree.svg' %}"
            alt="Deciduous Tree Icon"
            class="icon"
          />
          <span>Deciduous Tree</span>
        </div>
        <!--Flowering Plant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Flowering plant.svg' %}"
            alt="Flowering Plant Icon"
            class="icon"
          />
          <span>Flowering Plant</span>
        </div>
        <!--Grass-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Grass.svg' %}"
            alt="Grass Icon"
            class="icon"
          />
          <span>Grass</span>
        </div>
        <!--Shrub-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Shrub.svg' %}"
            alt="Shrub Icon"
            class="icon"
          />
          <span>Shrub</span>
        </div>
        <!--Vine-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Vine.svg' %}"
            alt="Vine Icon"
            class="icon"
          />
          <span>Vine</span>
        </div>
      </article>

      <!--Soil Tolerances-->
      <article class="profile-reference mb-1">
        <h4>Soil Tolerances</h4>
        <!--Acidic Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-acidic-soil-tolerant.svg' %}"
            alt="Acidic Soil Tolerant Icon"
            class="icon"
          />
          <span>Acidic Soil Tolerant:</span>
          <span>Can thrive in acidic soil conditions</span>
        </div>
        <!--Limestone Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-limestone-tolerant.svg' %}"
            alt="Limestone Tolerant Icon"
            class="icon"
          />
          <span>Limestone Tolerant:</span>
          <span>Can thrive in limestone soil conditions</span>
        </div>
        <!--Sand Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-sand-tolerant.svg' %}"
            alt="Sand Tolerant Icon"
            class="icon"
          />
          <span>Sand Tolerant:</span>
          <span>Can thrive in sandy soil conditions</span>
        </div>
      </article>
    </section>

    <!-- Harvesting and Seed Sharing -->
    <section class="profile-reference mb-1">
      <h3>Harvesting and Seed Sharing</h3>

      <article class="mb-1">
        <h4>Harvesting Period Start</h4>
        <p>
          While exact harvest times will vary, this section gives the months the
          plants can usually be harvested.
        </p>
      </article>

      <article class="mb-1">
        <h4>Winter Sowing Requirements</h4>
        <p>
          Indicates the minimum amount of Cold Moist Stratification required, as
          well as the corresponding month in Ottawa. See
          <a
            target="_blank"
            href="https://wildflowerseedlibrary.ca/instructions/how-to-winter-sow-2/"
          >Winter Sowing Requirements for more information about winter
            sowing.</a
            >
          </p>
        </article>
        <article>
          <h4>Seed Sharing</h4>
          <p>
            This section confirms if the seeds are accepted by the Ottawa
            Wildflower Seed Library for donation, as well as if the seeds are
            available to be requested.
          </p>
          <p>
            Show seeds accepted for donations - if you are looking to donate seeds
            and do not see the species when this filter is applied, we have
            reached sufficient inventory of these seeds.
          </p>
        </article>
      </section>

    <!--Landscape Uses and Applications-->
      <section class="profile-reference mb-1">
        <h3 class="">Landscape Uses and Applications</h3>
        <article class="mb-1">
          <h4>Garden Suitability</h4>
          <p>
            This section indicates if the plants will be suitable to the
            conditions present in the specified garden type
          </p>

        <!--Suitable for boulevard garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-boulevard-garden-tolerant.svg' %}"
              alt="Boulevard Garden Icon"
              class="icon"
            />
            <span>Boulevard Garden:</span>
            <span>Can thrive in salted, dry, sunny gardens</span>
          </div>

        <!--Suitable for Container Garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-container-suitable.svg' %}"
              alt="Container Suitable Icon"
              class="icon"
            />
            <span>Container Garden:</span>
            <span>Can be grown and left in containers all year round</span>
          </div>

        <!--Suitable for rain garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-rain-garden.svg' %}"
              alt="Rain Garden Icon"
              class="icon"
            />
            <span>Rain Garden:</span>
            <span>Can thrive in wet and dry conditions</span>
          </div>

        <!--Suitable for right of way garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-row-garden.svg' %}"
              alt="Right of Way Garden Icon"
              class="icon"
            />
            <span>Right of Way (ROW) Garden:</span>
            <span
            >Can thrive near roadways, tolerates salt and is below 2 feet
              tall</span
              >
            </div>
        <!--Suitable for rock garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-rock-garden.svg' %}"
                alt="Rock Garden Icon"
                class="icon"
              />
              <span>Rock Garden:</span>
              <span>Can thrive in rocky soil</span>
            </div>

        <!--Suitable for school garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-school-garden.svg' %}"
                alt="School Garden Icon"
                class="icon"
              />
              <span>School Garden:</span>
              <span> Short plants that can thrive in dry and sunny conditions</span>
            </div>

        <!--Suitable for shoreline rehabilitation-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-shoreline-rehab.svg' %}"
                alt="Shoreline Rehabilitation Icon"
                class="icon"
              />
              <span>Shoreline Rehabilitation:</span>
              <span>Can help stabilize soil</span>
            </div>

        <!--Suitable for wetland garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-wetland-garden.svg' %}"
                alt="Wetland Garden Icon"
                class="icon"
              />
              <span>Wetland Garden:</span>
              <span>Can thrive in soil in water</span>
            </div>

        <!--Suitable for woodland garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-woodland-garden.svg' %}"
                alt="Woodland Garden Icon"
                class="icon"
              />
              <span>Woodland Garden:</span>
              <span>Can thrive in shade or part shade</span>
            </div>
          </article>

          <article class="mb-1">
            <h4>Functional Uses</h4>
        <!--suitable for ground cover   -->
            <div class="card-box">
              <img
                src="{% static 'images/plant-ground-cover.svg' %}"
                alt="Ground Cover Icon"
                class="icon"
              />
              <span>Groundcover/Lawn Replacement:</span>
              <span>Can be used as ground cover</span>
            </div>

        <!--suitable for hedge-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-hedge.svg' %}"
                alt="Hedge Icon"
                class="icon"
              />
              <span>Hedge:</span>
              <span>Can be used as a hedge</span>
            </div>

        <!--Transplantats Well-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-transplantation-tolerant.svg' %}"
                alt="Transplants Well Icon"
                class="icon"
              />
              <span>Transplants Well:</span>
              <span>Can tolerate transplantation</span>
            </div>
          </article>
        </section>
    <!--End of Landscape Uses and Applications-->

    <!--Ecological Benefits-->
        <section class="profile-reference mb-1">
          <h3>Ecological Benefits</h3>
          <article class="mb-1">
            <h4>Wildlife Interactions</h4>
        <!--Bird Friendly-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-bird-friendly.svg' %}"
                alt="Bird Friendly Icon"
                class="icon"
              />
              <span>Bird Friendly:</span>
              <span>Attracts birds</span>
            </div>
        <!--Deer Tolerant-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-deer-tolerant.svg' %}"
                alt="Deer Tolerant Icon"
                class="icon"
              />
              <span>Deer Tolerant:</span>
              <span>Can withstand deer browsing</span>
            </div>
        <!--Hummingbird Friendly-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-hummingbird-friendly.svg' %}"
                alt="Hummingbird Friendly Icon"
                class="icon"
              />
              <span>Hummingbird Friendly:</span>
              <span>Attracts hummingbirds</span>
            </div>
        <!--Pollinator Garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-pollinator-garden.svg' %}"
                alt="Pollinator Garden Icon"
                class="icon"
              />
              <span>Pollinator Garden:</span>
              <span>Attracts pollinators</span>
            </div>
        <!--Rabbit Tolerant-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-rabbit-tolerant.svg' %}"
                alt="Rabbit Tolerant Icon"
                class="icon"
              />
              <span>Rabbit Tolerant:</span>
              <span>Can withstand rabbit browsing</span>
            </div>
          </article>

          <h4>Environmental Stress Tolerance</h4>
          <article class="mb-1">
        <!--does not tolerate foot traffic-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-foot-traffic-tolerance-no.svg' %}"
                alt="Cannot withstand foot traffic Icon"
                class="icon"
              />
              <span>Cannot withstand foot traffic</span>
            </div>
        <!--tolerates medium foot traffic-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-foot-traffic-tolerance-medium.svg' %}"
                alt="Can withstand a medium amount of foot traffic Icon"
                class="icon"
              />
              <span>Can withstand a medium amount of foot traffic</span>
            </div>
        <!--Drought Tolerant-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-drought-tolerant.svg' %}"
                alt="Drought Tolerant Icon"
                class="icon"
              />
              <span>Drought Tolerant:</span>
              <span>Can survive with minimal water</span>
            </div>
            <div class="card-box">
              <img
                src="{% static 'images/plant-juglone-tolerant.svg' %}"
                alt="Juglone Tolerant Icon"
                class="icon"
              />
              <span>Juglone Tolerant:</span>
              <span
              >Can tolerate juglone, a compound found in black walnut trees</span
                >
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-salt-tolerant.svg' %}"
                  alt="Salt Tolerant Icon"
                  class="icon"
                />
                <span>Salt Tolerant:</span>
                <span>Can withstand salt exposure</span>
              </div>
            </article>

            <h4>Ecosystem Services</h4>
            <article class="mb-1">
        <!--Bee Host-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-bee-host.svg' %}"
                  alt="Bee Host Icon"
                  class="icon"
                />
                <span>Specialized Bee Host:</span>
                <span>Supports specialized bees</span>
              </div>
        <!--Butterfly Host-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-butterfly-host.svg' %}"
                  alt="Butterfly Host Icon"
                  class="icon"
                />
                <span>Butterfly Host:</span>
                <span>Supports butterflies</span>
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-keystones-species.svg' %}"
                  alt="Keystone Species Icon"
                  class="icon"
                />
                <span>Keystone Species:</span>
                <span>Plays a critical role in the ecosystem</span>
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-nitrogen-fixer.svg' %}"
                  alt="Nitrogen Fixer Icon"
                  class="icon"
                />
                <span>Nitrogen Fixer:</span>
                <span>Improves soil fertility</span>
              </div>
            </article>
          </section>

    <!--Special Features and Consideration-->
          <section class="mb1">
            <h3>Special Features and Considerations</h3>
            <h4>Conservation Status</h4>
            <article class="mb-1">
        <!--Endangered-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-endangered.svg' %}"
                  alt="Plant Endangered Icon"
                  class="icon"
                />
                <span>Endangered:</span>
                <span>Species that live in the wild in Ontario but is facing imminent extinction or extirpation (<a target="_blank" href="https://explorer.natureserve.org/pro/Welcome/">Nature Serve</a> for more information)</span>
              </div>
        <!--GRASP Candidate-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-grasp-candidate.svg' %}"
                  alt="GRASP Candidate Icon"
                  class="icon"
                />
                <span>GRASP Program Member:</span>
                <span>Member of the Gathering Rare and Special Plants (GRASP) in Ottawa Program</span>
              </div>
            </article>
            <h4>Safety and Compatibility</h4>
            <article class="mb-1">
        <!--Plant causes rash-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-causes-rash.svg' %}"
                  alt="Causes Rash Icon"
                  class="icon"
                />
                <span>Causes Rash:</span>
                <span>May cause skin rashes or irritation</span>
              </div>
        <!--Exclude plants that can cause skin rashes-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-does-not-cause-rash.svg' %}"
                  alt="Does Not Cause Rash Icon"
                  class="icon"
                />
                <span>Does Not Cause Rash:</span>
                <span>Does not cause skin rashes or irritation</span>
              </div>
        <!--Plant has burs or needles-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-burs-or-needles.svg' %}"
                  alt="Has Burs or Needles Icon"
                  class="icon"
                />
                <span>Has Burs or Needles:</span>
                <span>May have burs or needles that can cause discomfort</span>
              </div>
        <!--Septic tank safe-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-septic-tank-safe.svg' %}"
                  alt="Septic Tank Safe Icon"
                  class="icon"
                />
                <span>Septic Tank Safe:</span>
                <span>Safe to plant near or over septic tank systems</span>
              </div>
        <!--plant wears glove-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-wear-gloves.svg' %}"
                  alt="Wear Gloves Icon"
                  class="icon"
                />
                <span>Wear Gloves:</span>
                <span>Handling may require gloves for safety</span>
              </div>
            </article>
          </section>
    <!--End of Special Features and Consideration-->
    <!--Location-->
          <section class="mb-1">
            <h3>Location</h3>
            <p>This section allows to filter by different location options, including by geographic location or by terrestrial ecozones and ecoprovinces, as defined by <a target="_blank"
                                                                                                                                                                           href="https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map">Statistics Canada</a>.
            </p>
            <h4>Provinces and Territories</h4>
            <article class="mb-1">
              <p>
                Note: Distribution for this section is according to
                <a target="_blank" href="https://data.canadensys.net/vascan/search"
                >VASCAN</a
                  >.
                </p>
                <ul>
                  <li>Alberta</li>
                  <li>British Columbia</li>
                  <li>Manitoba</li>
                  <li>New Brunswick</li>
                  <li>Newfoundland and Labrador</li>
                  <li>Nova Scotia</li>
                  <li>Northwest Territories</li>
                  <li>Nunavut</li>
                  <li>Ontario</li>
                  <li>Prince Edward Island</li>
                  <li>Quebec</li>
                  <li>Saskatchewan</li>
                  <li>Yukon</li>
                </ul>
              </article>
              <h4>Ecozones</h4>
              <article class="mb-1">
                <p>
                  Terrestrial ecozones and ecoprovinces of Canada as defined by
                  Statistics Canada. For more information on Ecozones, visit:
                  <a
                    target="_blank"
                    href="https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map"
                  >https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map</a
                    >
                  </p>
                  <ul>
                    <li>Arctic Cordillera</li>
                    <li>Atlantic Maritime</li>
                    <li>Boreal Cordillera</li>
                    <li>Boreal Plains</li>
                    <li>Boreal Shield</li>
                    <li>Hudson Plains</li>
                    <li>Mixedwood Plains</li>
                    <li>Montane Cordillera</li>
                    <li>Northern Arctic</li>
                    <li>Pacific Maritime</li>
                    <li>Prairies</li>
                    <li>Southern Arctic</li>
                    <li>Taiga Cordiller</li>
                    <li>Taiga Plains</li>
                    <li>Taiga Shield</li>
                  </ul>
                </article>
                <h4>Other</h4>
                <article class="mb-1">
                  <p>
                    Native to Ottawa Region.
                  </p>
                </article>
              </section>
            </div>
          </section>
