{% load static %}
<div class="plant-profile-characteristics-item">
  <span>Ecological Benefits:</span>

  {% if not ecological_benefits %}
    <span>No ecological benefits information available.</span>
  {% else %}

    {% if plant.hummingbird_friendly %}
      <div class="tooltip">
        <img
          title="Hummingbird friendly"
          alt="Hummingbird friendly"
          class="icon"
          src="{% static 'images/plant-hummingbird-friendly.svg'  %}"
        />
        <span class="tooltiptext">Supports hummingbirds</span>
      </div>
    {% endif %} {% if plant.butterfly_friendly %}
      <div class="tooltip">
        <img
          title="butterfly friendly"
          alt="butterfly friendly"
          class="icon"
          src="{% static 'images/plant-butterfly-friendly.svg'  %}"
        />
        <span class="tooltiptext">Supports butterflies</span>
      </div>
    {% endif %} {% if plant.nitrogen_fixer %}
      <div class="tooltip">
        <img
          title="nitrogen fixer"
          alt="nitrogen fixer"
          class="icon"
          src="{% static 'images/plant-nitrogen-fixer.svg'  %}"
        />
        <span class="tooltiptext">Fixes nitrogen in the soil</span>
      </div>
    {% endif %}{% if plant.keystones_species %}
      <div class="tooltip">
        <img
          title="keystones species"
          alt="keystones species"
          class="icon"
          src="{% static 'images/plant-keystones-species.svg'  %}"
        />
        <span class="tooltiptext">Keystone species</span>
      </div>
    {% endif %}
  {% endif %}
</div>
