{% load static %}
<div class="plant-profile-characteristics-item">
  <span>Landscape uses:</span>
  {% if not landscape_use %}
    <span>No landscape information available.</span>
  {% else %}
    {% if plant.rock_garden %}
      <div class="tooltip">
        <img
          title="rock garden"
          alt="rock garden"
          class="icon"
          src="{% static 'images/plant-rock-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for rock gardens</span>
      </div>
    {% endif %}
    {% if is_row_garden %}
      <div class="tooltip">
        <img
          title="row garden"
          alt="row garden"
          class="icon"
          src="{% static 'images/plant-row-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for Right of Way gardens</span>
      </div>
    {% endif %}
    {% if plant.wetland_garden %}
      <div class="tooltip">
        <img
          title="wetland garden"
          alt="wetland garden"
          class="icon"
          src="{% static 'images/plant-wetland-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for wetland garden</span>
      </div>
    {% endif %} {% if plant.rain_garden %}
      <div class="tooltip">
        <img
          title="rain garden"
          alt="rain garden"
          class="icon"
          src="{% static 'images/plant-rain-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for rain gardens</span>
      </div>
    {% endif %} {% if plant.shoreline_rehab %}
      <div class="tooltip">
        <img
          title="shoreline_rehab"
          alt="shoreline_rehab"
          class="icon"
          src="{% static 'images/plant-shoreline-rehab.svg'  %}"
        />
        <span class="tooltiptext">Suitable for shoreline rehabilitation</span>
      </div>
    {% endif %} {% if plant.container_suitable %}
      <div class="tooltip">
        <img
          title="container suitable"
          alt="container suitable"
          class="icon"
          src="{% static 'images/plant-container-suitable.svg'  %}"
        />
        <span class="tooltiptext">Suitable for container garden</span>
      </div>
    {% endif %} {% if plant.school_garden %}
      <div class="tooltip">
        <img
          title="school garden"
          alt="school garden"
          class="icon"
          src="{% static 'images/plant-school-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for school gardens</span>
      </div>
    {% endif %} {% if plant.ground_cover %}
      <div class="tooltip">
        <img
          title="ground cover"
          alt="ground cover"
          class="icon"
          src="{% static 'images/plant-ground-cover.svg'  %}"
        />
        <span class="tooltiptext">Suitable for ground cover</span>
      </div>
    {% endif %} {% if plant.garden_hedge %}
      <div class="tooltip">
        <img
          title="garden hedge"
          alt="garden hedge"
          class="icon"
          src="{% static 'images/plant-garden-hedge.svg'  %}"
        />
        <span class="tooltiptext">Suitable for garden hedges</span>
      </div>
    {% endif %} {% if plant.woodland_garden %}
      <div class="tooltip">
        <img
          title="woodland garden"
          alt="woodland garden"
          class="icon"
          src="{% static 'images/plant-woodland-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for woodland gardens</span>
      </div>
    {% endif %} {% if plant.hedge %}
      <div class="tooltip">
        <img
          title="hedge"
          alt="hedge"
          class="icon"
          src="{% static 'images/plant-hedge.svg'  %}"
        />
        <span class="tooltiptext">Can be used as a hedge</span>
      </div>
    {% endif %}{% if plant.boulevard_garden_tolerant %}
      <div class="tooltip">
        <img
          title=""
          alt="boulevard garden tolerant"
          class="icon"
          src="{% static 'images/plant-boulevard-garden-tolerant.svg'  %}"
        />
        <span class="tooltiptext">Tolerates boulevard garden conditions</span>
      </div>
    {% endif %}
      <!-- Foot traffic tolerence.  Display either of medium, light or no-->
    {% if plant.foot_traffic_tolerance_medium %}
      <div class="tooltip">
        <img
          title="foot traffic tolerance medium"
          alt="foot traffic tolerance medium"
          class="icon"
          src="{% static 'images/plant-foot-traffic-tolerance-medium.svg'  %}"
        />
        <span class="tooltiptext">Tolerates medium foot traffic</span>
      </div>
    {% elif plant.foot_traffic_tolerance_light %}
      <div class="tooltip">
        <img
          title="foot traffic tolerance light"
          alt="foot traffic tolerance light"
          class="icon"
          src="{% static 'images/plant-foot-traffic-tolerance-light.svg'  %}"
        />
        <span class="tooltiptext">Tolerates light foot traffic</span>
      </div>
    {% elif plant.foot_traffic_tolerance_no %}
      <div class="tooltip">
        <img
          title="foot traffic tolerance no"
          alt="foot traffic tolerance no"
          class="icon"
          src="{% static 'images/plant-foot-traffic-tolerance-no.svg'  %}"
        />
        <span class="tooltiptext">Does not tolerate foot traffic</span>
      </div>
    {% endif %}
  {% endif %}
</div>
