<div>

  {% if user.is_authenticated %}

    <a href="{% url 'plant-identification-information-update' plant.pk %}">Identification Information</a> |
    <a href="{% url 'plant-growth-characteristics-update' plant.pk %}">Growth Characteristics</a> |
    <a href="{% url 'plant-environmental-requirement-update' plant.pk %}">Environmental Requirements</a> |
    <a href="{% url 'plant-propagation-and-seed-sharing-update' plant.pk %}">Propagation and Seed Sharing</a> |
    <a class="alert alert--warning" href="{% url 'plant-profile-delete' plant.pk %}">Delete {{ plant.latin_name }}</a>
  {% endif %}
</div>
