<!--Display a list of all butterflies and their supporting plants-->
<!--First columns shows the latin name of the butterfly species,  the second column shows the common name, and the third column lists the supporting plants-->
{% extends 'core/base.html' %} {% load i18n %} {% load static %} {% block extracss %}
{% endblock extracss %} {% block content %}
  <section class="container">
    <div>
      <h1>{% trans "Specialized Bees and Their Supporting Plants" %}</h1>

      <p>
        {% blocktrans count bees.count as bee_count %}
          This page lists all <strong>{{ bee_count }}</strong> specialized bee species along with their supporting plants
          that exist in the plant catalogue. Each plant species is linked to its
          profile page for more detailed information.
        {% endblocktrans %}
      </p>
    </div>
    <div>
      {% for bee in bees %}
        <article>
          <div>{{ bee.latin_name }}</div>
          <div>
            <ul>
              {% for plant in bee.plants.all %}
                <li>
                  <a target="_blank" href="{% url 'plant-profile-page' plant.pk %}"
                  >{{ plant.latin_name }}</a
                    >
                  </li>
              {% endfor %}
            </ul>
          </div>
        </article>
      {% endfor %}
    </div>
{% endblock %}
</section>
