{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

  <section class="flex-col form">
    <header class='form__header title'>
      <h2>{{title}} Management</h2>
    </header>
    {% if user.is_authenticated %}
      <div class='center'>
        <a class='btn btn-add' href="{% url 'dormancy-add' %}"></a>
      </div>
    {% endif %}

    <table class='panel'>
      <thead>
        <tr>
          <th>{{title}}</th>
          {% if user.is_authenticated %}
            <th colspan=2></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr class="{% cycle 'odd-row' 'even-row' %}">
            <td>{{item.dormancy}}</td>
            {% if user.is_authenticated %}
              <td>
                <a class='btn btn-edit' href="{% url "dormancy-update" item.id %}"></a>
                <a class='btn btn-delete' href="{% url "dormancy-delete" item.id %}"></a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </section>

  </body>
  </html>
{% endblock content %}
