{% extends "core/base.html" %}


{% block content %}
  <div class="page-container">
    <a href="{% url 'search-plant-name' %}" class="search-link">Search for a Plant</a>

    <h1>Ottawa Wildflower Seed Library</h1>
    <p>Welcome to the native plant database of the Ottawa Wildflower Seed Library. To get started, move ahead to the <a href="{% url 'search-plant-name' %}">plant profile page</a>.  From there, you can search the database using a wide variety of search criteria.</p>



    <img src="/media/IMG_5567.JPG" alt="">


  </div>

{% endblock content %}
