{% load static %}
<div class="search-plants">
  <form method='GET'>

    <!--Input text box for searching plant name-->
    <div class="form__field">
      <label for="any_plant_name" class="form-label tooltip info">Search by plant name
        <span class="tooltiptext">Enter 4 or more letters of the plant's latin, english, or french name</span>
      </label>
      <input id="any_plant_name" class="name-search-input"
             name="any_plant_name"
             hx-get="/search-plant-name"
             hx-trigger="keyup[target.value.length >= 4] changed delay:500ms, keyup[key=='Enter']"
             hx-target="#search-results"
             hx-push-url="true"
             hx-include="{{hx_include}}"
             hx-indicator=".htmx-indicator"
             type="text"
             value="{{ any_plant_name }}"
             class="form-input"
      >

      <span class="htmx-indicator">
        <img src="{% static 'images/searching.svg' %}"/> Searching...
      </span>
    </div>
  </form>
</div>
