{% extends "core/base.html" %}
{% load static %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'project/css/plant-ecological-benefits.css' %}">
{% endblock extracss %}
{% block title %}{{ plant_profile.latin_name }} - Ecological Benefits{% endblock title %}
{{ title }}
{% block content %}
  <main class="main-content">
    {% include "project/plant_profile/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>Update Plant Ecological Benefits</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form action="{% url 'plant-ecological-benefits-update' plant.pk %}" method="post">
        {% csrf_token %}
        <div class="form inputs">
          <fieldset class="form-group">
            <legend>Bee Interactions</legend>
            <div class="input-checkbox">
              {{ form.bee_host }}
              <label for="{{ form.bee_host.id_for_label }}">{{ form.bee_host.label }}</label>
            </div>

            {% if plant.bees.all %}
              <fieldset class="form-group">
                <legend>Bees Supported</legend>
                {% for bee in plant.bees.all %}
                  <div class="bee-item">
                    <input type="checkbox" id="bee_{{ bee.pk }}" name="bees" value="{{ bee.pk }}" checked>
                    <label for="bee_{{ bee.pk }}">{{ bee.latin_name }}</label>
                  </div>
                {% endfor %}
              </fieldset>
            {% endif %}
            <!-- input checkboxes for unsupported bees -->
            <div class="form inputs">
              <fieldset class="form-group flex-row">
                <legend>Add more supported Bees</legend>
                <div class="checkbox-group">
                  {% for bee in unsupported_bees %}
                    {% if forloop.counter0|divisibleby:10 and forloop.counter0 > 0 %}
                      </div><div class="checkbox-group">
                    {% endif %}

                    <div class="input-checkbox">
                      <input type="checkbox" id="bee_{{ bee.pk }}" name="bees" value="{{ bee.pk }}">
                      <label for="bee_{{ bee.pk }}">{{ bee.latin_name }}</label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <legend>Butterfly Interactions</legend>
            <div class="input-checkbox">
              {{ form.butterfly_host }}
              <label for="{{ form.butterfly_host.id_for_label }}">{{ form.butterfly_host.label }}</label>
            </div>

            {% if plant.butterflies.all %}
              <fieldset class="form-group">
                <legend>Butterflies Supported</legend>
                {% for butterfly in plant.butterflies.all %}
                  <div class="butterfly-item">
                    <input type="checkbox" id="butterfly_{{ butterfly.pk }}" name="butterflies" value="{{ butterfly.pk }}" checked>
                    <label for="butterfly_{{ butterfly.pk }}">{{ butterfly.latin_name }} ({{butterfly.english_name}})</label>
                  </div>
                {% endfor %}
              </fieldset>
            {% endif %}
            <!-- input checkboxes for unsupported butterflies -->
            <div class="form inputs">
              <fieldset class="form-group flex-row">
                <legend>Add more supported Butterflies</legend>
                <div class="checkbox-group">
                  {% for butterfly in unsupported_butterflies %}
                    {% if forloop.counter0|divisibleby:10 and forloop.counter0 > 0 %}
                      </div><div class="checkbox-group">
                    {% endif %}

                    <div class="input-checkbox">
                      <input type="checkbox" id="butterfly_{{ butterfly.pk }}" name="butterflies" value="{{ butterfly.pk }}">
                      <label for="butterfly_{{ butterfly.pk }}">{{ butterfly.latin_name }} ({{butterfly.english_name}})</label>
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <legend>Bird Interactions</legend>
                    <!--Input checkbox for bird friendly-->
            <div class="input-checkbox">
              {{ form.bird_friendly }}
              <label for="{{ form.bird_friendly.id_for_label }}">{{ form.bird_friendly.label }}</label>
            </div>
                    <!--Input checkbox for hummingbird friendly-->
            <div class="input-checkbox">
              {{ form.hummingbird_friendly }}
              <label for="{{ form.hummingbird_friendly.id_for_label }}">{{ form.hummingbird_friendly.label }}</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Other Wildlife Interactions</legend>
                    <!--Input checkbox for deer resistant-->
            <div class="input-checkbox">
              {{ form.deer_tolerant }}
              <label for="{{ form.deer_tolerant.id_for_label }}">{{ form.deer_tolerant.label }}</label>
            </div>
                    <!--Input checkbox for rabbit resistant-->
            <div class="input-checkbox">
              {{ form.rabbit_tolerant }}
              <label for="{{ form.rabbit_tolerant.id_for_label }}">{{ form.rabbit_tolerant.label }}</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Other Tolerances</legend>
            <div class="input-checkbox">
              {{ form.drought_tolerant }}
              <label for="{{ form.drought_tolerant.id_for_label }}">{{ form.drought_tolerant.label }}</label>
            </div>
            <div class="input-checkbox">
              {{ form.salt_tolerant }}
              <label for="{{ form.salt_tolerant.id_for_label }}">{{ form.salt_tolerant.label }}</label>
            </div>
            <div class="input-checkbox">
              {{ form.juglone_tolerant }}
              <label for="{{ form.juglone_tolerant.id_for_label }}">{{ form.juglone_tolerant.label }}</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Ecosystem Services</legend>
            <div class="input-checkbox">
              {{ form.nitrogen_fixer }}
              <label for="{{ form.nitrogen_fixer.id_for_label }}">{{ form.nitrogen_fixer.label }}</label>
            </div>
            <!--Input checkbox for keystones species-->
            <div class="input-checkbox">
              {{ form.keystones_species }}
              <label for="{{ form.keystones_species.id_for_label }}">{{ form.keystones_species.label }}</label>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'plant-ecological-benefits-update' plant.pk %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </main>
{% endblock content %}
