{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load months %}
{% block content %}
  {% if object_list %}
    <div id="search-results" class="table-overflow">
      <p class="no-print"><a href="{% url 'plant-collection-csv' %}">{% trans "Export to CSV" %}</a> {% trans "Lots of columns" %}</p>
      <table>
        <thead>
          <tr>
            <th>{% trans "Names" %}</th><th>{% trans "Sun" %}<br> {% trans "Requirement" %}</th><th>{% trans "Bloom" %}<br> {% trans "Period" %}</th><th>{% trans "Harvesting" %}<br> {% trans "Period" %}</th><th>{% trans "Max" %} <br>{% trans "Height" %}</th><th>{% trans "Stratification" %}</th><th>{% trans "Sowing depth" %}</th><th>{% trans "Details" %}</th><th>{% trans "Action" %}</th>
          </tr>
        </thead>
        {% for item in object_list  %}
          <tr class="{% cycle 'even-row' 'odd-row' as rowcolors %}">

            <td><a href="{% url 'plant-profile-page' item.plants.pk %}">{{item.plants.latin_name}}</a>
              <br>{{item.plants.english_name}}<br>{{item.plants.french_name}}</td>
            <td>{{item.plants.bloom_start|month_name}}
              {% if item.plants.bloom_end != 0 %}to<br> {{item.plants.bloom_end|month_name}} {% endif %}
            </td>
            <td>{{item.plants.harvesting_start|month_name}} </td>
            <td>{{item.plants.max_height}}</td>
            <td>{{item.plants.stratification_detail}}</td>
            <td>{{item.plants.sowing_depth}} {% if item.plants.sowing_detail %}<br>{{item.plants.sowing_detail}}{% endif %}</td>
            <td>{{item.details}}</td>
            <td>
              <a class='btn btn-delete' href="{% url 'user-plant-delete' pk=item.pk %}"></a>
              <a class='btn btn-edit' href="{% url 'user-plant-update' pk=item.pk %}"></a>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
  <script src="{% static 'js/collection-toggler.js' %}"></script>
{% endblock content %}
