{% extends "core/base.html" %}
{% load static %}
{% block content %}

  <div id="aside-toggler">
    <button onclick="toggleFilterWrapper()">Hide Filters</button>
  </div>
  <section class="main-content">
            <!-- filter-wrapper -->
    {% include "project/_filter.html" %}
    <main>
      <!--Link for plant catalogue intro-->
      <div>
        <a href="{% url 'plant-catalogue-intro' %}" class="btn btn-secondary"
        >Learn about the plant catalogue</a
          >
        </div>
<!--input text box for seraching plant name-->
        {% include "project/plant-search-name-form.html" %}

<!--Plant cards-->
        {% include "project/plant-search-results.html" %}

        <div class="plant-cards">

          <div class="plant-card">
            <img src="{% static 'images/donation-200x290.png' %}" alt="Make a donation" />
            <div class="plant-card-caption">
              <div class="plant-type-icon"></div>
              <div class="plant-names">
                <span>Donate 5$</span>
              </div>
            </div>
            <button>Add to cart</button>
          </div>
        </div>


      </main>
    </section>
    <script>
      function toggleFilterWrapper() {
        const filterWrapper = document.getElementById("filter-wrapper");
        const buttonText = document.querySelector("#aside-toggler button");
        if (filterWrapper.style.display === "none") {
          filterWrapper.style.display = "flex";
          buttonText.innerHTML = "Hide Filters";
        } else {
          filterWrapper.style.display = "none";
          buttonText.innerHTML = "Show Filters";
        }
      }
      function toggleFilter(toggleId) {
        const toggleMe = document.querySelector(toggleId);
        toggleMe.classList.toggle("collapsed");
      }

      function updateStratValue(value) {
        document.getElementById("strat-value").innerHTML = value;
      }
    </script>
    <script src="{% static 'js/dualslider2.js' %}"></script>

{% endblock content %}
