    <!--
    # Identification Information as it exists in the Plant profile model
        latin_name (CharField): Botanical name of the plant (required, unique)
        english_name (CharField): Common name in English (optional)
        french_name (CharField): Common name in French (optional)
        taxon (CharField): Taxonomic classification code
        inaturalist_taxon (CharField): iNaturalist taxonomic identifier
-->
{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ plant.english_name }} - Plant Profile{% endblock title %}
{{ title }}
{% block content %}
  <main class="main-content">
    {% include "project/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>Update Plant Identification Information</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form method="post" action="{% url 'plant-identification-information-update' plant.pk %}">
        {% csrf_token %}
        <div class="form inputs">
          <fieldset>
            <legend>Plant Status</legend>
                          <!--is active-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_is_active" name="is_active" {% if plant.is_active %}checked{% endif %}>
              <label class="tooltip" for="id_is_active">Is Active <span class="tooltiptext">When Active is selected, the plant is available for public viewing.</span></label>
            </div>
            <!-- input checkbox for show supported bees info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_bees_supported_info" name="show_bees_supported_info" {% if plant.show_bees_supported_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_bees_supported_info">Show Supported Bees Info <span class="tooltiptext">When selected, information about supported bee species will be displayed on the plant profile.</span></label>
            </div>
            <!-- input checkbox for show supported butterflies info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_butterflies_supported_info" name="show_butterflies_supported_info" {% if plant.show_butterflies_supported_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_butterflies_supported_info">Show Supported Butterflies Info <span class="tooltiptext">When selected, information about supported butterfly species will be displayed on the plant profile.</span></label>
            </div>
            <!-- input checkbox for show complementary plants info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_complementary_plants_info" name="show_complementary_plants_info" {% if plant.show_complementary_plants_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_complementary_plants_info">Show Complementary Plants Info <span class="tooltiptext">When selected, information about complementary plants will be displayed on the plant profile.</span></label>
            </div>
            <!-- input checkbox for show ecological benefits info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_ecological_benefits_info" name="show_ecological_benefits_info" {% if plant.show_ecological_benefits_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_ecological_benefits_info">Show Ecological Benefits Info <span class="tooltiptext">When selected, information about the ecological benefits of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!-- input checkbox for show ecozones info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_ecozones_info" name="show_ecozones_info" {% if plant.show_ecozones_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_ecozones_info">Show Ecozones Info <span class="tooltiptext">When selected, information about the ecozones this plant is found in will be displayed on the plant profile.</span></label>
            </div>
            <!-- input checkbox for show env requirements info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_env_requirements_info" name="show_env_requirements_info" {% if plant.show_env_requirements_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_env_requirements_info">Show Environmental Requirements Info <span class="tooltiptext">When selected, information about the environmental requirements of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show gardener friendly info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_gardener_friendly_info" name="show_gardener_friendly_info" {% if plant.show_gardener_friendly_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_gardener_friendly_info">Show Gardener Friendly Attributes Info <span class="tooltiptext">When selected, information about the gardener-friendly attributes of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show harvesting info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_harvesting_info" name="show_harvesting_info" {% if plant.show_harvesting_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_harvesting_info">Show Harvesting Info <span class="tooltiptext">When selected, information about the harvesting of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show inaturalist link info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_inaturalist_link_info" name="show_inaturalist_link_info" {% if plant.show_inaturalist_link_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_inaturalist_link_info">Show iNaturalist Link Info <span class="tooltiptext">When selected, a link to the iNaturalist page for this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show landscape uses info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_landscape_uses_info" name="show_landscape_uses_info" {% if plant.show_landscape_uses_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_landscape_uses_info">Show Landscape Uses Info <span class="tooltiptext">When selected, information about the landscape uses of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show obsolete names info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_obsolete_names_info" name="show_obsolete_names_info" {% if plant.show_obsolete_names_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_obsolete_names_info">Show Obsolete Names Info <span class="tooltiptext">When selected, information about the obsolete names of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show sowing info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_sowing_info" name="show_sowing_info" {% if plant.show_sowing_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_sowing_info">Show Sowing Info <span class="tooltiptext">When selected, information about the sowing of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show tolerates info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_tolerates_info" name="show_tolerates_info" {% if plant.show_tolerates_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_tolerates_info">Show Tolerates Info <span class="tooltiptext">When selected, information about the tolerances of this plant will be displayed on the plant profile.</span></label>
            </div>
            <!--input checkbox for show vascan map info-->
            <div class="input-checkbox">
              <input type="checkbox" id="id_show_vascan_map_info" name="show_vascan_map_info" {% if plant.show_vascan_map_info %}checked{% endif %}>
              <label class="tooltip" for="id_show_vascan_map_info">Show VASCAN Map Info <span class="tooltiptext">When selected, a VASCAN distribution map for this plant will be displayed on the plant profile.</span></label>
            </div>

          </fieldset>
          <fieldset>
            <legend>Plant Names</legend>

                <!--latin_name-->
            <div class="input-text">
              <label for="id_latin_name">Latin Name</label>
              <input type="text" id="id_latin_name" name="latin_name" value="{{ plant.latin_name }}" required>
            </div>
                <!--english_name-->
            <div class="input-text">
              <label for="id_english_name">English Name</label>
              <input type="text" id="id_english_name" name="english_name" value="{{ plant.english_name }}">
            </div>
                <!--french_name-->
            <div class="input-text">
              <label for="id_french_name">French Name</label>
              <input type="text" id="id_french_name" name="french_name" value="{{ plant.french_name }}">
            </div>
          </fieldset>
          <fieldset>
            <legend>Taxonomy</legend>
                <!--taxon-->
            <div class="input-text">
              <label for="id_taxon">VASCAN Taxon ID Number</label>
              <input type="text" id="id_taxon" name="taxon" value="{{ plant.taxon }}">
            </div>
                <!--inaturalist_taxon-->
            <div class="input-text">
              <label for="id_inaturalist_taxon">iNaturalist Taxon ID Number</label>
              <input type="text" id="id_inaturalist_taxon" name="inaturalist_taxon" value="{{ plant.inaturalist_taxon }}">
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <!--Button to cancel-->
        <a href="{% url 'plant-identification-information-update' plant.pk %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </main>
{% endblock content %}
