{% extends "core/base.html" %} {% load static %} {% block extracss%}
  <link rel="stylesheet" href="{% static 'css/plant-profile.css' %}" />
{% endblock extracss %} {% block title %} {{ plant.english_name }} - Plant
  Profile {% endblock title %}{{title}} {% block content %}

    <section class="main-content">
      <main>
        {% include "project/_profile_update_links.html" %}
        <!-- Plant Profile Header -->
        <div class="plant-profile-header">
          <div class="plant-profile-image">
            <img
              src="{% static 'images/plants/profile/'|add:plant.latin_name|add:'-profile.jpg' %}"
              alt="image for {{plant.latin_name}}"
              onerror="this.src='{% static 'images/plant-placeholder.png' %}'"
            />
          </div>
      <!-- End of Plant Profile Image -->

          <div class="plant-profile-characteristics">

            <div class='flex-row'>
              <div class="plant-profile-names">
                <div class="plant-profile-latin-name">{{plant.latin_name}}</div>
                <div class="plant-profile-english-name">{{plant.english_name}}</div>
                <div class="plant-profile-french-name">{{plant.french_name}}</div>
              </div>

              <div class="plant-giveaway">
                {% if plant.seed_availability %}
                  <div>Seeds available at table {{plant.seed_event_table}}</div>
                {% else %}
                  <div>No seeds available for this plant.</div>
                {% endif %}
                {% if plant.accepting_seed %}
                  <div>We currently accept seeds for this plant</div>
                  <div>{{plant.sharing_priority|default:"No priority assigned"}}</div>
                {% else %}
                  <p>We are not accepting seeds for this plant at the moment.</p>
                {% endif %}
              </div>

            </div>

            {% include "project/_profile_env_requirements_growth_characteristics.html" %}
            {% include "project/_profile_gardener_friendly_attributes.html" %}
            {% include "project/_profile_landscape_uses.html" %}
            {% include "project/_profile_ecological_benefits.html" %}
            {% include "project/_profile_tolerates.html" %}
          </div>
      <!-- End of Plant Profile Characteristics -->

        </div>
    <!-- End of Plant Profile Header -->

        <div class="flex-row">
          {% include "project/_profile_vascan_map.html" %}
          {% include "project/_profile_inaturalist_link.html" %}
      <!-- End of inaturalist distribution -->
          {% include "project/_profile_butterflies_supported.html" %}
        </div>


      </main>
    </section>
  {% endblock content %}
