{% extends "core/base.html" %}

{% load static %}
{% block extracss%}
  <link rel="stylesheet" href="{% static 'css/plant-profile.css' %}" />
{% endblock extracss %}

{% block title %}
  {{ plant.english_name }} - Plant Profile
{% endblock title %}
{% block content %}

  <section class="main-content">
    <main>

      '<!-- Plant Profile Header -->
      <div class="plant-profile-header">
        <div class="plant-profile-image">
          <img src="{% static 'images/plant-placeholder.png' %}" alt="Plant Image" />
        </div>
        <div class="plant-profile-characteristics">
          <div class="plant-profile-names">
            <div class="plant-profile-latin-name">{{plant.latin_name}}</div>
            <div class="plant-profile-english-name">{{plant.english_name}}</div>
            <div class="plant-profile-french-name">{{plant.french_name}}</div>
          </div>
          <div class="plant-profile-description">
            <div>Bloom color: {{plant.bloom_color}}</div>
            <div>Bloom period: {{plant.bloom_start}} - {{plant.bloom_end}}</div>
            <div>Light condition:
              {% if plant.full_sun %} <img alt="Full sun" class="icon" src="{% static 'images/full-sun.svg' %}"> {% endif %}
              {% if plant.partial_sun %} <img alt="Partial sun" class="icon" src="{% static 'images/partial-sun.svg' %}"> {% endif %}
              {% if plant.full_shade %} <img alt="Full shade" class="icon" src="{% static 'images/full-shade.svg' %}"> {% endif %}
            </div>
            <div>Soil conditions:
              {% if plant.moisture_dry %} <img alt="Moisture dry" class="icon" src="{% static 'images/moisture-dry.svg' %}"> {% endif %}
              {% if plant.moisture_medium %} <img alt="Moisture medium" class="icon" src="{% static 'images/moisture-medium.svg' %}"> {% endif %}
              {% if plant.moisture_wet %} <img alt="Moisture wet" class="icon" src="{% static 'images/moisture-wet.svg' %}"> {% endif %}
            </div>
            <div>Max Height: {{plant.max_height}} feet</div>
            <div>Max Width: {{plant.max_width}} feet</div>
            <div>Characteristics:
              {% if plant.beginner_friendly %} Beginner friendly | {% endif %}
              {% if plant.does_not_spread%} Does not spread | {% endif %}
              {% if plant.germinate_easy %} <img alt="Germinate easy" class="icon" src="{% static 'images/germinate-easy.svg' %}">{% endif %}
              {% if plant.juglone_tolerant %} Juglone tolerant | {% endif %}
              {% if plant.host_plant %} <img alt="Host plant" class="icon" src="{% static 'images/host-plant.svg' %}">{% endif %}
              {% if plant.endangered %} <img alt="Endangered" class="icon" src="{% static 'images/endangered.svg' %}"> {% endif %}
              {% if plant.keystone_species %} Keystone species | {% endif %}
              {% if plant.nitrogen_fixer %}<img alt="Nitrogen fixer" class="icon" src="{% static 'images/nitrogen-fixer.svg' %}"> {% endif %}
            </div>
            <div>Hosts: </div>
            <div>Supports:
              {% if plant.butterfly_friendly %}
                <img class='icon' src="{% static 'images/butterfly-friendly.svg'  %}">
              {% endif %}
            </div>
            <div>Tolerates:</div>
            <div>Toxicity:</div>
            <div>Recommended for:
              {% if plant.bird_friendly %}<img alt="Bird friendly" class='icon' src="{% static 'images/bird-friendly.svg'  %}">{% endif %}
              {% if plant.hummingbird_friendly %}<img alt="Hummingbird friendly" class='icon' src="{% static 'images/hummingbird-friendly.svg'  %}">{% endif %}
              {% if plant.butterfly_friendly %}<img alt="Butterfly friendly" class='icon' src="{% static 'images/butterfly-friendly.svg'  %}">{% endif %}
              {% if plant.boulevard_tolerant %}<img alt="Boulevard garden" class='icon' src="{% static 'images/boulevard-tolerant.svg'  %}">{% endif %}
              {% if plant.cedar_hedge_replacement %}<img alt="Cedar hedge replacement" class='icon' src="{% static 'images/cedar-hedge-replacement.svg'  %}">{% endif %}
              {% if plant.container_suitable %}<img class='icon' src="{% static 'images/container-suitable.svg'  %}">{% endif %}
              {% if plant.ground_cover %}<img class='icon' src="{% static 'images/ground-cover.svg'  %}">{% endif %}
            </div>
            <div>Suitable for:</div>

          </div>
        </div>
      </main>
    </section>
{% endblock content %}
