
<div class="form-container">
  <form class='form' method="GET">
    <header class="form__header">Input one or many search criterion</header>
    <div class="panel">
      <div class="flex-col">
        <div class="title">Plant Names</div>
        <div class="flex-row">
          <div class="form__field"><label class="form-label">Latin</label> {{filter.form.latin_name}}</div>
          <div class="form__field"><label class="form-label">English</label> {{filter.form.english_name}}</div>
          <div class="form__field"><label class="form-label">French</label> {{filter.form.french_name}}</div>
        </div>
      </div>

      <div class="flex-row">
        <div class="flex-col">
          <div class="title">Sun Requirement</div>
          <div class="light-range__inputs">
          </div>
        </div>
        <div class="flex-col">
          <div class="title">Humidity Range</div>
          <div class="humidity-range__inputs">
            <div class="form__field"><label class="form-label">Min</label>{{filter.form.soil_humidity_min}}</div>
            <div class="form__field"><label class="form-label">Max</label>{{filter.form.soil_humidity_max}}</div>
          </div>
        </div>
        <div class="flex-col">
          <div class="title">Bloom Period</div>
          <div class="humidity-range__inputs">
            <div class="form__field"><label class="form-label">Start</label>{{filter.form.bloom_start}}</div>
            <div class="form__field"><label class="form-label">End</label>{{filter.form.bloom_end}}</div>
          </div>
        </div>
        <div class="flex-col">
          <div class="title">Harvesting Start</div>
          <div class="humidity-range__inputs">
            <div class="form__field"><label class="form-label">Start</label>{{filter.form.harvesting_start}}</div>
          </div>
        </div>

      </div>

      <div class="flex-col">
        <div class="title">Growth</div>
        <div class="flex-row">
          <div class="form__field"><label class="form-label">Germinate Easily</label>{{filter.form.germinate_easy}}</div>
          <div class="form__field"><label class="form-label">Maximum height</label>{{filter.form.max_height}}</div>
          <div class="form__field"><label class="form-label">Stratification duration</label>{{filter.form.stratification_duration}}</div>
        </div>
      </div>

      <div class="flex-col">
        <div class="title">Seed Sharing</div>
        <div class="flex-row">
          <div class="form__field">{{filter.form.sharing_priority.label_tag}}{{filter.form.sharing_priority}}</div>
          <div class="form__field">{{filter.form.seed_availability.label_tag}}{{filter.form.seed_availability}}</div>
        </div>

      </div>
      <div class="btn-row">
        <input class="btn" type="submit" value="Search"></input>
        <a class="btn btn-back" href="{% url 'search-plant' %}">Reset</a>
      </div>
    </div>
  </form>
</div>
