    <!--
    # Identification Information as it exists in the Plant profile model
        latin_name (CharField): Botanical name of the plant (required, unique)
        english_name (CharField): Common name in English (optional)
        french_name (CharField): Common name in French (optional)
        taxon (CharField): Taxonomic classification code
        inaturalist_taxon (CharField): iNaturalist taxonomic identifier
-->
{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ plant.english_name }} - Plant Profile{% endblock title %}
{{ title }}
{% block content %}
  <main class="main-content">
    {% include "project/plant_profile/_profile_update_links.html" %}
    <div class="flex-col-center">
      <h1>Update Plant Identification Information</h1>
      <h2><a href="{% url 'plant-profile-page' plant.pk %}">{{ plant.latin_name }}</a></h2>
      <form method="post" action="{% url 'plant-identification-information-update' plant.pk %}">
        {% csrf_token %}
        <div class="form inputs">
          {% include "project/_profile-identification-status.html" %}
          <fieldset>
            <legend>Plant Names</legend>

                <!--latin_name-->
            <div class="input-text">
              <label for="id_latin_name">Latin Name</label>
              <input type="text" id="id_latin_name" name="latin_name" value="{{ plant.latin_name }}" required>
            </div>
                <!--english_name-->
            <div class="input-text">
              <label for="id_english_name">English Name</label>
              <input type="text" id="id_english_name" name="english_name" value="{{ plant.english_name }}">
            </div>
                <!--french_name-->
            <div class="input-text">
              <label for="id_french_name">French Name</label>
              <input type="text" id="id_french_name" name="french_name" value="{{ plant.french_name }}">
            </div>
          </fieldset>
          <fieldset>
            <legend>Taxonomy</legend>
                <!--taxon-->
            <div class="input-text">
              <label for="id_taxon">VASCAN Taxon ID Number</label>
              <input type="text" id="id_taxon" name="taxon" value="{{ plant.taxon }}">
            </div>
                <!--inaturalist_taxon-->
            <div class="input-text">
              <label for="id_inaturalist_taxon">iNaturalist Taxon ID Number</label>
              <input type="text" id="id_inaturalist_taxon" name="inaturalist_taxon" value="{{ plant.inaturalist_taxon }}">
            </div>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <!--Button to cancel-->
        <a href="{% url 'plant-identification-information-update' plant.pk %}" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </main>
{% endblock content %}
