{% extends "core/base.html" %}
{% load static %}
{% block content %}
  {% if object_list %}
    <section class='wrapper'>
      <p class='container'>Use this table to prepare a list of available plants for the next give away event.  Click on the plant to toggle its availailability.  Plants highlighted in green are marked available. View <a target='blank' href="/search-plant/?seed_availability=true#search-results">available plants</a> in a new tab. From there, you can drill down further to refine the research.</p>
      <table>
        <thead>
          <tr>
            <th colspan='4'>Names</th>
            <th>Active</th>
            <th>Accepted</th>
          </tr>
        </thead>
        {% for item in object_list  %}

          <tr data-availability={{item.seed_availability}} data-pk={{item.pk}}
              class="toggler {% if item.seed_availability %}ok {% endif %}">
            <td>{{item.seed_event_table}}</td>
            <td>{{item.latin_name}}</td>
            <td> {{item.english_name}}</td>
            <td>{{item.french_name}}</td>
            <td>{{item.is_active}}</td>
            <td>{{item.is_accepted}}</td>
            <td>{{item.seed_event_table}}</td>
            <td><a href="{% url 'plant-profile-page' item.pk%}">View</a></td>
        {% endfor %}
      </table>
    </section>
  {% endif %}
  <script src="{% static 'js/availability-toggler.js' %}"></script>
{% endblock content %}
