{% load i18n %}
<div class='filter__sub-header'>{% trans "Profile Status" %}</div>
  <!--Input box for draft status-->
<input
  type="checkbox"
  id="is_draft"
  name="is_draft"
  value="Is Draft"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if is_draft %} checked {% endif %}
/>
<label for="is_draft">{% trans "Is Draft" %}</label><br />

<!--Input box for inactive status-->
<input
  type="checkbox"
  id="is_not_active"
  name="is_not_active"
  value="True"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if is_not_active %} checked {% endif %}
/>
<label for="is_not_active">{% trans "Is Not Active" %}</label><br />

<!--Input box for accepted status-->
<input
  type="checkbox"
  id="is_not_accepted"
  name="is_not_accepted"
  value="True"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if is_not_accepted %} checked {% endif %}
/>
<label for="is_not_accepted">{% trans "Is Not Accepted" %}</label><br />

<!--Input box for has_notice status-->
<input
  type="checkbox"
  id="has_notice"
  name="has_notice"
  value="Has Notice"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if has_notice %} checked {% endif %}
/>
<label for="has_notice">{% trans "Has Notice" %}</label><br />
