{% load i18n %}
<div class='filter__sub-header'>{% trans "Wildlife Interactions" %}</div>
<!--Input checkbox for bird friendly-->
<input
  type="checkbox"
  id="bird_friendly"
  name="bird_friendly"
  value="Bird Friendly"
  hx-get="{% url 'search-plant-name' %}"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if bird_friendly %} checked {% endif %}
/>
<label for="bird_friendly">{% trans "Bird friendly" %}</label><br />

<!--Input checkbox for deer tolerant-->
<input
  type="checkbox"
  id="deer_tolerant"
  name="deer_tolerant"
  value="Deer Tolerant"
  hx-get="{% url 'search-plant-name' %}"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if deer_tolerant %} checked {% endif %}
/>
<label for="deer_tolerant">{% trans "Deer tolerant" %}</label><br />

<!--Input checkbox for hummingbird friendly-->
<input
  type="checkbox"
  id="hummingbird_friendly"
  name="hummingbird_friendly"
  value="Hummingbird Friendly"
  hx-get="{% url 'search-plant-name' %}"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if hummingbird_friendly %} checked {% endif %}
/>
<label for="hummingbird_friendly">{% trans "Hummingbird friendly" %}</label><br />

<!--Input checkbox for pollinator friendly-->
<input
  type="checkbox"
  id="pollinator_garden"
  name="pollinator_garden"
  value="Pollinator Garden"
  hx-get="{% url 'search-plant-name' %}"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if pollinator_garden %} checked {% endif %}
/>
<label for="pollinator_garden">{% trans "Pollinator garden" %}</label
  ><br />

<!--Input for rabbit tolerant-->
  <input
    type="checkbox"
    id="rabbit_tolerant"
    name="rabbit_tolerant"
    value="Rabbit Tolerant"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if rabbit_tolerant %} checked {% endif %}
  />
  <label for="rabbit_tolerant">{% trans "Rabbit tolerant" %}</label><br />

  <div class='filter__sub-header'>{% trans "Environmental Stress Tolerance" %}</div>

<!--Input checkbox for drought tolerant-->
  <input
    type="checkbox"
    id="drought_tolerant"
    name="drought_tolerant"
    value="Drought Tolerant"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if drought_tolerant %} checked {% endif %}
  />
  <label for="drought_tolerant">{% trans "Drought tolerant" %}</label><br />

<!--Input checkbox for foot traffic tolerant-->
  <input
    type="checkbox"
    id="foot_traffic_tolerant"
    name="foot_traffic_tolerant"
    value="Foot Traffic Tolerant"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if foot_traffic_tolerant %} checked {% endif %}
  />
  <label for="foot_traffic_tolerant">{% trans "Foot traffic tolerant" %}</label><br />
<!--Input checkbox for juglone tolerant-->
  <input
    type="checkbox"
    id="juglone_tolerant"
    name="juglone_tolerant"
    value="Juglone Tolerant"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if juglone_tolerant %} checked {% endif %}
  />
  <label for="juglone_tolerant">{% trans "Juglone tolerant" %}</label><br />

<!--Input checkbox for salt toretant-->
  <input
    type="checkbox"
    id="salt_tolerant"
    name="salt_tolerant"
    value="Salt Tolerant"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if salt_tolerant %} checked {% endif %}
  />
  <label for="salt_tolerant">{% trans "Road salt tolerant" %}</label><br />


  <div class='filter__sub-header'>{% trans "Ecosystem Services" %}</div>

<!--Input checkbox for Bee host-->
  <input
    type="checkbox"
    id="bee_host"
    name="bee_host"
    value="Bee Host"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if bee_host %} checked {% endif %}
  />
  <label for="bee_host">{% trans "Bee host" %}</label><br />

<!--Input checkbox for butterfly host-->
  <input
    type="checkbox"
    id="butterfly_host"
    name="butterfly_host"
    value="Butterfly Host"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if butterfly_host %} checked {% endif %}
  />
  <label for="butterfly_host">{% trans "Butterfly host" %}</label><br />

<!--Input checkbox for keystones species-->
  <input
    type="checkbox"
    id="keystones_species"
    name="keystones_species"
    value="Keystones Species"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if keystones_species %} checked {% endif %}
  />
  <label for="keystones_species">{% trans "Keystone species" %}</label><br />

<!--Input checkbox for nitrogen_fixer-->
  <input
    type="checkbox"
    id="nitrogen_fixer"
    name="nitrogen_fixer"
    value="Nitrogen Fixer"
    hx-get="{% url 'search-plant-name' %}"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if nitrogen_fixer %} checked {% endif %}
  />
  <label for="nitrogen_fixer">{% trans "Nitrogen fixer" %}</label><br />
