{% load i18n %}
<!--Input checkbox for full sun-->
<div class='filter__sub-header'>{% trans "Light preferences" %}</div>
<input
  type="checkbox"
  id="full_sun"
  name="full_sun"
  value="Full Sun"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if full_sun %} checked {% endif %}
/>
<label for="full_sun" class="tooltip info">{% trans "Full Sun" %} <span class="tooltiptext"
  >{% trans "More than 6 hours of direct sun a day" %}
  </span></label><br />

      <!--Input checkbox for part shade-->
<input
  type="checkbox"
  id="part_shade"
  name="part_shade"
  value="Part Shade"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if part_shade %} checked {% endif %}
/>
<label for="part_shade" class="tooltip info"
>{% trans "Part Shade" %}
  <span class="tooltiptext"
  >{% trans "More than 2 or 3 hours but less than 6 hours of direct sun a day" %}
  </span></label
  ><br />

      <!--Input checkbox for full shade-->
  <input
    type="checkbox"
    id="full_shade"
    name="full_shade"
    value="Full Shade"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if full_shade %} checked {% endif %}
  />
  <label for="full_shade" class="tooltip info">{% trans "Full Shade" %} <span class="tooltiptext"
    >{% trans "Less than 2 or 3 hours of direct sun a day" %}</span></label><br />

  <div class='filter__sub-header'>{% trans "Moisture preferences" %}</div>
<!--Input checkbox for moisture dry-->
  <input
    type="checkbox"
    id="moisture_dry"
    name="moisture_dry"
    value="Moisture Dry"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if moisture_dry %} checked {% endif %}
  />
  <label for="moisture_dry" class="tooltip info">{% trans "Dry" %} <span class="tooltiptext"
    >{% trans "Water runs through after rainfall" %}
    </span></label><br />

      <!--Input checkbox for moisture medium-->
  <input
    type="checkbox"
    id="moisture_medium"
    name="moisture_medium"
    value="Moisture Medium"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if moisture_medium %} checked {% endif %}
  />
  <label for="moisture_medium" class="tooltip info">{% trans "Medium" %} <span class="tooltiptext"
    >{% trans "Sometimes holds water but for short periods of time" %}</span></label><br />

      <!--Input checkbox for moisture wet-->
  <input
    type="checkbox"
    id="moisture_wet"
    name="moisture_wet"
    value="Moisture Wet"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if moisture_wet %} checked {% endif %}
  />
  <label for="moisture_wet" class="tooltip info">{% trans "Wet" %} <span class="tooltiptext"
    >{% trans "Stays damp all year" %}</span></label><br />
