{% load i18n %}
<div class='filter__sub-header'>{% trans "Physical Attributes" %}</div>
<div class="filter">
  <input
    type="number"
    id="max_height"
    name="max_height"
    value=""
    hx-get="/search-plant-name"
    hx-trigger="change delay:500ms, keyup"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  />
  <label for="height">{% trans "Max. Height (Feet)" %}</label><br />
</div>
<div class="filter">
  <input
    type="number"
    id="max_width"
    name="max_width"
    value="Width"
    hx-get="/search-plant-name"
    hx-trigger="change delay:500ms, keyup"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  />
  <label for="width">{% trans "Max. Width (Feet)" %}</label><br />
</div>

<div class='filter__sub-header'>{% trans "Lifespan" %}</div>
<div class="filter">
  <input
    type="checkbox"
    id="annual"
    name="annual"
    value="Annual"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if annual %} checked {% endif %}
  />
  <label for="annual" class="tooltip info">{% trans "Annual" %}<span class="tooltiptext">{% trans "Plants that have a lifespan of one year" %}</span></label><br />
  <input
    type="checkbox"
    id="biennial"
    name="biennial"
    value="Biennial"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if biennial %} checked {% endif %}
  />
  <label for="biennial" class="tooltip info">{% trans "Biennial" %}<span class="tooltiptext">{% trans "Plants that will take two years to bloom, and then will die" %}</span></label><br />
  <input
    type="checkbox"
    id="perennial"
    name="perennial"
    value="Perennial"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if perennial %} checked {% endif %}
  />
  <label for="perennial" class="tooltip info">{% trans "Perennial" %}<span class="tooltiptext">{% trans "Plants that will come back year after year" %}</span></label><br />
  <input
    type="checkbox"
    id="spring_ephemeral"
    name="spring_ephemeral"
    value="Spring Ephemeral"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if spring_ephemeral %} checked {% endif %}
  />
  <label for="spring_ephemeral" class="tooltip info">{% trans "Spring Ephemeral" %}<span class="tooltiptext">{% trans "Plants that bloom in the spring then lose their leaves later in the season" %}</span></label><br />

</div>

<div class='filter__sub-header'>{% trans "Bloom period" %}</div>
<div id="bloom_period">
  <!--2 input select options that define a period between which a plant blooms-->
  <select
    id="bloom_start"
    name="bloom_start"
    hx-get="/search-plant-name"
    hx-trigger="change"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  >
    <option value="">{% trans "Start Month" %}</option>
    {% for month in months_numbered %}
      <option value="{{ month.0 }}" {% if bloom_start == month.0 %} selected {% endif %}>{{ month.1 }}</option>
    {% endfor %}
  </select>
  <select
    id="bloom_end"
    name="bloom_end"
    hx-get="/search-plant-name"
    hx-trigger="change"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  >
    <option value="">{% trans "End Month" %}</option>
    {% for month in months_numbered %}
      <option value="{{ month.0 }}" {% if bloom_end == month.0 %} selected {% endif %}>{{ month.1 }}</option>
    {% endfor %}
  </select>
</div>

<div class='filter__sub-header'>{% trans "Bloom Colours" %}</div>
<div id="bloom-colours">
  <!--radio options for bloom colours-->
  <!-- radio input to reset options-->
  <input
    type="radio"
    id="bloom_colour_reset"
    name="bloom_colour"
    value=""
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if bloom_colour == "" %} checked {% endif %}
  />
  <label for="bloom_colour_reset">{% trans "Any" %}</label><br />

  {% for colour in bloom_colours %}
    <input
      type="radio"
      id="bloom_colour_{{ colour.id }}"
      name="bloom_colour"
      value="{{ colour.id }}"
      hx-get="/search-plant-name"
      hx-trigger="click"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="{{hx_include}}"
      {% if colour.id == bloom_colour %} checked {% endif %}
    />
    <label for="bloom_colour_{{ colour.id }}">{{ colour.bloom_colour }}</label><br />
  {% endfor %}
</div>

<div class="filter__sub-header">{% trans "Plant Type" %}</div>

<div id="growth-habits-options">
  <!--Radio options button group for growth habits-->
  <!--a radio input to reset options-->
  <input
    type="radio"
    id="growth_habit_reset"
    name="growth_habit"
    value=""
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if growth_habit == "" %} checked {% endif %}
  />
  <label for="growth_habit_reset">{% trans "Any" %}</label><br />
  {% for habit in growth_habits %}
    <input
      type="radio"
      id="growth_habit_{{ habit.id }}"
      name="growth_habit"
      value="{{ habit.id }}"
      hx-get="/search-plant-name"
      hx-trigger="click"
      hx-target="#search-results"
      hx-push-url="true"
      hx-include="{{hx_include}}"
      {% if habit.id == growth_habit %} checked {% endif %}
    />
    <label for="growth_habit_{{ habit.id }}">{{ habit.growth_habit }}</label><br />
  {% endfor %}
</div>

<div class='filter__sub-header'>{% trans "Soil Tolerances" %}</div>
      <!--Input checkbox for acidic soil tolerant-->
<input
  type="checkbox"
  id="acidic_soil_tolerant"
  name="acidic_soil_tolerant"
  value="Acidic Soil Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if acidic_soil_tolerant %} checked {% endif %}
/>
<label for="acidic_soil_tolerant">{% trans "Acidic soil" %}</label><br />

      <!--Input checkbox for limestone tolerant-->
<input
  type="checkbox"
  id="limestone_tolerant"
  name="limestone_tolerant"
  value="Limestone Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if limestone_tolerant %} checked {% endif %}
/>
<label for="limestone_tolerant">{% trans "Limestone" %}</label><br />
      <!--Input checkbox for sand tolerant-->
<input
  type="checkbox"
  id="sand_tolerant"
  name="sand_tolerant"
  value="Sand Tolerant"
  hx-get="/search-plant-name"
  hx-trigger="click"
  hx-target="#search-results"
  hx-push-url="true"
  hx-include="{{hx_include}}"
  {% if sand_tolerant %} checked {% endif %}
/>
<label for="sand_tolerant">{% trans "Sand" %}</label><br />
