{% load i18n %}
<div class='filter__sub-header'>{% trans "Harvesting and Seed Sharing" %}</div>

<!-- Harvesting start-->
<div>{% trans "Harvesting Period Month Start" %}</div>
<div id="harvesting-start">
  <!--Option group ratio buttons for harvesting period start for months from April to December-->
  <div class="radio-group">
    <div class="flex-row">
      {% for month, month_name in harvesting_period.items %}
        <div class="input">
          <input
            type="radio"
            id="harvesting_start_{{ month }}"
            name="harvesting_start"
            value="{{ month }}"
            hx-get="/search-plant-name"
            hx-trigger="click"
            hx-target="#search-results"
            hx-push-url="true"
            hx-include="{{hx_include}}"
            {% if harvesting_start == month %} checked {% endif %}
          />
          <label for="harvesting_start_{{ month }}">{{ month_name }}</label>
        </div>
        {% if month == 8%}</div><div class="flex-row">{% endif %}
        {% if forloop.last %}
          <div class="input">
            <input
              type="radio"
              id="harvesting_start_none"
              name="harvesting_start"
              value=""
              hx-get="/search-plant-name"
              hx-trigger="click"
              hx-target="#search-results"
              hx-push-url="true"
              hx-include="{{hx_include}}"
              {% if not harvesting_start %} checked {% endif %}
            />
            <label for="harvesting_start_none">Any</label>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--Winter Sowing Requirements-->
<div>{% trans "Cold Moist Stratification Requirements" %}</div>
<div><a class="tooltip info" target="_blank" href="https://wildflowerseedlibrary.ca/instructions/how-to-winter-sow-2/">{% trans "Winter Sowing Requirements" %} <span class="tooltiptext">{% trans "Click to learn how to Winter sow" %}</span></a></div>
<!--Input select for stratification duration-->
<div class="form__field">
  <select
    id="stratification_duration"
    name="stratification_duration"
    hx-get="/search-plant-name"
    hx-trigger="change"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
  >
    <option value="" {% if not stratification_duration %} selected {% endif %}>
      Any
    </option>
    {% for duration in stratification_durations %}
      <option
        value="{{ duration.stratification_duration}}"
        {% if stratification_duration == duration %} selected {% endif %}
      >
        {{ duration.stratification_duration }} {% trans "days" %}
      </option>
    {% endfor %}
  </select>
</div>

<div class='filter__sub-header'>{% trans "Seed Sharing" %}</div>

        <!--Input checkbox for accepting seeds-->
<div class="form__field">
  <input type="checkbox"
         id="accepting_seed"
         name="accepting_seed"
         value="accepting_seed"
         hx-get="/search-plant-name"
         hx-trigger="click"
         hx-target="#search-results"
         hx-push-url="true"
         hx-include="{{hx_include}}"
         {% if accepting_seed %} checked {% endif %}
  >
  <label for="accepting_seed">{% trans "Show seeds accepted for donations" %}</label>
</div>

    <!--Input checkbox for seeds available-->
<div class="form__field">
  <input
    type="checkbox"
    id="seed_availability"
    name="seed_availability"
    value="available-seed"
    hx-get="/search-plant-name"
    hx-trigger="click"
    hx-target="#search-results"
    hx-push-url="true"
    hx-include="{{hx_include}}"
    {% if seed_availability %} checked {% endif %}
  />
  <label for="seed_availability">{% trans "Show available seeds only" %}</label>
</div>
