
{% load i18n static %}
<div class="plant-profile-characteristics-item">
  <span>{% trans "Ecological Benefits:" %}</span>

  {% if not ecological_benefits %}
    <span>{% trans "No ecological benefits information available." %}</span>
  {% else %}

    {% if plant.hummingbird_friendly %}
      <div class="tooltip">
        <img
          alt="Hummingbird friendly"
          class="icon"
          src="{% static 'images/plant-hummingbird-friendly.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Supports hummingbirds" %}</span>
      </div>
    {% endif %}
    {% if plant.bird_friendly%}
      <div class="tooltip">
        <img
          alt="Bird friendly"
          class="icon"
          src="{% static 'images/plant-bird-friendly.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Supports birds" %}</span>
      </div>
    {% endif %}
    {% if plant.pollinator_garden %}
      <div class="tooltip">
        <img
          alt="Pollinator garden"
          class="icon"
          src="{% static 'images/plant-pollinator-garden.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Supports pollinators" %}</span>
      </div>
    {% endif %} {% if plant.butterfly_host %}
      <div class="tooltip">
        <img
          alt="butterfly host"
          class="icon"
          src="{% static 'images/plant-butterfly-host.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Butterfly host" %}</span>
      </div>
    {% endif %}{% if plant.bee_host %}
      <div class="tooltip">
        <img
          alt="bee host"
          class="icon"
          src="{% static 'images/plant-bee-host.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Bee host" %}</span>
      </div>
    {% endif %}  {% if plant.nitrogen_fixer %}
      <div class="tooltip">
        <img
          alt="nitrogen fixer"
          class="icon"
          src="{% static 'images/plant-nitrogen-fixer.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Fixes nitrogen in the soil" %}</span>
      </div>
    {% endif %}{% if plant.keystones_species %}
      <div class="tooltip">
        <img
          alt="keystones species"
          class="icon"
          src="{% static 'images/plant-keystones-species.svg'  %}"
        />
        <span class="tooltiptext">{% trans "Keystone species" %}</span>
      </div>
    {% endif %}
  {% endif %}
</div>
