<!--This template displays the sowing information for the plant-->
{% load static %}
<div>
  <!--link to pdf sowing label-->
  <a href="{% url 'plant-label-pdf' plant.pk %}" target="_blank">Download Seed Envelope Labels (PDF)</a>
  <ul>
    <li>Sowing depth: {{ plant.sowing_depth }}</li>
    <li>{{ sow_before|default:"Sow anytime" }}</li>
    {% if plant.stratification_detail %}
      <li>Stratification conditions: {{ plant.stratification_detail }}</li>
    {% endif %}
    <li>Stratification duration:
      {% if plant.double_dormancy %}
        2 years
      {% else %}
        {{ plant.stratification_duration }}</li>
      {% endif %}
      {% if plant.self_seeding %}
        <li>Self-seeding</li>
      {% endif %}
      {% if plant.double_dormancy %}
        <li>Double dormancy required</li>
      {% endif %}
      {% if plant.sowing_notes %}
        <li>Notes: {{ plant.sowing_notes }}</li>
      {% endif %}
    </ul>
  </div>
