<fieldset>
  <legend>Plant Status</legend>
  <!--is draft-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_is_draft" name="is_draft" {% if plant.is_draft %}checked{% endif %}>
    <label class="tooltip" for="id_is_draft">Is Draft <span class="tooltiptext">When Draft is selected, the plant profile is not yet complete.</span></label>
  </div>
  <!--is active-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_is_active" name="is_active" {% if plant.is_active %}checked{% endif %}>
    <label class="tooltip" for="id_is_active">Is Active <span class="tooltiptext">When Active is selected, the plant is available for public viewing.</span></label>
  </div>
  <!-- is accepted -->
  <div class="input-checkbox">
    <input type="checkbox" id="id_is_accepted" name="is_accepted" {% if plant.is_accepted %}checked{% endif %}>
    <label class="tooltip" for="id_is_accepted">Is Accepted <span class="tooltiptext">When Accepted is selected, the plant profile is approved by OWSL for public viewing. If not accepted, please provide a reason in the field below.</span></label>
  </div>
  <div class="input-text">
    <label for="id_not_accepted_reason">Reason for Not Accepting (if applicable)</label>
    <input type="text" id="id_not_accepted_reason" name="not_accepted_reason" value="{{ plant.not_accepted_reason }}">
  </div>
  <!-- has notice -->
  <div class="input-checkbox">
    <input type="checkbox" id="id_has_notice" name="has_notice" {% if plant.has_notice %}checked{% endif %}>
    <label class="tooltip" for="id_has_notice">Has Notice <span class="tooltiptext">When Has Notice is selected, please provide a description of the notice.</span></label>
  </div>
  <div class="input-text">
    <label for="id_notice_detail">Notice Details (if applicable)</label>
    <input type="text" id="id_notice_detail" name="notice_detail" value="{{ plant.notice_detail }}">
  </div>
            <!-- input checkbox for show supported bees info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_bees_supported_info" name="show_bees_supported_info" {% if plant.show_bees_supported_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_bees_supported_info">Show Supported Bees Info <span class="tooltiptext">When selected, information about supported bee species will be displayed on the plant profile.</span></label>
  </div>
            <!-- input checkbox for show supported butterflies info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_butterflies_supported_info" name="show_butterflies_supported_info" {% if plant.show_butterflies_supported_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_butterflies_supported_info">Show Supported Butterflies Info <span class="tooltiptext">When selected, information about supported butterfly species will be displayed on the plant profile.</span></label>
  </div>
            <!-- input checkbox for show complementary plants info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_complementary_plants_info" name="show_complementary_plants_info" {% if plant.show_complementary_plants_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_complementary_plants_info">Show Complementary Plants Info <span class="tooltiptext">When selected, information about complementary plants will be displayed on the plant profile.</span></label>
  </div>
            <!-- input checkbox for show ecological benefits info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_ecological_benefits_info" name="show_ecological_benefits_info" {% if plant.show_ecological_benefits_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_ecological_benefits_info">Show Ecological Benefits Info <span class="tooltiptext">When selected, information about the ecological benefits of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!-- input checkbox for show ecozones info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_ecozones_info" name="show_ecozones_info" {% if plant.show_ecozones_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_ecozones_info">Show Ecozones Info <span class="tooltiptext">When selected, information about the ecozones this plant is found in will be displayed on the plant profile.</span></label>
  </div>
            <!-- input checkbox for show env requirements info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_env_requirements_info" name="show_env_requirements_info" {% if plant.show_env_requirements_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_env_requirements_info">Show Environmental Requirements Info <span class="tooltiptext">When selected, information about the environmental requirements of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show gardener friendly info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_gardener_friendly_info" name="show_gardener_friendly_info" {% if plant.show_gardener_friendly_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_gardener_friendly_info">Show Gardener Friendly Attributes Info <span class="tooltiptext">When selected, information about the gardener-friendly attributes of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show harvesting info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_harvesting_info" name="show_harvesting_info" {% if plant.show_harvesting_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_harvesting_info">Show Harvesting Info <span class="tooltiptext">When selected, information about the harvesting of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show inaturalist link info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_inaturalist_link_info" name="show_inaturalist_link_info" {% if plant.show_inaturalist_link_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_inaturalist_link_info">Show iNaturalist Link Info <span class="tooltiptext">When selected, a link to the iNaturalist page for this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show landscape uses info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_landscape_uses_info" name="show_landscape_uses_info" {% if plant.show_landscape_uses_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_landscape_uses_info">Show Landscape Uses Info <span class="tooltiptext">When selected, information about the landscape uses of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show obsolete names info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_obsolete_names_info" name="show_obsolete_names_info" {% if plant.show_obsolete_names_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_obsolete_names_info">Show Obsolete Names Info <span class="tooltiptext">When selected, information about the obsolete names of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show sowing info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_sowing_info" name="show_sowing_info" {% if plant.show_sowing_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_sowing_info">Show Sowing Info <span class="tooltiptext">When selected, information about the sowing of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show tolerates info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_tolerates_info" name="show_tolerates_info" {% if plant.show_tolerates_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_tolerates_info">Show Tolerates Info <span class="tooltiptext">When selected, information about the tolerances of this plant will be displayed on the plant profile.</span></label>
  </div>
            <!--input checkbox for show vascan map info-->
  <div class="input-checkbox">
    <input type="checkbox" id="id_show_vascan_map_info" name="show_vascan_map_info" {% if plant.show_vascan_map_info %}checked{% endif %}>
    <label class="tooltip" for="id_show_vascan_map_info">Show VASCAN Map Info <span class="tooltiptext">When selected, a VASCAN distribution map for this plant will be displayed on the plant profile.</span></label>
  </div>

</fieldset>
