
{% load i18n %}
{% load static %}
<div class="plant-profile-characteristics-item">
  <span>{% trans "Tolerates:" %}</span> {% if plant.drought_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "drought Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-drought-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates drought conditions" %}</span>
    </div>
  {% endif %} {% if plant.salt_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Salt Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-salt-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates salt conditions" %}</span>
    </div>
  {% endif %} {% if plant.deer_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Deer Resistant" %}"
        class="icon"
        src="{% static 'images/plant-deer-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Deer resistant" %}</span>
    </div>
  {% endif %} {% if plant.rabbit_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Rabbit Resistant" %}"
        class="icon"
        src="{% static 'images/plant-rabbit-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Rabbit resistant" %}</span>
    </div>
  {% endif %} {% if plant.foot_traffic_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Foot Traffic Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-foot-traffic-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates foot traffic around the plant" %}</span>
    </div>
  {% endif %} {% if plant.limestone_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Limestone Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-limestone-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates limestone conditions" %}</span>
    </div>
  {% endif %} {% if plant.sand_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Sand Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-sand-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates sandy conditions" %}</span>
    </div>
  {% endif %} {% if plant.acidic_soil_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Acidic Soil Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-acidic-soil-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates acidic soil conditions" %}</span>
    </div>
  {% endif %} {% if plant.juglone_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Juglone Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-juglone-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates juglone conditions" %}</span>
    </div>
  {% endif %} {% if plant.transplantation_tolerant %}
    <div class="tooltip">
      <img
        alt="{% trans "Transplantation Tolerant" %}"
        class="icon"
        src="{% static 'images/plant-transplantation-tolerant.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Tolerates transplantation" %}</span>
    </div>
  {% endif %}
</div>
