
{% load i18n static %}
{% load months %}
<div id="harvesting-and-seed-sharing" class="plant-profile-section">

  <ul>
    {% if plant.harvesting_start %}
      <li>{% trans "Harvest start month" %}: {{ plant.harvesting_start|month_name }}</li>
    {% endif %}

    <li>{% trans "Harvesting indicator" %}:
      {% if harvesting_indicator_list %}
        <ul>
          {% for item in harvesting_indicator_list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ plant.harvesting_indicator }}
      {% endif %}
    </li>

    <li>{% trans "Harvesting" %}:
      {% if harvesting_mean_list %}
        <ul>
          {% for item in harvesting_mean_list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ plant.harvesting_mean }}
      {% endif %}
    </li>

    <li>{% trans "Seed viability test" %}:
      {% if seed_viability_test_list %}
        <ul>
          {% for item in seed_viability_test_list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ plant.seed_viability_test }}
      {% endif %}
    </li>
    <li>{% trans "Packaging measure" %}: {{ plant.packaging_measure }}</li>
    <li>{% trans "Seed storage" %}:
      {% if seed_storage_list %}
        <ul>
          {% for item in seed_storage_list %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ plant.seed_storage }}
      {% endif %}
    </li>
    <li>{% trans "Cultivar" %}: {{ plant.one_cultivar }}</li>
    {% if plant.remove_non_seed_material %}
      <li>{% trans "Remove non-seed material" %}</li>
    {% endif %}
    {% if plant.harvesting_notes %}
      <li>{% trans "Harvesting notes" %}: {{ plant.harvesting_notes }}</li>
    {% endif %}
    {% if plant.harvesting_video_link %}
      <li>{% trans "Harvesting video" %}: <a target="_blank" href="{{ plant.harvesting_video_link }}">{% trans "Watch here" %}</a></li>
    {% else %}
      <li>{% trans "No harvesting video available at this time." %}</li>
    {% endif %}
  </ul>
</div>
