<div class="bee-list">
  <h3>Specialized Bees Supported by {{ plant.latin_name }}</h3>
  {% if plant.bees.all %}
    <ul>
      {% for bee in plant.bees.all %}
        <li>
          <i class="fas fa-bug text-primary me-2"></i>
          {% if bee.inaturalist_taxon_id %}
            <a href="https://www.inaturalist.org/taxa/{{ bee.inaturalist_taxon_id }}" target="_blank">{{ bee.latin_name }}</a>
          {% else %}
            {{ bee.latin_name }}
          {% endif %}
          {% if bee.english_name %}
            <br><span class="text-muted fst-italic">{{ bee.english_name }}</span>
          {% endif %}
          {% if bee.french_name %}
            <span class="text-muted fst-italic"> - {{ bee.french_name }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-muted">No bee data available for this plant.</p>
  {% endif %}
</div>
