{% load i18n static %}
<section class="">
  <div class="flex-col">
    <!-- Environmental Requirements -->
    <section class="profile-reference mb-1">
      <h3>{% trans "Environmental Requirements" %}</h3>

      <!-- Light Requirements -->
      <article>
        <h4>{% trans "Light Preferences" %}</h4>
        <article class="mb-1">
          <span>{% trans "Indicates how much sunlight the plant needs to thrive." %}</span>
          <!-- Full Sun -->
          <div class="card-box">
            <div class="card">
              <img
                src="{% static 'images/plant-full-sun.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>{% trans "Full Sun" %}:</span>
              <span>{% trans "More than 6 hours of direct sunlight daily" %}</span>
            </div>
            <!-- Part Shade -->
            <div class="card">
              <img
                src="{% static 'images/plant-part-shade.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>{% trans "Part Shade" %}:</span>
              <span>{% trans "Between 3 to 6 hours of direct sunlight daily" %}</span>
            </div>
            <!-- Full Shade -->
            <div class="card">
              <img
                src="{% static 'images/plant-full-shade.svg' %}"
                alt="Light Icon"
                class="icon"
              />
              <span>{% trans "Full Shade" %}:</span>
              <span>{% trans "Less than 3 hours of direct sunlight daily" %}</span>
            </div>
          </div>
        </article>
      </article>

      <!-- Moisture Preferences -->
      <article class="profile-reference">
        <h4>{% trans "Moisture Preferences" %}</h4>
        <article class="mb-1">
          <span class="">{% trans "Indicates the moisture level the plant prefers." %}</span>
          <div class="card-box">
            <!--Dry-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-dry.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>{% trans "Dry" %}:</span>
              <span>{% trans "Water runs through after rainfall" %}</span>
            </div>
            <!--Medium-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-medium.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>{% trans "Medium" %}:</span>
              <span>{% trans "Water is retained but not soggy" %}</span>
            </div>
            <!--Wet-->
            <div class="card">
              <img
                src="{% static 'images/plant-moisture-wet.svg' %}"
                alt="Soil Icon"
                class="icon"
              />
              <span>{% trans "Wet" %}:</span>
              <span>{% trans "Stays damp all year" %}</span>
            </div>
          </div>
        </article>
      </article>
    </section>

    <!-- Gardening Experience -->
    <section class="profile-reference mb-1">
      <h3>{% trans "Introductory Gardening Experience" %}</h3>
      <h4>{% trans "Gardening Experience" %}</h4>
      <article class="mb-1">
        <!--Beginner Friendly-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-beginner-friendly.svg' %}"
            alt="Beginner Friendly Icon"
            class="icon"
          />
          <span>{% trans "Beginner Friendly" %}:</span>
          <span>{% trans "Suitable for novice gardeners" %}</span>
        </div>
        <!--Does not Spread-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-does-not-spread.svg' %}"
            alt="Native to Ottawa Region Icon"
            class="icon"
          />
          <span>{% trans "Does not Spread" %}:</span>
          <span>{% trans "Plants will remain at the same place in the garden" %}</span>
        </div>
        <!--Easy to Germinate-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-germinate-easy.svg' %}"
            alt="Easy to Germinate Icon"
            class="icon"
          />
          <span>{% trans "Easy to Germinate" %}:</span>
          <span>{% trans "Indicates if the plant is easy to germinate from seeds" %}</span>
        </div>
        <!--Self-Seeding-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-self-seeding.svg' %}"
            alt="Self Seeding Icon"
            class="icon"
          />
          <span>{% trans "Self-Seeding" %}:</span>
          <span>{% trans "Plants that will produce seeds abundantly resulting in new plants" %}</span>
        </div>
      </article>

      <article class="mb-1">
        <h4>{% trans "Starter Packs" %}</h4>
        <p>
          {% trans "Starter Packs provide ideas for plants that go well together in the specified conditions (e.g. Shade, Sun Dry, Sun Wet)" %}
        </p>
      </article>
    </section>

    <!-- Growth Characteristics -->
    <section class="profile-reference mb-1">
      <h3>{% trans "Growth Characteristics" %}</h3>
      <article class="mb-1">
        <p>
          {% trans "This section includes information on the expected growth, life span and soil tolerances." %}
        </p>

        <article>
          <h4>{% trans "Physical Attributes" %}</h4>
          <p>
            {% trans "While exact heights and widths will vary, this section gives the typically observed maximums for the plant." %}
          </p>
          <p>
            {% trans "Max Height (feet)" %}<br />
            {% trans "Max Width (feet)" %}
          </p>
        </article>

        <article>
          <h4>{% trans "Lifespan" %}</h4>
          <ul>
            <li>{% trans "Annual: plants that have a lifespan of one year" %}</li>
            <li>
              {% trans "Biennial: plants that will take two years to bloom, and then will die" %}
            </li>
            <li>{% trans "Perennial: plants that will come back year after year" %}</li>
            <li>
              {% trans "Spring Ephemeral: plants that bloom in the spring that loose their leaves later in the year" %}
            </li>
          </ul>
        </article>

        <article>
          <h4>{% trans "Bloom Period" %}</h4>
          <p>
            {% trans "While exact bloom times will vary, this section gives the months blooms are typically observed for the plant." %}
          </p>
        </article>

        <article>
          <h4>{% trans "Bloom Colours" %}</h4>
          <p>{% trans "Provides the dominant bloom colour of a plant." %}</p>
        </article>
      </article>

      <!--Plant type-->
      <article class="profile-reference mb-1">
        <h4 class="">{% trans "Plant Type" %}</h4>
        <!--Conifer Tree-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Conifer Tree.svg' %}"
            alt="Conifer Tree Icon"
            class="icon"
          />
          <span>{% trans "Conifer Tree" %}</span>
        </div>
        <!--Deciduous Tree-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Deciduous Tree.svg' %}"
            alt="Deciduous Tree Icon"
            class="icon"
          />
          <span>{% trans "Deciduous Tree" %}</span>
        </div>
        <!--Flowering Plant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Flowering plant.svg' %}"
            alt="Flowering Plant Icon"
            class="icon"
          />
          <span>{% trans "Flowering Plant" %}</span>
        </div>
        <!--Grass-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Grass.svg' %}"
            alt="Grass Icon"
            class="icon"
          />
          <span>{% trans "Grass" %}</span>
        </div>
        <!--Shrub-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Shrub.svg' %}"
            alt="Shrub Icon"
            class="icon"
          />
          <span>{% trans "Shrub" %}</span>
        </div>
        <!--Vine-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-type-Vine.svg' %}"
            alt="Vine Icon"
            class="icon"
          />
          <span>{% trans "Vine" %}</span>
        </div>
      </article>

      <!--Soil Tolerances-->
      <article class="profile-reference mb-1">
        <h4>{% trans "Soil Tolerances" %}</h4>
        <!--Acidic Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-acidic-soil-tolerant.svg' %}"
            alt="{% trans "Acidic Soil Tolerant Icon" %}"
            class="icon"
          />
          <span>{% trans "Acidic Soil Tolerant:" %}</span>
          <span>{% trans "Can thrive in acidic soil conditions" %}</span>
        </div>
        <!--Limestone Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-limestone-tolerant.svg' %}"
            alt="Limestone Tolerant Icon"
            class="icon"
          />
          <span>{% trans "Limestone Tolerant:" %}</span>
          <span>{% trans "Can thrive in limestone soil conditions" %}</span>
        </div>
        <!--Sand Soil Tolerant-->
        <div class="card-box">
          <img
            src="{% static 'images/plant-sand-tolerant.svg' %}"
            alt="Sand Tolerant Icon"
            class="icon"
          />
          <span>{% trans "Sand Tolerant:" %}</span>
          <span>{% trans "Can thrive in sandy soil conditions" %}</span>
        </div>
      </article>
    </section>

    <!-- Harvesting and Seed Sharing -->
    <section class="profile-reference mb-1">
      <h3>{% trans "Harvesting and Seed Sharing" %}</h3>

      <article class="mb-1">
        <h4>{% trans "Harvesting Period Start" %}</h4>
        <p>
          {% trans "While exact harvest times will vary, this section gives the months the plants can usually be harvested." %}
        </p>
      </article>

      <article class="mb-1">
        <h4>{% trans "Winter Sowing Requirements" %}</h4>
        <p>
          {% trans "Indicates the minimum amount of Cold Moist Stratification required, as well as the corresponding month in Ottawa. See" %}
          <a
            target="_blank"
            href="https://wildflowerseedlibrary.ca/instructions/how-to-winter-sow-2/"
          >{% trans "Winter Sowing Requirements for more information about winter
            sowing." %}</a
            >
          </p>
        </article>
        <article>
          <h4>{% trans "Seed Sharing" %}</h4>
          <p>
            {% trans "This section confirms if the seeds are accepted by the Ottawa Wildflower Seed Library for donation, as well as if the seeds are available to be requested." %}
          </p>
          <p>
            {% trans "Show seeds accepted for donations - if you are looking to donate seeds and do not see the species when this filter is applied, we have reached sufficient inventory of these seeds." %}
          </p>
        </article>
      </section>

    <!--Landscape Uses and Applications-->
      <section class="profile-reference mb-1">
        <h3 class="">{% trans "Landscape Uses and Applications" %}</h3>
        <article class="mb-1">
          <h4>{% trans "Garden Suitability" %}</h4>
          <p>
            {% trans "This section indicates if the plants will be suitable to the conditions present in the specified garden type" %}
          </p>

        <!--Suitable for boulevard garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-boulevard-garden-tolerant.svg' %}"
              alt="Boulevard Garden Icon"
              class="icon"
            />
            <span>{% trans "Boulevard Garden:" %}</span>
            <span>{% trans "Can thrive in salted, dry, sunny gardens" %}</span>
          </div>

        <!--Suitable for Container Garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-container-suitable.svg' %}"
              alt="Container Suitable Icon"
              class="icon"
            />
            <span>{% trans "Container Garden:" %}</span>
            <span>{% trans "Can be grown and left in containers all year round" %}</span>
          </div>

        <!--Suitable for rain garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-rain-garden.svg' %}"
              alt="Rain Garden Icon"
              class="icon"
            />
            <span>{% trans "Rain Garden:" %}</span>
            <span>{% trans "Can thrive in wet and dry conditions" %}</span>
          </div>

        <!--Suitable for right of way garden-->
          <div class="card-box">
            <img
              src="{% static 'images/plant-row-garden.svg' %}"
              alt="Right of Way Garden Icon"
              class="icon"
            />
            <span>{% trans "Right of Way (ROW) Garden:" %}</span>
            <span
            >{% trans "Can thrive near roadways, tolerates salt and is below 2 feet
              tall" %}</span
              >
            </div>
        <!--Suitable for rock garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-rock-garden.svg' %}"
                alt="Rock Garden Icon"
                class="icon"
              />
              <span>{% trans "Rock Garden:" %}</span>
              <span>{% trans "Can thrive in rocky soil" %}</span>
            </div>

        <!--Suitable for school garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-school-garden.svg' %}"
                alt="School Garden Icon"
                class="icon"
              />
              <span>{% trans "School Garden:" %}</span>
              <span>{% trans "Short plants that can thrive in dry and sunny conditions" %}</span>
            </div>

        <!--Suitable for shoreline rehabilitation-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-shoreline-rehab.svg' %}"
                alt="Shoreline Rehabilitation Icon"
                class="icon"
              />
              <span>{% trans "Shoreline Rehabilitation:" %}</span>
              <span>{% trans "Can help stabilize soil" %}</span>
            </div>

        <!--Suitable for wetland garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-wetland-garden.svg' %}"
                alt="Wetland Garden Icon"
                class="icon"
              />
              <span>{% trans "Wetland Garden:" %}</span>
              <span>{% trans "Can thrive in soil in water" %}</span>
            </div>

        <!--Suitable for woodland garden-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-woodland-garden.svg' %}"
                alt="Woodland Garden Icon"
                class="icon"
              />
              <span>{% trans "Woodland Garden:" %}</span>
              <span>{% trans "Can thrive in shade or part shade" %}</span>
            </div>
          </article>

          <article class="mb-1">
            <h4>{% trans "Functional Uses" %}</h4>
        <!--suitable for ground cover   -->
            <div class="card-box">
              <img
                src="{% static 'images/plant-ground-cover.svg' %}"
                alt="Ground Cover Icon"
                class="icon"
              />
              <span>{% trans "Groundcover/Lawn Replacement:" %}</span>
              <span>{% trans "Can be used as ground cover" %}</span>
            </div>

        <!--suitable for hedge-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-hedge.svg' %}"
                alt="Hedge Icon"
                class="icon"
              />
              <span>{% trans "Hedge:" %}</span>
              <span>{% trans "Can be used as a hedge" %}</span>
            </div>

        <!--Transplantats Well-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-transplantation-tolerant.svg' %}"
                alt="Transplants Well Icon"
                class="icon"
              />
              <span>{% trans "Transplants Well:" %}</span>
              <span>{% trans "Can tolerate transplantation" %}</span>
            </div>
          </article>

          <h4>{% trans "Environmental Stress Tolerance" %}</h4>
          <article class="mb-1">
        <!--does tolerate foot traffic-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-foot-traffic-tolerant.svg' %}"
                alt="Can withstand foot traffic around the plant Icon"
                class="icon"
              />
              <span>{% trans "Can withstand foot traffic around the plant" %}</span>
            </div>
        <!--Drought Tolerant-->
            <div class="card-box">
              <img
                src="{% static 'images/plant-drought-tolerant.svg' %}"
                alt="Drought Tolerant Icon"
                class="icon"
              />
              <span>{% trans "Drought Tolerant:" %}</span>
              <span>{% trans "Can survive with minimal water" %}</span>
            </div>
            <div class="card-box">
              <img
                src="{% static 'images/plant-juglone-tolerant.svg' %}"
                alt="Juglone Tolerant Icon"
                class="icon"
              />
              <span>{% trans "Juglone Tolerant:" %}</span>
              <span
              >{% trans "Can tolerate juglone, a compound found in black walnut trees" %}</span
                >
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-salt-tolerant.svg' %}"
                  alt="Salt Tolerant Icon"
                  class="icon"
                />
                <span>{% trans "Salt Tolerant:" %}</span>
                <span>{% trans "Can withstand salt exposure" %}</span>
              </div>
            </article>


          </section>
    <!--End of Landscape Uses and Applications-->

    <!--Ecological Benefits-->
          <section class="profile-reference mb-1">
            <h3>{% trans "Ecological Benefits" %}</h3>
            <article class="mb-1">
              <h4>{% trans "Wildlife Interactions" %}</h4>
        <!--Bird Friendly-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-bird-friendly.svg' %}"
                  alt="Bird Friendly Icon"
                  class="icon"
                />
                <span>{% trans "Bird Friendly:" %}</span>
                <span>{% trans "Attracts birds" %}</span>
              </div>
        <!--Deer Tolerant-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-deer-tolerant.svg' %}"
                  alt="Deer Tolerant Icon"
                  class="icon"
                />
                <span>{% trans "Deer Tolerant:" %}</span>
                <span>{% trans "Can withstand deer browsing" %}</span>
              </div>
        <!--Hummingbird Friendly-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-hummingbird-friendly.svg' %}"
                  alt="Hummingbird Friendly Icon"
                  class="icon"
                />
                <span>{% trans "Hummingbird Friendly:" %}</span>
                <span>{% trans "Attracts hummingbirds" %}</span>
              </div>
        <!--Pollinator Garden-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-pollinator-garden.svg' %}"
                  alt="Pollinator Garden Icon"
                  class="icon"
                />
                <span>{% trans "Pollinator Garden:" %}</span>
                <span>{% trans "Attracts pollinators" %}</span>
              </div>
        <!--Rabbit Tolerant-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-rabbit-tolerant.svg' %}"
                  alt="Rabbit Tolerant Icon"
                  class="icon"
                />
                <span>{% trans "Rabbit Tolerant:" %}</span>
                <span>{% trans "Can withstand rabbit browsing" %}</span>
              </div>
            </article>

            <h4>{% trans "Ecosystem Services" %}</h4>
            <article class="mb-1">
        <!--Bee Host-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-bee-host.svg' %}"
                  alt="Bee Host Icon"
                  class="icon"
                />
                <span>{% trans "Specialized Bee Host:" %}</span>
                <span>{% trans "Supports specialized bees" %} </span>
              </div>
        <!--Butterfly Host-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-butterfly-host.svg' %}"
                  alt="Butterfly Host Icon"
                  class="icon"
                />
                <span>{% trans "Butterfly Host:" %}</span>
                <span>{% trans "Supports butterflies" %}</span>
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-keystones-species.svg' %}"
                  alt="Keystone Species Icon"
                  class="icon"
                />
                <span>{% trans "Keystone Species:" %}</span>
                <span>{% trans "Plays a critical role in the ecosystem" %}</span>
              </div>
              <div class="card-box">
                <img
                  src="{% static 'images/plant-nitrogen-fixer.svg' %}"
                  alt="Nitrogen Fixer Icon"
                  class="icon"
                />
                <span>{% trans "Nitrogen Fixer:" %}</span>
                <span>{% trans "Improves soil fertility" %}</span>
              </div>
            </article>
          </section>

    <!--Special Features and Consideration-->
          <section class="mb1">
            <h3>{% trans "Special Features and Considerations" %}</h3>
            <h4>{% trans "Conservation Status" %}</h4>
            <article class="mb-1">
        <!--Endangered-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-endangered.svg' %}"
                  alt="Plant Endangered Icon"
                  class="icon"
                />
                <span>{% trans "Endangered:" %}</span>
                <span>{% trans "Species that live in the wild in Ontario but is facing imminent extinction or extirpation" %} (<a target="_blank" href="https://explorer.natureserve.org/pro/Welcome/">Nature Serve</a> {% trans "for more information" %})</span>
              </div>
        <!--GRASP Candidate-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-grasp-candidate.svg' %}"
                  alt="GRASP Candidate Icon"
                  class="icon"
                />
                <span>{% trans "GRASP Program Member:" %}</span>
                <span>{% trans "Member of the Growing Rare and Significant Plants (GRASP) in Ottawa Program" %}</span>
              </div>
            </article>
            <h4>{% trans "Safety and Compatibility" %}</h4>
            <article class="mb-1">
        <!--Plant causes rash-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-causes-rash.svg' %}"
                  alt="Causes Rash Icon"
                  class="icon"
                />
                <span>{% trans "Causes Rash:" %}</span>
                <span>{% trans "May cause skin rashes or irritation" %}</span>
              </div>
        <!--Exclude plants that can cause skin rashes-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-does-not-cause-rash.svg' %}"
                  alt="Does Not Cause Rash Icon"
                  class="icon"
                />
                <span>{% trans "Does Not Cause Rash:" %}</span>
                <span>{% trans "Does not cause skin rashes or irritation" %}</span>
              </div>
        <!--Plant has burs or needles-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-burs-or-needles.svg' %}"
                  alt="Has Burs or Needles Icon"
                  class="icon"
                />
                <span>{% trans "Has Burs or Needles:" %}</span>
                <span>{% trans "May have burs or needles that can cause discomfort" %}</span>
              </div>
        <!--Septic tank safe-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-septic-tank-safe.svg' %}"
                  alt="Septic Tank Safe Icon"
                  class="icon"
                />
                <span>{% trans "Septic Tank Safe:" %}</span>
                <span>{% trans "Safe to plant near or over septic tank systems" %}</span>
              </div>
        <!--Toxic-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-toxic.svg' %}"
                  alt="Toxic Icon"
                  class="icon"
                />
                <span>{% trans "Toxic:" %}</span>
                <span>{% trans "May be toxic if ingested or handled improperly as indicated on the plant profile that bears this warning." %}</span>
              </div>
        <!--plant wears glove-->
              <div class="card-box">
                <img
                  src="{% static 'images/plant-wear-gloves.svg' %}"
                  alt="Wear Gloves Icon"
                  class="icon"
                />
                <span>{% trans "Wear Gloves:" %}</span>
                <span>{% trans "Handling may require gloves for safety" %}</span>
              </div>
            </article>
          </section>
    <!--End of Special Features and Consideration-->
    <!--Location-->
          <section class="mb-1">
            <h3>{% trans "Location" %}</h3>
            <p>{% trans "This section allows to filter by different location options, including by geographic location or by terrestrial ecozones and ecoprovinces, as defined by" %} <a target="_blank"
                                                                                                                                                                                         href="https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map">{% trans "Statistics Canada" %}</a>.
            </p>
            <h4>{% trans "Provinces and Territories" %}</h4>
            <article class="mb-1">
              <p>
                {% trans "Note: Distribution for this section is according to" %}
                <a target="_blank" href="https://data.canadensys.net/vascan/search"
                >VASCAN</a
                  >.
                </p>
                <ul>
                  <li>{% trans "Alberta" %}</li>
                  <li>{% trans "British Columbia" %}</li>
                  <li>{% trans "Manitoba" %}</li>
                  <li>{% trans "New Brunswick" %}</li>
                  <li>{% trans "Newfoundland and Labrador" %}</li>
                  <li>{% trans "Nova Scotia" %}</li>
                  <li>{% trans "Northwest Territories" %}</li>
                  <li>{% trans "Nunavut" %}</li>
                  <li>{% trans "Ontario" %}</li>
                  <li>{% trans "Prince Edward Island" %}</li>
                  <li>{% trans "Quebec" %}</li>
                  <li>{% trans "Saskatchewan" %}</li>
                  <li>{% trans "Yukon" %}</li>
                </ul>
              </article>
              <h4>{% trans "Ecozones" %}</h4>
              <article class="mb-1">
                <p>{% trans "Terrestrial ecozones and ecoprovinces of Canada as defined by Statistics Canada. For more information on Ecozones, visit:" %}
                  <a
                    target="_blank"
                    href="https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map"
                  >https://www.statcan.gc.ca/en/subjects/standard/environment/elc/2017-map</a
                    >
                  </p>
                  <ul>
                    <li>{% trans "Arctic Cordillera" %}</li>
                    <li>{% trans "Atlantic Maritime" %}</li>
                    <li>{% trans "Boreal Cordillera" %}</li>
                    <li>{% trans "Boreal Plains" %}</li>
                    <li>{% trans "Boreal Shield" %}</li>
                    <li>{% trans "Hudson Plains" %}</li>
                    <li>{% trans "Mixedwood Plains" %}</li>
                    <li>{% trans "Montane Cordillera" %}</li>
                    <li>{% trans "Northern Arctic" %}</li>
                    <li>{% trans "Pacific Maritime" %}</li>
                    <li>{% trans "Prairies" %}</li>
                    <li>{% trans "Southern Arctic" %}</li>
                    <li>{% trans "Taiga Cordiller" %}</li>
                    <li>{% trans "Taiga Plains" %}</li>
                    <li>{% trans "Taiga Shield" %}</li>
                  </ul>
                </article>
                <h4>{% trans "Other" %}</h4>
                <article class="mb-1">
                  <p>
                    {% trans "Native to Ottawa Region." %}
                  </p>
                </article>
              </section>
            </div>
          </section>
