<h3>Native to Ottawa region: {% if plant.native_to_ottawa_region %}Yes{% else %}No{% endif %}</h3>

{% if plant.taxon %}
  <div class="vascan-distribution">
    <h3>Distribution according to VASCAN</h3>
    <div class="vascan-map">
      <img
        src="https://data.canadensys.net/vascan/images/distribution/{{plant.taxon}}.png"
        width="400"
        height="400"
        alt="Distribution: {{plant.latin_name}}"
        id="png"
      />
    </div>
    <div class="vascan-legend">
      <span style="background-color: #f2df0c; color: #000">Ephemeral</span>
      <span style="background-color: #77bb2b; color: #000">Native</span>
      <span style="background-color: #e98c1f; color: #000">Introduced</span>
      <span style="background-color: #6e6e6e; color: #fff">Excluded</span>
      <span style="background-color: #000; color: #fff">Extirpated</span>
      <span style="background-color: #afafaf; color: #000">Doubtful</span>
      <span style="background-color: #d3d3d3; color: #000">Absent</span>
    </div>
    <a
      target="blank"
      href="https://data.canadensys.net/vascan/taxon/{{plant.taxon}}?lang=en"
    >
      <span class="navbar-logo_text">View taxonomy on Canadensys</span>
    </a>
  </div>
{% endif %}
