{% load static %}
<div class="plant-profile-characteristics-item">
  <span>Landscape Uses:</span>
  {% if not landscape_use %}
    <span>No landscape information available.</span>
  {% else %}
    {% if plant.rock_garden %}
      <div class="tooltip">
        <img
          alt="rock garden"
          class="icon"
          src="{% static 'images/plant-rock-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for rock gardens</span>
      </div>
    {% endif %}
    {% if is_row_garden %}
      <div class="tooltip">
        <img
          alt="row garden"
          class="icon"
          src="{% static 'images/plant-row-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for Right of Way gardens</span>
      </div>
    {% endif %}
    {% if plant.wetland_garden %}
      <div class="tooltip">
        <img
          alt="wetland garden"
          class="icon"
          src="{% static 'images/plant-wetland-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for wetland garden</span>
      </div>
    {% endif %} {% if plant.rain_garden %}
      <div class="tooltip">
        <img
          alt="rain garden"
          class="icon"
          src="{% static 'images/plant-rain-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for rain gardens</span>
      </div>
    {% endif %} {% if plant.shoreline_rehab %}
      <div class="tooltip">
        <img
          alt="shoreline_rehab"
          class="icon"
          src="{% static 'images/plant-shoreline-rehab.svg'  %}"
        />
        <span class="tooltiptext">Suitable for shoreline rehabilitation</span>
      </div>
    {% endif %} {% if plant.container_suitable %}
      <div class="tooltip">
        <img
          alt="container suitable"
          class="icon"
          src="{% static 'images/plant-container-suitable.svg'  %}"
        />
        <span class="tooltiptext">Suitable for container garden</span>
      </div>
    {% endif %} {% if plant.school_garden %}
      <div class="tooltip">
        <img
          alt="school garden"
          class="icon"
          src="{% static 'images/plant-school-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for school gardens</span>
      </div>
    {% endif %} {% if plant.ground_cover %}
      <div class="tooltip">
        <img
          alt="ground cover"
          class="icon"
          src="{% static 'images/plant-ground-cover.svg'  %}"
        />
        <span class="tooltiptext">Suitable for ground cover</span>
      </div>
    {% endif %} {% if plant.garden_hedge %}
      <div class="tooltip">
        <img
          alt="garden hedge"
          class="icon"
          src="{% static 'images/plant-garden-hedge.svg'  %}"
        />
        <span class="tooltiptext">Suitable for garden hedges</span>
      </div>
    {% endif %} {% if plant.woodland_garden %}
      <div class="tooltip">
        <img
          alt="woodland garden"
          class="icon"
          src="{% static 'images/plant-woodland-garden.svg'  %}"
        />
        <span class="tooltiptext">Suitable for woodland gardens</span>
      </div>
    {% endif %} {% if plant.hedge %}
      <div class="tooltip">
        <img
          alt="hedge"
          class="icon"
          src="{% static 'images/plant-hedge.svg'  %}"
        />
        <span class="tooltiptext">Can be used as a hedge</span>
      </div>
    {% endif %}{% if plant.boulevard_garden_tolerant %}
      <div class="tooltip">
        <img
          alt="boulevard garden tolerant"
          class="icon"
          src="{% static 'images/plant-boulevard-garden-tolerant.svg'  %}"
        />
        <span class="tooltiptext">Tolerates boulevard garden conditions</span>
      </div>
    {% endif %}
  {% endif %}
</div>
