{% load static %}
<div class="plant-profile-characteristics-item">
  <span>Tolerates:</span> {% if plant.drought_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="drought Tolerant"
        class="icon"
        src="{% static 'images/plant-drought-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates drought conditions</span>
    </div>
  {% endif %} {% if plant.salt_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="Salt Tolerant"
        class="icon"
        src="{% static 'images/plant-salt-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates salt conditions</span>
    </div>
  {% endif %} {% if plant.deer_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="Deer Resistant"
        class="icon"
        src="{% static 'images/plant-deer-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Deer resistant</span>
    </div>
  {% endif %} {% if plant.rabbit_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="rabbit resistant"
        class="icon"
        src="{% static 'images/plant-rabbit-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Rabbit resistant</span>
    </div>
  {% endif %} {% if plant.foot_traffic_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="foot traffic Tolerant"
        class="icon"
        src="{% static 'images/plant-foot-traffic-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates foot traffic</span>
    </div>
  {% endif %} {% if plant.limestone_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="limestone Tolerant"
        class="icon"
        src="{% static 'images/plant-limestone-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates limestone conditions</span>
    </div>
  {% endif %} {% if plant.sand_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="sand Tolerant"
        class="icon"
        src="{% static 'images/plant-sand-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates sandy conditions</span>
    </div>
  {% endif %} {% if plant.acidic_soil_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="acidic soil Tolerant"
        class="icon"
        src="{% static 'images/plant-acidic-soil-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates acidic soil conditions</span>
    </div>
  {% endif %} {% if plant.juglone_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="juglone Tolerant"
        class="icon"
        src="{% static 'images/plant-juglone-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates juglone conditions</span>
    </div>
  {% endif %} {% if plant.transplantation_tolerant %}
    <div class="tooltip">
      <img
        title=""
        alt="transplantation Tolerant"
        class="icon"
        src="{% static 'images/plant-transplantation-tolerant.svg'  %}"
      />
      <span class="tooltiptext">Tolerates transplantation</span>
    </div>
  {% endif %}
</div>
