{% load i18n static %}

<div class="plant-profile-characteristics-item">
  <span>{% trans "Gardener Experience" %}:</span>
  {% if plant.beginner_friendly %}
    <div class="tooltip">
      <img
        alt="beginner friendly"
        class="icon"
        src="{% static 'images/plant-beginner-friendly.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Suitable for beginner gardeners" %}</span>
    </div>
  {% endif %}

  {% if plant.does_not_spread %}
    <div class="tooltip">
      <img
        alt="does not spread"
        class="icon"
        src="{% static 'images/plant-does-not-spread.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Does not spread uncontrollably" %}</span>
    </div>
  {% endif %}

  {% if plant.germinate_easy %}
    <div class="tooltip">
      <img
        alt="plant germinate easy"
        class="icon"
        src="{% static 'images/plant-germinate-easy.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Easy to germinate" %}</span>
    </div>
  {% endif %}

  {% if plant.self_seeding %}
    <div class="tooltip">
      <img
        alt="plant self seeding"
        class="icon"
        src="{% static 'images/plant-self-seeding.svg'  %}"
      />
      <span class="tooltiptext">{% trans "Self-seeding" %}</span>
    </div>
  {% endif %}
</div>
