<!--This template displays the sowing information for the plant-->
{% load i18n %}
{% load static %}
<div>
  <!--link to pdf sowing label-->
  <a href="{% url 'plant-label-pdf' plant.pk %}" target="_blank">{% trans "Download Seed Envelope Labels (PDF)" %}</a>
  <ul>
    <li>{% trans "Sowing depth:" %} {{ plant.sowing_depth }}</li>
    <li>{{ sow_before|default:"Sow anytime" }}</li>
    {% if plant.stratification_detail %}
      <li>{% trans "Stratification conditions:" %} {{ plant.stratification_detail }}</li>
    {% endif %}
    <li>{% trans "Stratification duration:" %}
      {% if plant.double_dormancy %}
        2 {% trans "years" %}
      {% elif plant.stratification_duration %}
        {{ plant.stratification_duration }}</li>
      {% else %}
        {% trans "Not Available" %}
      {% endif %}
      {% if plant.self_seeding %}
        <li>{% trans "Self-seeding" %}</li>
      {% endif %}
      {% if plant.double_dormancy %}
        <li>{% trans "Double dormancy required" %}</li>
      {% endif %}
      {% if plant.sowing_notes %}
        <li>{% trans "Notes:" %} {{ plant.sowing_notes }}</li>
      {% endif %}
    </ul>
  </div>
